<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bleed_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{34,30}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,14},{34,30}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>Bleed_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{30,28}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,12},{30,28}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>Bleed_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{50,34}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{50,34}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>Bleed_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,30}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{52,30}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>Bleed_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{48,38}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{48,38}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>Bleed_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{50,40}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{50,40}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>Bleed_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{40,40}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{40,40}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bleed.png</string>
            <key>size</key>
            <string>{56,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:346e5f49a265474a0bece893314064bb:1/1$</string>
            <key>textureFileName</key>
            <string>Bleed.png</string>
        </dict>
    </dict>
</plist>
