<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_scenedoor_13_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,2},{106,110}}</string>
                <key>offset</key>
                <string>{-34,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{106,110}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>eff_scenedoor_13_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,2},{126,136}}</string>
                <key>offset</key>
                <string>{-27,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,136}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>eff_scenedoor_13_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{130,136}}</string>
                <key>offset</key>
                <string>{-25,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,136}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>eff_scenedoor_13_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,140}}</string>
                <key>offset</key>
                <string>{-25,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,140}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>eff_scenedoor_13_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{128,136}}</string>
                <key>offset</key>
                <string>{-25,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,136}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>eff_scenedoor_13_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,2},{126,136}}</string>
                <key>offset</key>
                <string>{-25,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,136}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>eff_scenedoor_13_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,2},{116,118}}</string>
                <key>offset</key>
                <string>{-31,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{116,118}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>eff_scenedoor_13_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,2},{116,126}}</string>
                <key>offset</key>
                <string>{-28,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{116,126}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>eff_scenedoor_13_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{120,128}}</string>
                <key>offset</key>
                <string>{-28,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{120,128}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>eff_scenedoor_13_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{122,128}}</string>
                <key>offset</key>
                <string>{-28,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{122,128}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>eff_scenedoor_13_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{124,130}}</string>
                <key>offset</key>
                <string>{-28,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,130}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>eff_scenedoor_13_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,2},{124,132}}</string>
                <key>offset</key>
                <string>{-28,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,132}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>eff_scenedoor_13_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,2},{126,134}}</string>
                <key>offset</key>
                <string>{-26,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{126,134}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>eff_scenedoor_13_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{128,136}}</string>
                <key>offset</key>
                <string>{-26,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,136}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>eff_scenedoor_13_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{130,132}}</string>
                <key>offset</key>
                <string>{-25,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,132}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_scenedoor_13_2.png</string>
            <key>size</key>
            <string>{1954,134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12788a0518051621fad9bf8874364712:1/1$</string>
            <key>textureFileName</key>
            <string>eff_scenedoor_13_2.png</string>
        </dict>
    </dict>
</plist>
