<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_summon_aperture_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{90,86}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{90,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>eff_summon_aperture_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1104},{80,88}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{80,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>eff_summon_aperture_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{90,86}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{90,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>eff_summon_aperture_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{94,84}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{94,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>eff_summon_aperture_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{94,74}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{94,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>eff_summon_aperture_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{94,76}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{94,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>eff_summon_aperture_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{92,84}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{92,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>eff_summon_aperture_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{80,88}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{80,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>eff_summon_aperture_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1186},{86,86}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>eff_summon_aperture_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{92,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{92,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>eff_summon_aperture_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{94,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{94,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>eff_summon_aperture_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{94,76}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{94,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>eff_summon_aperture_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,88}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{94,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>eff_summon_aperture_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{92,88}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{92,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>eff_summon_aperture_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{84,88}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{84,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_summon_aperture.png</string>
            <key>size</key>
            <string>{98,1274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:685ab0ce31b381d3470d914d911c2cdc:1/1$</string>
            <key>textureFileName</key>
            <string>eff_summon_aperture.png</string>
        </dict>
    </dict>
</plist>
