<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_scenedoor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1908},{132,114}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,5},{132,114}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_scenedoor_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{136,122}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{136,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_scenedoor_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{136,122}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{136,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_scenedoor_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{134,122}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{134,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_scenedoor_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,122}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{130,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_scenedoor_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1362},{120,120}}</string>
                <key>offset</key>
                <string>{13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{120,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_scenedoor_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1240},{120,120}}</string>
                <key>offset</key>
                <string>{13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,5},{120,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_scenedoor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1768},{138,116}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{138,116}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_scenedoor_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1626},{140,116}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{140,116}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_scenedoor_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1484},{140,118}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{140,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_scenedoor_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1098},{140,120}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{140,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_scenedoor_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{140,120}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{140,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_scenedoor_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{138,122}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{138,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_scenedoor_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{138,122}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{138,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_scenedoor_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{136,122}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{136,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_scenedoor.png</string>
            <key>size</key>
            <string>{134,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4f24f17fab34f542c7f9e07282ba474:1/1$</string>
            <key>textureFileName</key>
            <string>eff_scenedoor.png</string>
        </dict>
    </dict>
</plist>
