<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Finger_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{62,68}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,48},{62,68}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Finger_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,474},{62,64}}</string>
                <key>offset</key>
                <string>{26,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,53},{62,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Finger_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,178},{110,108}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,18},{110,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Finger_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{126,126}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{126,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Finger_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,136}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{136,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Finger_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,394},{64,60}}</string>
                <key>offset</key>
                <string>{26,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,57},{64,60}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Finger_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,394},{64,56}}</string>
                <key>offset</key>
                <string>{26,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,61},{64,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Finger_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,460},{90,80}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,38},{90,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Finger_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,92},{94,84}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,34},{94,84}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Finger_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{98,88}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,30},{98,88}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Finger_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{102,92}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{102,92}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Finger_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,290},{108,102}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{108,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Finger_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{110,110}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{110,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Finger.png</string>
            <key>size</key>
            <string>{240,548}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bf10eba87349ca1668a28e1ae293b8f:1/1$</string>
            <key>textureFileName</key>
            <string>Finger.png</string>
        </dict>
    </dict>
</plist>
