<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kroom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,472},{2,2}}</string>
                <key>offset</key>
                <string>{-47,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{2,2}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,174},{84,38}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{84,38}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,174},{84,38}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{84,38}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,174},{84,38}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{84,38}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,174},{84,38}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{84,38}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,174},{84,38}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{84,38}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,174},{84,38}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{84,38}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,88},{84,38}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,16},{84,38}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{84,38}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{84,38}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{84,40}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{84,40}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{84,40}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{84,40}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{18,10}}</string>
                <key>offset</key>
                <string>{-39,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{18,10}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,40}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{84,40}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,346},{84,38}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{84,38}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,260},{84,38}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{84,38}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{84,38}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{84,38}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{84,38}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{84,38}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,344},{82,38}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{82,38}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{84,38}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{84,38}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,260},{82,38}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{82,38}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{82,36}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{82,36}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,86},{80,36}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{80,36}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,238},{34,16}}</string>
                <key>offset</key>
                <string>{-30,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,52},{34,16}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,472},{1,1}}</string>
                <key>offset</key>
                <string>{-47.5,37.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,428},{52,24}}</string>
                <key>offset</key>
                <string>{-22,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,39},{52,24}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,168},{68,32}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,27},{68,32}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,174},{84,38}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{84,38}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,174},{84,38}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{84,38}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,174},{84,38}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{84,38}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
            <key>Kroom_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,174},{84,38}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{84,38}}</string>
                <key>sourceSize</key>
                <string>{96,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Kroom.png</string>
            <key>size</key>
            <string>{122,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dff7f7ad52baa2b43538a824c87154d7:1/1$</string>
            <key>textureFileName</key>
            <string>Kroom.png</string>
        </dict>
    </dict>
</plist>
