<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Relive_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,2},{86,84}}</string>
                <key>offset</key>
                <string>{-2,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,120},{86,84}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>Relive_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,2},{144,184}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,26},{144,184}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>Relive_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,2},{128,176}}</string>
                <key>offset</key>
                <string>{-11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,33},{128,176}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>Relive_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,2},{120,188}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,29},{120,188}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>Relive_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,2},{136,192}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,24},{136,192}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>Relive_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{160,196}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,21},{160,196}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>Relive_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,198}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,18},{172,198}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>Relive_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{158,194}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,20},{158,194}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>Relive_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{150,188}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,21},{150,188}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>Relive_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{150,186}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,23},{150,186}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
            <key>Relive_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{150,186}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,24},{150,186}}</string>
                <key>sourceSize</key>
                <string>{180,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Relive.png</string>
            <key>size</key>
            <string>{1996,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c28d8c3e017e73ceea24ba446d5e799f:1/1$</string>
            <key>textureFileName</key>
            <string>Relive.png</string>
        </dict>
    </dict>
</plist>
