<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_blood_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,236},{220,214}}</string>
                <key>offset</key>
                <string>{-20,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,40},{220,214}}</string>
                <key>sourceSize</key>
                <string>{360,350}</string>
            </dict>
            <key>ui_blood_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{256,278}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,36},{256,278}}</string>
                <key>sourceSize</key>
                <string>{360,350}</string>
            </dict>
            <key>ui_blood_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{236,232}}</string>
                <key>offset</key>
                <string>{-36,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,67},{236,232}}</string>
                <key>sourceSize</key>
                <string>{360,350}</string>
            </dict>
            <key>ui_blood_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{236,232}}</string>
                <key>offset</key>
                <string>{-36,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,67},{236,232}}</string>
                <key>sourceSize</key>
                <string>{360,350}</string>
            </dict>
            <key>ui_blood_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,236},{220,214}}</string>
                <key>offset</key>
                <string>{-20,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,40},{220,214}}</string>
                <key>sourceSize</key>
                <string>{360,350}</string>
            </dict>
            <key>ui_blood_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,594},{262,266}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,31},{262,266}}</string>
                <key>sourceSize</key>
                <string>{360,350}</string>
            </dict>
            <key>ui_blood_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,594},{262,266}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,31},{262,266}}</string>
                <key>sourceSize</key>
                <string>{360,350}</string>
            </dict>
            <key>ui_blood_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{280,292}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,22},{280,292}}</string>
                <key>sourceSize</key>
                <string>{360,350}</string>
            </dict>
            <key>ui_blood_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{280,292}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,22},{280,292}}</string>
                <key>sourceSize</key>
                <string>{360,350}</string>
            </dict>
            <key>ui_blood_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,296}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,21},{280,296}}</string>
                <key>sourceSize</key>
                <string>{360,350}</string>
            </dict>
            <key>ui_blood_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,296}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,21},{280,296}}</string>
                <key>sourceSize</key>
                <string>{360,350}</string>
            </dict>
            <key>ui_blood_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{256,278}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,36},{256,278}}</string>
                <key>sourceSize</key>
                <string>{360,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_blood_1.png</string>
            <key>size</key>
            <string>{524,874}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a155cde5234a9836ceebb54d771b6f4$</string>
            <key>textureFileName</key>
            <string>ui_blood_1.png</string>
        </dict>
    </dict>
</plist>
