<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_map_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,96},{38,18}}</string>
                <key>offset</key>
                <string>{21,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,84},{38,18}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>ui_map_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,2},{82,92}}</string>
                <key>offset</key>
                <string>{-100,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,44},{82,92}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>ui_map_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,2},{78,90}}</string>
                <key>offset</key>
                <string>{-99,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,46},{78,90}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>ui_map_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,116},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>ui_map_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,116},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>ui_map_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,116},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>ui_map_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,116},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>ui_map_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,116},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>ui_map_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,116},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>ui_map_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,116},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>ui_map_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,116},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>ui_map_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,72},{38,46}}</string>
                <key>offset</key>
                <string>{21,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,56},{38,46}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>ui_map_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,116},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>ui_map_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,2},{126,64}}</string>
                <key>offset</key>
                <string>{64,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,38},{126,64}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>ui_map_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,2},{128,68}}</string>
                <key>offset</key>
                <string>{63,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,34},{128,68}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>ui_map_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{260,124}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{260,124}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>ui_map_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,124}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{264,124}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>ui_map_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,2},{270,122}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{270,122}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>ui_map_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{274,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{274,122}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>ui_map_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{280,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{280,122}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_map_2.png</string>
            <key>size</key>
            <string>{1782,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f4c0fbb4740a8dcf8ff9c9f4a320541:1/1$</string>
            <key>textureFileName</key>
            <string>ui_map_2.png</string>
        </dict>
    </dict>
</plist>
