<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_map_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,802},{336,198}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{336,198}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>ui_map_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,802},{336,198}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{336,198}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>ui_map_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{336,198}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{336,198}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>ui_map_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,602},{336,198}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{336,198}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>ui_map_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,602},{336,198}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{336,198}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>ui_map_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{336,198}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{336,198}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>ui_map_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,402},{336,198}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{336,198}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>ui_map_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,402},{336,198}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{336,198}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>ui_map_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{336,198}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{336,198}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>ui_map_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,202},{336,198}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{336,198}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>ui_map_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,202},{336,198}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{336,198}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>ui_map_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{336,198}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{336,198}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>ui_map_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{336,198}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{336,198}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>ui_map_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{336,198}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{336,198}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
            <key>ui_map_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,198}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{336,198}}</string>
                <key>sourceSize</key>
                <string>{350,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_map_1.png</string>
            <key>size</key>
            <string>{1016,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afc37005f4d9221083a6e1545d36ae6b:1/1$</string>
            <key>textureFileName</key>
            <string>ui_map_1.png</string>
        </dict>
    </dict>
</plist>
