<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_map_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{810,482}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{810,482}}</string>
                <key>sourceSize</key>
                <string>{850,500}</string>
            </dict>
            <key>ui_map_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{810,482}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{810,482}}</string>
                <key>sourceSize</key>
                <string>{850,500}</string>
            </dict>
            <key>ui_map_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{810,482}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{810,482}}</string>
                <key>sourceSize</key>
                <string>{850,500}</string>
            </dict>
            <key>ui_map_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{808,484}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{808,484}}</string>
                <key>sourceSize</key>
                <string>{850,500}</string>
            </dict>
            <key>ui_map_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1456},{810,484}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{810,484}}</string>
                <key>sourceSize</key>
                <string>{850,500}</string>
            </dict>
            <key>ui_map_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,970},{810,484}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{810,484}}</string>
                <key>sourceSize</key>
                <string>{850,500}</string>
            </dict>
            <key>ui_map_6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1456},{810,486}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{810,486}}</string>
                <key>sourceSize</key>
                <string>{850,500}</string>
            </dict>
            <key>ui_map_6_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,486},{808,482}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{808,482}}</string>
                <key>sourceSize</key>
                <string>{850,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_map_6.png</string>
            <key>size</key>
            <string>{1626,1944}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9d173787cb0be60882ce5f3f6cb2d4f:1/1$</string>
            <key>textureFileName</key>
            <string>ui_map_6.png</string>
        </dict>
    </dict>
</plist>
