<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_map_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,210},{370,200}}</string>
                <key>offset</key>
                <string>{-15,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,20},{370,200}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>ui_map_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,726},{396,276}}</string>
                <key>offset</key>
                <string>{-16,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{396,276}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>ui_map_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,210},{398,292}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{398,292}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>ui_map_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1004},{380,222}}</string>
                <key>offset</key>
                <string>{-23,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{380,222}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>ui_map_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{382,236}}</string>
                <key>offset</key>
                <string>{-22,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{382,236}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>ui_map_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{380,248}}</string>
                <key>offset</key>
                <string>{-21,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{380,248}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>ui_map_3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1234},{380,244}}</string>
                <key>offset</key>
                <string>{-21,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{380,244}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>ui_map_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1248},{362,226}}</string>
                <key>offset</key>
                <string>{-11,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,6},{362,226}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>ui_map_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1004},{364,242}}</string>
                <key>offset</key>
                <string>{-12,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,1},{364,242}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>ui_map_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,582},{358,202}}</string>
                <key>offset</key>
                <string>{-15,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,9},{358,202}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>ui_map_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{402,206}}</string>
                <key>offset</key>
                <string>{-20,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{402,206}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>ui_map_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,216}}</string>
                <key>offset</key>
                <string>{-20,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{402,216}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>ui_map_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,504},{398,220}}</string>
                <key>offset</key>
                <string>{-17,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,24},{398,220}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>ui_map_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{398,258}}</string>
                <key>offset</key>
                <string>{-17,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{398,258}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
            <key>ui_map_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{398,264}}</string>
                <key>offset</key>
                <string>{-17,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{398,264}}</string>
                <key>sourceSize</key>
                <string>{450,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_map_3.png</string>
            <key>size</key>
            <string>{1008,1500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07d2ade23053c400780988230a5aa331:1/1$</string>
            <key>textureFileName</key>
            <string>ui_map_3.png</string>
        </dict>
    </dict>
</plist>
