<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>810116_Idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,486},{28,42}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,59},{28,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{28,42}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,59},{28,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,442},{28,42}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,59},{28,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{28,42}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,59},{28,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,398},{28,42}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,59},{28,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{26,42}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,59},{26,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,618},{26,42}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,59},{26,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{26,42}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,59},{26,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,574},{26,42}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,59},{26,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{26,42}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,59},{26,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle011.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,530},{26,42}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,59},{26,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{26,42}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,59},{26,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{26,42}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,59},{26,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle014.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,46},{26,42}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,59},{26,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle015.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{26,42}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,59},{26,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{28,42}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,59},{28,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle017.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,354},{28,42}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,59},{28,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{28,42}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,59},{28,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle019.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,310},{28,42}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,59},{28,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{28,42}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,59},{28,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle021.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,830},{28,40}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,61},{28,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{28,40}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,61},{28,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{28,40}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,61},{28,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle024.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,788},{28,40}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,61},{28,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{30,42}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,59},{30,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle026.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,266},{28,42}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,59},{28,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{28,42}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,59},{28,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle028.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,222},{28,42}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,59},{28,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{28,42}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,59},{28,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle030.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,178},{28,42}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,59},{28,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{28,42}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,59},{28,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle032.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,134},{28,42}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,59},{28,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{28,42}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,59},{28,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle034.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,90},{28,42}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,59},{28,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{28,42}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,59},{28,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,42}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,59},{30,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle037.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,746},{28,40}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,61},{28,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{28,40}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,61},{28,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle039.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,704},{28,40}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,61},{28,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle040.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,662},{28,40}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,61},{28,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810116_Idle041.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,486},{28,42}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,59},{28,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>810116.png</string>
            <key>size</key>
            <string>{62,876}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55f3f009da99a2bf15036bf5c361924d$</string>
            <key>textureFileName</key>
            <string>810116.png</string>
        </dict>
    </dict>
</plist>
