<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>810104_AfterClick001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,82},{44,78}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,82},{42,78}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,133},{42,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,162},{42,78}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,133},{42,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,162},{44,78}}</string>
                <key>offset</key>
                <string>{7,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,2},{44,78}}</string>
                <key>offset</key>
                <string>{9,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,80},{46,76}}</string>
                <key>offset</key>
                <string>{10,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,135},{46,76}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick007.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,206},{46,76}}</string>
                <key>offset</key>
                <string>{11,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,135},{46,76}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,162},{48,76}}</string>
                <key>offset</key>
                <string>{11,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,135},{48,76}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,2},{50,76}}</string>
                <key>offset</key>
                <string>{12,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,135},{50,76}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,156},{50,74}}</string>
                <key>offset</key>
                <string>{13,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,137},{50,74}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,80},{52,74}}</string>
                <key>offset</key>
                <string>{13,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,137},{52,74}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,2},{56,76}}</string>
                <key>offset</key>
                <string>{16,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,135},{56,76}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick013.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{62,80}}</string>
                <key>offset</key>
                <string>{18,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,131},{62,80}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick014.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{66,82}}</string>
                <key>offset</key>
                <string>{21,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,129},{66,82}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick015.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{72,86}}</string>
                <key>offset</key>
                <string>{23,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,125},{72,86}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick016.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,128},{76,92}}</string>
                <key>offset</key>
                <string>{25,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,119},{76,92}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick017.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,128},{80,94}}</string>
                <key>offset</key>
                <string>{27,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,117},{80,94}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick018.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,152},{84,98}}</string>
                <key>offset</key>
                <string>{29,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,113},{84,98}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick019.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,136},{86,104}}</string>
                <key>offset</key>
                <string>{31,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,107},{86,104}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick020.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,142},{90,110}}</string>
                <key>offset</key>
                <string>{32,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,101},{90,110}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{92,114}}</string>
                <key>offset</key>
                <string>{33,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,97},{92,114}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick022.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,132},{94,120}}</string>
                <key>offset</key>
                <string>{34,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,91},{94,120}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick023.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{94,124}}</string>
                <key>offset</key>
                <string>{35,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,87},{94,124}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick024.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{96,128}}</string>
                <key>offset</key>
                <string>{35,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,83},{96,128}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick025.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{96,132}}</string>
                <key>offset</key>
                <string>{35,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,79},{96,132}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick026.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{96,138}}</string>
                <key>offset</key>
                <string>{35,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,73},{96,138}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick027.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,156},{96,142}}</string>
                <key>offset</key>
                <string>{36,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,69},{96,142}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick028.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{100,148}}</string>
                <key>offset</key>
                <string>{37,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,63},{100,148}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick029.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{102,152}}</string>
                <key>offset</key>
                <string>{39,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,59},{102,152}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,156}}</string>
                <key>offset</key>
                <string>{41,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,55},{108,156}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick031.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,224},{28,54}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,157},{28,54}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick032.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,224},{28,68}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,143},{28,68}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick033.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,222},{30,70}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,141},{30,70}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick034.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,90},{34,72}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,139},{34,72}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick035.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,86},{38,76}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,135},{38,76}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_AfterClick036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,82},{44,78}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_CanClick001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,82},{44,78}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_CanClick002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,162},{44,78}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_CanClick003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{44,78}}</string>
                <key>offset</key>
                <string>{-5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_CanClick004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,82},{44,78}}</string>
                <key>offset</key>
                <string>{-7,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_CanClick005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,162},{44,78}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_CanClick006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,2},{44,78}}</string>
                <key>offset</key>
                <string>{3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_CanClick007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,82},{44,78}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_CanClick008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,162},{44,78}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_CanClick009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,2},{42,78}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,133},{42,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_CanClick010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,82},{42,78}}</string>
                <key>offset</key>
                <string>{3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,133},{42,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_CanClick011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,162},{42,78}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,133},{42,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_CanClick012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{44,78}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_CanClick013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,82},{44,78}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_CanClick014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,162},{44,78}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_CanClick015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,2},{44,78}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_CanClick016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,82},{44,78}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_Idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,82},{44,78}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_Idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,82},{44,78}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_Idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,162},{44,78}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_Idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,2},{44,78}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_Idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,82},{44,78}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_Idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,162},{44,78}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_Idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,2},{42,78}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,133},{42,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_Idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2},{44,78}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_Idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,82},{44,78}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_Idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,162},{44,78}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_Idle011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{44,78}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_Idle012.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,82},{44,78}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_Idle013.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,162},{44,78}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_Idle014.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{44,78}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_Idle015.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,82},{44,78}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_Idle016.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,164},{44,78}}</string>
                <key>offset</key>
                <string>{-5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_Idle017.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{44,78}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_Idle018.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,84},{44,78}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_Idle019.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,126},{44,78}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_Idle020.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,126},{44,78}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>810104_Idle021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,82},{44,78}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,133},{44,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>810104.png</string>
            <key>size</key>
            <string>{1572,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2183b92ad36bfb3cc5ad116f7e5928a$</string>
            <key>textureFileName</key>
            <string>810104.png</string>
        </dict>
    </dict>
</plist>
