<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,938},{42,32}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{42,32}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,938},{48,38}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{48,38}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,796},{54,44}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{54,44}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,842},{62,52}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{62,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,154},{68,58}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{68,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,152},{74,64}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{74,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,80},{80,70}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{80,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2},{86,76}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{86,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>10017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,854},{92,82}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{92,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>10019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,854},{96,88}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{96,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>10021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,854},{98,90}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>10023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,72},{84,80}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{84,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>810113_AfterClick001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,2},{92,68}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,281},{92,68}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_AfterClick002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,494},{358,270}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,178},{358,270}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_AfterClick003.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,532},{388,292}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,169},{388,292}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_AfterClick004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{436,322}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,153},{436,322}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_AfterClick005.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,512},{466,346}}</string>
                <key>offset</key>
                <string>{11,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,140},{466,346}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_AfterClick006.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{490,358}}</string>
                <key>offset</key>
                <string>{11,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,130},{490,358}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_AfterClick007.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{508,370}}</string>
                <key>offset</key>
                <string>{9,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,118},{508,370}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_AfterClick008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{528,374}}</string>
                <key>offset</key>
                <string>{6,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,114},{528,374}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_AfterClick009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,80},{48,44}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,305},{48,44}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_AfterClick010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,256},{48,48}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,301},{48,48}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_Born001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,256},{48,48}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,301},{48,48}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_Born002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,218},{48,48}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,301},{48,48}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_Born003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,218},{48,50}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,299},{48,50}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_Born004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,206},{48,50}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,299},{48,50}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_Born005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,152},{50,52}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,297},{50,52}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_Born006.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,744},{50,54}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,295},{50,54}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_Born007.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,692},{50,54}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,295},{50,54}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_Born008.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,922},{52,56}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,293},{52,56}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_Born009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,214},{52,58}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,291},{52,58}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_Born010.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,632},{54,58}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,291},{54,58}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_Born011.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,922},{56,60}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,289},{56,60}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_CanClick001.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,922},{56,60}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,289},{56,60}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_CanClick002.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,922},{56,60}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,289},{56,60}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_CanClick003.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,572},{54,58}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,291},{54,58}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_CanClick004.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,512},{54,58}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,291},{54,58}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_CanClick005.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,922},{54,58}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,291},{54,58}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_CanClick006.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,922},{54,58}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,291},{54,58}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_CanClick007.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,922},{52,56}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,293},{52,56}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_CanClick008.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,922},{54,58}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,291},{54,58}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_CanClick009.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,922},{54,58}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,291},{54,58}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_CanClick010.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,512},{54,58}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,291},{54,58}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_CanClick011.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,572},{54,58}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,291},{54,58}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_CanClick012.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,922},{56,60}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,289},{56,60}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_CanClick013.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,922},{56,60}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,289},{56,60}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_Idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,256},{48,48}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,301},{48,48}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
            <key>810113_Idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,256},{48,48}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,301},{48,48}}</string>
                <key>sourceSize</key>
                <string>{680,680}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>810113.png</string>
            <key>size</key>
            <string>{1324,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a4115fa07c3f628ff8a2c2bb6868bb2$</string>
            <key>textureFileName</key>
            <string>810113.png</string>
        </dict>
    </dict>
</plist>
