<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>810118_AfterClick001.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_AfterClick002.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,282},{72,42}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,39},{72,42}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_AfterClick003.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,312},{72,36}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,45},{72,36}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_AfterClick004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{72,32}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,49},{72,32}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_AfterClick005.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,414},{72,30}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,51},{72,30}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_AfterClick006.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,424},{72,30}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,51},{72,30}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_AfterClick007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{72,30}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,51},{72,30}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_AfterClick008.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,392},{72,30}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,51},{72,30}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_AfterClick009.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,382},{72,30}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,51},{72,30}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_AfterClick010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{72,30}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,51},{72,30}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_AfterClick011.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,360},{72,30}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,51},{72,30}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_AfterClick012.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,372},{72,30}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,51},{72,30}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_AfterClick013.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,350},{72,30}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,51},{72,30}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_AfterClick014.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,298},{72,30}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,51},{72,30}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_AfterClick015.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,224},{72,30}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,51},{72,30}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_Born004.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,224},{72,30}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,51},{72,30}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_Born005.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,150},{72,30}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,51},{72,30}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_Born006.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,76},{72,30}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,51},{72,30}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_Born007.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{72,30}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,51},{72,30}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_Born008.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,326},{72,32}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,49},{72,32}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_Born009.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,272},{72,38}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,43},{72,38}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_Born010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{72,42}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,39},{72,42}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_Born011.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,224},{72,46}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,35},{72,46}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_Born012.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,180},{72,50}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,31},{72,50}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_Born013.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,124},{72,54}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,27},{72,54}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_Born014.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,60},{72,56}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{72,56}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_Born015.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,64},{72,58}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{72,58}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_Born016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{72,60}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{72,60}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_Born017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{72,62}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{72,62}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_Born018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,62}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{72,62}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_Born019.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,60}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{72,60}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_Born020.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{72,56}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{72,56}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_Born021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{72,54}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,27},{72,54}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_Born022.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,118},{72,52}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,29},{72,52}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_Born023.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,172},{72,50}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,31},{72,50}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_Born024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick001.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick002.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick003.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick004.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick005.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick006.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick007.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick008.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick009.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick010.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick011.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick012.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick013.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick014.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick015.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick016.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick017.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick018.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick019.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick020.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick021.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick022.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick023.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick024.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick025.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick026.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick027.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick028.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick029.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_CanClick030.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,232},{72,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{72,48}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>810118_Idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,224},{72,30}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,51},{72,30}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>810118.png</string>
            <key>size</key>
            <string>{256,456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36c1b55ddccad8dc3ee776bd8ef4632b$</string>
            <key>textureFileName</key>
            <string>810118.png</string>
        </dict>
    </dict>
</plist>
