<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>810117_Idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,46},{32,42}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,59},{32,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,88},{32,42}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,59},{32,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{34,42}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,59},{34,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,48},{32,40}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,61},{32,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,48},{34,40}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,61},{34,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,48},{32,40}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,61},{32,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,82},{32,38}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,63},{32,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,82},{32,38}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,63},{32,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,82},{32,38}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,63},{32,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,82},{32,38}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,63},{32,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle011.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,82},{32,38}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,63},{32,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle012.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,48},{32,38}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,63},{32,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle013.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,46},{32,38}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,63},{32,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle014.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,46},{32,38}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,63},{32,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle015.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,48},{32,38}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,63},{32,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle016.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,48},{32,40}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,61},{32,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle017.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,48},{34,40}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,61},{34,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle018.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,48},{32,40}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,61},{32,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,42}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,59},{34,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle020.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{32,42}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,59},{32,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle021.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{32,42}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,59},{32,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle022.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{32,42}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,59},{32,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle023.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{32,42}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,59},{32,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle024.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{32,44}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,57},{32,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle025.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{32,44}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,57},{32,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle026.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{32,44}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,57},{32,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle027.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,90},{30,44}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,57},{30,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle028.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{30,44}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,57},{30,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle029.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,90},{30,44}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,57},{30,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle030.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,46},{28,44}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,57},{28,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle031.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{28,44}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,57},{28,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle032.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{28,44}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,57},{28,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle033.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,90},{30,44}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,57},{30,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle034.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,90},{30,44}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,57},{30,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle035.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,90},{30,44}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,57},{30,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{30,44}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,57},{30,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle037.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{32,44}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,57},{32,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle038.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{32,44}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,57},{32,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle039.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{32,42}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,59},{32,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle040.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{32,42}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,59},{32,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>810117_Idle041.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,46},{32,42}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,59},{32,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>810117.png</string>
            <key>size</key>
            <string>{504,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27f382140c17020956e6abe647b31c6b$</string>
            <key>textureFileName</key>
            <string>810117.png</string>
        </dict>
    </dict>
</plist>
