<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,12},{24,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,35}</string>
            </dict>
            <key>yingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{29,8}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{29,8}}</string>
                <key>sourceSize</key>
                <string>{31,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jinghua.png</string>
            <key>size</key>
            <string>{33,49}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63c11ffa2cce70123f98e72378ba4ca1$</string>
            <key>textureFileName</key>
            <string>jinghua.png</string>
        </dict>
    </dict>
</plist>
