<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,114}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{216,114}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,788},{188,106}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{188,106}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{188,106}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{188,106}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,734},{188,106}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{188,106}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{188,106}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{188,106}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,678},{190,108}}</string>
                <key>offset</key>
                <string>{-18,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{190,108}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{190,108}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{190,108}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,568},{190,108}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{190,108}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,542},{190,108}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,13},{190,108}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,458},{190,108}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{190,108}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{192,110}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{192,110}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,348},{192,110}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{192,110}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,346},{192,110}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{192,110}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{192,110}}</string>
                <key>offset</key>
                <string>{-17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{192,110}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,232},{192,112}}</string>
                <key>offset</key>
                <string>{-17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{192,112}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{194,112}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{194,112}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10017.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,152},{194,112}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{194,112}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10018.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,118},{194,112}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{194,112}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{194,112}}</string>
                <key>offset</key>
                <string>{-17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{194,112}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{196,114}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{196,114}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{194,112}}</string>
                <key>offset</key>
                <string>{-17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{194,112}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10022.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,118},{194,112}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{194,112}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10023.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,152},{194,112}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{194,112}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{194,112}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{194,112}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10025.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,232},{192,112}}</string>
                <key>offset</key>
                <string>{-17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{192,112}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{192,110}}</string>
                <key>offset</key>
                <string>{-17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{192,110}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10027.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,346},{192,110}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{192,110}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10028.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,348},{192,110}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{192,110}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{192,110}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{192,110}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10030.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,458},{190,108}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{190,108}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10031.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,542},{190,108}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,13},{190,108}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10032.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,568},{190,108}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{190,108}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{190,108}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{190,108}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10034.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,678},{190,108}}</string>
                <key>offset</key>
                <string>{-18,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{190,108}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{188,106}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{188,106}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10036.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,734},{188,106}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{188,106}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{188,106}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{188,106}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>10038.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,788},{188,106}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{188,106}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,978},{44,34}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,71},{44,34}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,978},{44,34}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,71},{44,34}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,978},{44,34}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,71},{44,34}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,978},{44,34}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,71},{44,34}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{44,36}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,70},{44,36}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,924},{46,36}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,70},{46,36}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,972},{46,36}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,70},{46,36}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,924},{46,36}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,70},{46,36}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,972},{46,36}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,70},{46,36}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,924},{46,36}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,70},{46,36}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20012.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,972},{46,36}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,70},{46,36}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20013.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,924},{46,36}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,70},{46,36}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20014.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,978},{48,38}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,69},{48,38}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20015.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,102},{48,38}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,69},{48,38}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20016.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,82},{48,38}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,69},{48,38}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20017.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,52},{48,38}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,69},{48,38}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20018.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,42},{48,38}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,69},{48,38}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20019.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{48,38}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,69},{48,38}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20020.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{48,38}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,69},{48,38}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20021.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{48,38}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,69},{48,38}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20022.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,42},{48,38}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,69},{48,38}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20023.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,52},{48,38}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,69},{48,38}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20024.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,82},{48,38}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,69},{48,38}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20025.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,102},{48,38}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,69},{48,38}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20026.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,978},{48,38}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,69},{48,38}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20027.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,924},{46,36}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,70},{46,36}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20028.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,972},{46,36}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,70},{46,36}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20029.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,924},{46,36}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,70},{46,36}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20030.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,972},{46,36}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,70},{46,36}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20031.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,924},{46,36}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,70},{46,36}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20032.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,972},{46,36}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,70},{46,36}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20033.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,924},{46,36}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,70},{46,36}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{44,36}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,70},{44,36}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20035.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,978},{44,34}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,71},{44,34}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20036.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,978},{44,34}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,71},{44,34}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20037.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,978},{44,34}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,71},{44,34}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>20038.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,978},{44,34}}</string>
                <key>offset</key>
                <string>{31,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,71},{44,34}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jinghuajia.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5cc2fba3c4dcf901a2016127bbacfdb$</string>
            <key>textureFileName</key>
            <string>jinghuajia.png</string>
        </dict>
    </dict>
</plist>
