<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_JiGuangQiang_Hitted_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,253},{1,1}}</string>
                <key>offset</key>
                <string>{-183,178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{367,357}</string>
            </dict>
            <key>effect_JiGuangQiang_Hitted_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{143,199}}</string>
                <key>offset</key>
                <string>{3,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,46},{143,199}}</string>
                <key>sourceSize</key>
                <string>{367,357}</string>
            </dict>
            <key>effect_JiGuangQiang_Hitted_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,604},{143,197}}</string>
                <key>offset</key>
                <string>{2,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,47},{143,197}}</string>
                <key>sourceSize</key>
                <string>{367,357}</string>
            </dict>
            <key>effect_JiGuangQiang_Hitted_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,488},{139,195}}</string>
                <key>offset</key>
                <string>{2,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,48},{139,195}}</string>
                <key>sourceSize</key>
                <string>{367,357}</string>
            </dict>
            <key>effect_JiGuangQiang_Hitted_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,265},{143,195}}</string>
                <key>offset</key>
                <string>{2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,48},{143,195}}</string>
                <key>sourceSize</key>
                <string>{367,357}</string>
            </dict>
            <key>effect_JiGuangQiang_Hitted_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,629},{131,195}}</string>
                <key>offset</key>
                <string>{8,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,48},{131,195}}</string>
                <key>sourceSize</key>
                <string>{367,357}</string>
            </dict>
            <key>effect_JiGuangQiang_Hitted_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,629},{131,195}}</string>
                <key>offset</key>
                <string>{8,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,48},{131,195}}</string>
                <key>sourceSize</key>
                <string>{367,357}</string>
            </dict>
            <key>effect_JiGuangQiang_Hitted_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,488},{121,139}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,104},{121,139}}</string>
                <key>sourceSize</key>
                <string>{367,357}</string>
            </dict>
            <key>effect_JiGuangQiang_Hitted_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,265},{89,137}}</string>
                <key>offset</key>
                <string>{19,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,106},{89,137}}</string>
                <key>sourceSize</key>
                <string>{367,357}</string>
            </dict>
            <key>effect_JiGuangQiang_Hitted_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,629},{85,115}}</string>
                <key>offset</key>
                <string>{18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,128},{85,115}}</string>
                <key>sourceSize</key>
                <string>{367,357}</string>
            </dict>
            <key>effect_JiGuangQiang_Hitted_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,686},{75,61}}</string>
                <key>offset</key>
                <string>{12,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,182},{75,61}}</string>
                <key>sourceSize</key>
                <string>{367,357}</string>
            </dict>
            <key>effect_JiGuangQiang_Hitted_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,462},{157,159}}</string>
                <key>offset</key>
                <string>{-27,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,84},{157,159}}</string>
                <key>sourceSize</key>
                <string>{367,357}</string>
            </dict>
            <key>effect_JiGuangQiang_Hitted_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,623},{75,61}}</string>
                <key>offset</key>
                <string>{12,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,182},{75,61}}</string>
                <key>sourceSize</key>
                <string>{367,357}</string>
            </dict>
            <key>effect_JiGuangQiang_Hitted_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,253},{1,1}}</string>
                <key>offset</key>
                <string>{-183,178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{367,357}</string>
            </dict>
            <key>effect_JiGuangQiang_Hitted_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,253},{233,233}}</string>
                <key>offset</key>
                <string>{-27,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,47},{233,233}}</string>
                <key>sourceSize</key>
                <string>{367,357}</string>
            </dict>
            <key>effect_JiGuangQiang_Hitted_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{255,249}}</string>
                <key>offset</key>
                <string>{-25,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,39},{255,249}}</string>
                <key>sourceSize</key>
                <string>{367,357}</string>
            </dict>
            <key>effect_JiGuangQiang_Hitted_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{297,265}}</string>
                <key>offset</key>
                <string>{-11,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,31},{297,265}}</string>
                <key>sourceSize</key>
                <string>{367,357}</string>
            </dict>
            <key>effect_JiGuangQiang_Hitted_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,2},{225,261}}</string>
                <key>offset</key>
                <string>{32,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,33},{225,261}}</string>
                <key>sourceSize</key>
                <string>{367,357}</string>
            </dict>
            <key>effect_JiGuangQiang_Hitted_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{253,305}}</string>
                <key>offset</key>
                <string>{26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,27},{253,305}}</string>
                <key>sourceSize</key>
                <string>{367,357}</string>
            </dict>
            <key>effect_JiGuangQiang_Hitted_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,309},{251,293}}</string>
                <key>offset</key>
                <string>{17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,47},{251,293}}</string>
                <key>sourceSize</key>
                <string>{367,357}</string>
            </dict>
            <key>effect_JiGuangQiang_Hitted_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{265,301}}</string>
                <key>offset</key>
                <string>{18,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,47},{265,301}}</string>
                <key>sourceSize</key>
                <string>{367,357}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_JiGuangQiang_Hitted.png</string>
            <key>size</key>
            <string>{1008,762}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cdcdb182543df094d3283e61b8afbdf:447e58d548144956b0575c63c077d21f:b970b5e35551be9983510a27bd78ed61$</string>
            <key>textureFileName</key>
            <string>effect_JiGuangQiang_Hitted.png</string>
        </dict>
    </dict>
</plist>
