<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100104attack001.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{32,64}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,63},{32,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104attack002.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{32,62}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,65},{32,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104attack003.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{32,62}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,65},{32,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104attack004.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{36,64}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,63},{36,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104attack005.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{34,64}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,63},{34,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104attack006.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{34,64}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,63},{34,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104attack007.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{32,64}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,64},{32,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104attack008.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{34,62}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,66},{34,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104attack009.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,66},{32,52}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,76},{32,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104attack010.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,68},{32,54}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,74},{32,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104attack011.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,68},{32,54}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,74},{32,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104attack012.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,68},{34,56}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,72},{34,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104attack013.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,68},{34,56}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,71},{34,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104attack014.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,66},{34,60}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,67},{34,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104attack015.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{32,64}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,63},{32,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104coma001.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,68},{36,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,75},{36,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104coma002.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,68},{36,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,73},{36,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104coma003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{38,54}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,73},{38,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104coma004.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,70},{36,56}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,71},{36,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104coma005.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,70},{36,56}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,71},{36,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104coma006.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,70},{36,56}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,71},{36,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104coma007.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,70},{36,56}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,71},{36,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104coma008.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,70},{36,56}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,71},{36,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104coma009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{38,54}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,73},{38,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104coma010.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,68},{36,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,73},{36,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104coma011.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,68},{36,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,75},{36,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104death001.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{32,64}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,63},{32,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104death002.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,66},{32,60}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,67},{32,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104death003.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{36,62}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,65},{36,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104death004.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{36,64}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,63},{36,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104death005.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{34,66}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,61},{34,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104death006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,68}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,59},{34,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104death007.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,68},{34,56}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,72},{34,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104death008.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,66},{34,46}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,82},{34,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104death009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,2},{34,36}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,93},{34,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104death010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,64},{34,30}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,99},{34,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104death011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,96},{34,28}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,101},{34,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104death012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,40},{36,26}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,103},{36,26}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104death013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,40},{36,22}}</string>
                <key>offset</key>
                <string>{10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,107},{36,22}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104death014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,2},{36,22}}</string>
                <key>offset</key>
                <string>{11,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,107},{36,22}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104death015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,42},{38,22}}</string>
                <key>offset</key>
                <string>{11,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,107},{38,22}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104death016.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,66},{38,22}}</string>
                <key>offset</key>
                <string>{11,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,107},{38,22}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104death017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{38,22}}</string>
                <key>offset</key>
                <string>{11,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,107},{38,22}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104death018.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,42},{38,22}}</string>
                <key>offset</key>
                <string>{11,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,107},{38,22}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104death019.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,42},{38,22}}</string>
                <key>offset</key>
                <string>{11,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,107},{38,22}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104death020.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{38,22}}</string>
                <key>offset</key>
                <string>{11,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,107},{38,22}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104death021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,2},{36,22}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,107},{36,22}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104death022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,82},{36,22}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,107},{36,22}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104death023.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,106},{36,20}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,108},{36,20}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{32,64}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,63},{32,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{32,66}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,61},{32,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{32,64}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,63},{32,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{32,62}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,65},{32,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,66},{30,60}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,67},{30,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,66},{30,60}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,67},{30,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{32,62}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,65},{32,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{32,62}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,65},{32,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{32,64}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,63},{32,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{32,64}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,63},{32,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104idle011.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{30,62}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,65},{30,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104idle012.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{30,62}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,65},{30,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104idle013.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,66},{32,60}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,67},{32,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104idle014.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,66},{32,60}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,67},{32,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104idle015.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,68},{34,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,69},{34,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104idle016.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,66},{34,60}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,67},{34,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104idle017.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{32,62}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,65},{32,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104idle018.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{32,64}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,63},{32,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104move001.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{32,64}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,63},{32,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104move002.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{32,66}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,61},{32,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104move003.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,66},{32,60}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,67},{32,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104move004.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,68},{30,58}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,69},{30,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104move005.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,66},{32,60}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,67},{32,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104move006.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{32,62}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,65},{32,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104move007.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{34,62}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,65},{34,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104move008.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{34,62}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,65},{34,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104move009.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,66},{32,60}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,67},{32,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104move010.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,68},{34,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,69},{34,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104move011.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,68},{34,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,69},{34,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104move012.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,66},{32,60}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,67},{32,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100104move013.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{32,64}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,63},{32,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100104.png</string>
            <key>size</key>
            <string>{1108,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24718b98ebd376774857776c18647ac0$</string>
            <key>textureFileName</key>
            <string>100104.png</string>
        </dict>
    </dict>
</plist>
