<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100103_Coma001.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,162},{56,50}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,54},{56,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Coma002.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,214},{54,50}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,54},{54,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Coma003.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,188},{54,50}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,54},{54,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Coma004.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,214},{52,50}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,54},{52,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Coma005.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,240},{52,50}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,54},{52,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Coma006.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,292},{52,48}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,56},{52,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Coma007.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,266},{52,48}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,57},{52,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Coma008.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,266},{50,48}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,58},{50,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Coma009.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,266},{52,48}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,57},{52,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Coma010.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,292},{52,48}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,56},{52,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Coma011.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,240},{52,50}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,54},{52,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Coma012.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,214},{52,50}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,54},{52,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Coma013.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,188},{54,50}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,54},{54,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Coma014.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,214},{54,50}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,54},{54,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Coma015.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,162},{56,50}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,54},{56,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Death001.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,162},{56,50}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,54},{56,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Death002.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,116},{58,50}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,54},{58,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Death003.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,460},{60,50}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,54},{60,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Death004.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,116},{60,52}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,52},{60,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Death005.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,60},{62,54}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,50},{62,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Death006.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{62,56}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,48},{62,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Death007.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,134},{56,52}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,52},{56,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Death008.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,84},{58,48}}</string>
                <key>offset</key>
                <string>{8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,56},{58,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Death009.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,442},{68,44}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,67},{68,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Death010.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,116},{58,44}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,66},{58,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Death011.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,442},{68,44}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,67},{68,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Death012.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,442},{68,44}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,67},{68,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Death013.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,442},{68,44}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,67},{68,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Death014.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,442},{68,44}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,67},{68,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Death015.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,442},{68,44}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,67},{68,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Death016.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,464},{68,44}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,67},{68,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Death017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{68,44}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,67},{68,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Death018.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,442},{66,44}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,67},{66,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Death019.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,442},{64,44}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,67},{64,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Move_Side001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,92}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,29},{86,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Move_Side002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{86,90}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,30},{86,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Move_Side003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{84,90}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,30},{84,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Move_Side004.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,92},{84,88}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,31},{84,88}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Move_Side005.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{84,88}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,30},{84,88}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Move_Side006.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,90},{82,86}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,32},{82,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Move_Side007.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{82,86}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,31},{82,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Move_Side008.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,356},{80,84}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,32},{80,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Move_Side009.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,270},{80,84}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,32},{80,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Move_Side010.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{80,82}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,33},{80,82}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Move_Side011.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{78,82}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,33},{78,82}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Move_Side012.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,178},{80,82}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,33},{80,82}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Move_Side013.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,356},{80,84}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,32},{80,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Move_Side014.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,270},{80,84}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,32},{80,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Move_Side015.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,182},{82,86}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,31},{82,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Move_Side016.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,182},{82,86}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,32},{82,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Move_Side017.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,370},{84,88}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,30},{84,88}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Move_Side018.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,280},{84,88}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,31},{84,88}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Move_Side019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{84,90}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,30},{84,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Move_Side020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{86,90}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,30},{86,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100103_Move_Side021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,92}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,29},{86,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100103.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:030cd47d904458e600727a58a380b54d$</string>
            <key>textureFileName</key>
            <string>100103.png</string>
        </dict>
    </dict>
</plist>
