<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100101born001.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,88},{24,26}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,113},{24,26}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101born002.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,60},{26,26}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,111},{26,26}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101born003.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,60},{24,32}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,105},{24,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101born004.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,32},{26,38}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,99},{26,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101born005.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{28,46}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,91},{28,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101born006.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{28,56}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,81},{28,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101born007.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{26,64}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,73},{26,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101born008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,66}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,71},{26,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101born009.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{26,64}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,73},{26,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101born010.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{26,62}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,75},{26,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101born011.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,64},{26,60}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,77},{26,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101born012.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{26,58}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,79},{26,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101born013.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{26,56}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,81},{26,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101coma001.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,62},{26,54}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,83},{26,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101coma002.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,62},{26,54}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,83},{26,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101coma003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{26,54}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,83},{26,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101coma004.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{26,56}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,81},{26,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101coma005.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{26,56}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,81},{26,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101coma006.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{26,56}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,81},{26,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101coma007.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{26,56}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,81},{26,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101coma008.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{26,56}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,81},{26,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101coma009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{26,54}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,83},{26,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101coma010.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,62},{26,54}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,83},{26,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101coma011.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,62},{26,54}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,83},{26,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101death001.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{26,56}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,81},{26,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101death002.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,60},{24,54}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,83},{24,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101death003.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,62},{24,54}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,83},{24,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101death004.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,62},{24,54}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,83},{24,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101death005.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{26,58}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,79},{26,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101death006.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{26,62}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,75},{26,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101death007.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{24,64}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,73},{24,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101death008.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{26,56}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,81},{26,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101death009.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,60},{28,40}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,97},{28,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101death010.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,60},{24,20}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,117},{24,20}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101death011.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,102},{26,22}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,115},{26,22}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101death012.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,60},{28,24}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,114},{28,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101death013.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,60},{26,26}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,114},{26,26}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101death014.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,60},{26,26}}</string>
                <key>offset</key>
                <string>{3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,115},{26,26}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101death015.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,88},{26,24}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,118},{26,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101death016.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,88},{26,24}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,118},{26,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101death017.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,88},{26,24}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,118},{26,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101death018.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,88},{26,24}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,118},{26,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101death019.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,86},{26,24}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,118},{26,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101death020.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,86},{26,24}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,118},{26,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101death021.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,94},{26,24}}</string>
                <key>offset</key>
                <string>{4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,118},{26,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101death022.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,60},{26,24}}</string>
                <key>offset</key>
                <string>{3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,118},{26,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{26,56}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,81},{26,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{26,58}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,79},{26,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{26,58}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,79},{26,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{26,58}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,79},{26,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{26,58}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,79},{26,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{26,60}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,77},{26,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,64},{24,60}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,77},{24,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{24,60}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,77},{24,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,62},{24,58}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,79},{24,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,62},{24,58}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,79},{24,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101idle011.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,66},{26,58}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,79},{26,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101idle012.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,66},{26,58}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,79},{26,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101idle013.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{26,56}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,81},{26,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101move001.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{28,56}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,81},{28,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101move002.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,68},{30,56}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,81},{30,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101move003.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,68},{28,56}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,81},{28,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101move004.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,68},{28,56}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,81},{28,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100101move005.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{28,56}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,81},{28,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100101.png</string>
            <key>size</key>
            <string>{638,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51e7c62eb1ea2972aab974d7e77c2545$</string>
            <key>textureFileName</key>
            <string>100101.png</string>
        </dict>
    </dict>
</plist>
