<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100107coma001.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,46},{44,50}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,58},{44,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107coma002.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,46},{44,50}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,58},{44,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107coma003.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,54},{44,50}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,58},{44,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107coma004.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,74},{42,52}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,56},{42,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107coma005.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,58},{44,52}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,56},{44,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107coma006.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,56},{44,52}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,56},{44,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107coma007.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{44,52}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,56},{44,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107coma008.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,56},{44,52}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,56},{44,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107coma009.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,54},{42,52}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,56},{42,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107coma010.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,58},{44,50}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,58},{44,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107coma011.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{44,50}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,58},{44,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107coma012.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,46},{44,50}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,58},{44,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107death001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,90},{36,52}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,56},{36,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107death002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,76},{38,50}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,58},{38,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107death003.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,76},{40,50}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,58},{40,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107death004.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{42,54}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,54},{42,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107death005.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{42,54}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,54},{42,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107death006.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,58},{44,54}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,54},{44,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107death007.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{44,52}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,56},{44,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107death008.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,76},{42,50}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,58},{42,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107death009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,2},{46,48}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,60},{46,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107death010.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,42},{48,44}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,64},{48,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107death011.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{54,40}}</string>
                <key>offset</key>
                <string>{14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,68},{54,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107death012.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,38},{56,34}}</string>
                <key>offset</key>
                <string>{19,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,74},{56,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107death013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{56,34}}</string>
                <key>offset</key>
                <string>{19,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,74},{56,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107death014.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{56,34}}</string>
                <key>offset</key>
                <string>{21,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,74},{56,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107death015.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,90},{54,36}}</string>
                <key>offset</key>
                <string>{22,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,76},{54,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107death016.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,90},{54,36}}</string>
                <key>offset</key>
                <string>{23,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,76},{54,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107death017.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,90},{54,36}}</string>
                <key>offset</key>
                <string>{23,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,76},{54,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107death018.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,90},{54,36}}</string>
                <key>offset</key>
                <string>{23,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,76},{54,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107death019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,38},{54,36}}</string>
                <key>offset</key>
                <string>{23,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,76},{54,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107death020.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,42},{54,32}}</string>
                <key>offset</key>
                <string>{23,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,76},{54,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,90},{36,52}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,56},{36,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,90},{36,52}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,56},{36,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,42},{38,52}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,56},{38,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,42},{38,52}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,56},{38,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{38,54}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,54},{38,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{38,54}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,54},{38,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{38,54}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,54},{38,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{38,54}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,54},{38,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{38,54}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,54},{38,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{38,54}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,54},{38,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107idle011.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,90},{36,54}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,54},{36,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107idle012.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,90},{36,52}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,56},{36,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107idle013.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,54},{36,52}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,56},{36,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107idle014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,90},{36,52}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,56},{36,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107move001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,50},{38,50}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,56},{38,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107move002.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,42},{40,48}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,58},{40,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107move003.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,42},{40,48}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,58},{40,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107move004.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{42,52}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,54},{42,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107move005.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{44,54}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,52},{44,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107move006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{44,54}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,53},{44,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107move007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,54}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,54},{44,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107move008.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{44,50}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,57},{44,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107move009.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{44,50}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,57},{44,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107move010.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{42,52}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,54},{42,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107move011.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{40,54}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,52},{40,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107move012.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,74},{40,52}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,54},{40,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100107move013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,50},{38,50}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,56},{38,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100107.png</string>
            <key>size</key>
            <string>{1135,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9039275ab9f7f8e317d6a95a90b790ee$</string>
            <key>textureFileName</key>
            <string>100107.png</string>
        </dict>
    </dict>
</plist>
