<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100202attack001.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,364},{52,52}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,54},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202attack002.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,872},{52,50}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,56},{52,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202attack003.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,158},{58,48}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,58},{58,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202attack004.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{66,60}}</string>
                <key>offset</key>
                <string>{6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,46},{66,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202attack005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,72}}</string>
                <key>offset</key>
                <string>{3,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,34},{60,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202attack006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{48,76}}</string>
                <key>offset</key>
                <string>{-3,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,30},{48,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202attack007.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{52,76}}</string>
                <key>offset</key>
                <string>{-9,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,29},{52,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202attack008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{82,46}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,67},{82,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202attack009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{82,46}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,67},{82,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202attack010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{82,46}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,67},{82,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202attack011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{82,48}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,65},{82,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202attack012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{76,50}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,62},{76,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202attack013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{66,50}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,58},{66,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202attack014.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,364},{52,52}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,54},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202coma001.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,732},{52,48}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,58},{52,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202coma002.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,782},{54,48}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,58},{54,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202coma003.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,732},{54,48}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,58},{54,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202coma004.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,530},{54,46}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,60},{54,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202coma005.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,544},{56,48}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,59},{56,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202coma006.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,428},{56,48}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,59},{56,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202coma007.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,544},{56,48}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,59},{56,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202coma008.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,530},{54,46}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,60},{54,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202coma009.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,732},{54,48}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,58},{54,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202coma010.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,782},{54,48}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,58},{54,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202coma011.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,732},{52,48}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,58},{52,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202death001.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,374},{52,52}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,54},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202death002.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,578},{54,48}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,58},{54,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202death003.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,486},{56,46}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,60},{56,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202death004.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,208},{54,52}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,54},{54,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202death005.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,206},{56,56}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,50},{56,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202death006.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,98},{56,56}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,50},{56,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202death007.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,320},{54,52}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,53},{54,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202death008.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,264},{56,54}}</string>
                <key>offset</key>
                <string>{-9,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,52},{56,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202death009.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,106},{62,50}}</string>
                <key>offset</key>
                <string>{-11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,58},{62,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202death010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{68,46}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,65},{68,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202death011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{68,42}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,69},{68,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202death012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{70,40}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,70},{70,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202death013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{70,40}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,70},{70,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202death014.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,106},{68,40}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,71},{68,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202death015.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,64},{68,40}}</string>
                <key>offset</key>
                <string>{-14,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,72},{68,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202death016.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,64},{68,40}}</string>
                <key>offset</key>
                <string>{-14,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,72},{68,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202death017.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,64},{68,40}}</string>
                <key>offset</key>
                <string>{-14,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,72},{68,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202death018.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,56},{68,40}}</string>
                <key>offset</key>
                <string>{-14,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,72},{68,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202death019.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,636},{66,40}}</string>
                <key>offset</key>
                <string>{-13,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,72},{66,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202death020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{66,40}}</string>
                <key>offset</key>
                <string>{-13,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,72},{66,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,374},{52,52}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,54},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,818},{52,50}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,56},{52,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,676},{54,50}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,56},{54,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,628},{54,50}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,56},{54,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,624},{54,50}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,56},{54,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,470},{54,50}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,56},{54,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,428},{54,50}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,57},{54,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,376},{54,50}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,56},{54,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,320},{54,50}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,56},{54,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,264},{54,50}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,56},{54,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202idle011.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,262},{54,50}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,56},{54,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202idle012.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,208},{54,50}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,56},{54,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202idle013.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,680},{52,50}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,56},{52,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202idle014.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,374},{52,52}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,54},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202move001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,574},{52,48}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,59},{52,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202move002.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,936},{50,48}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,59},{50,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202move003.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,884},{48,50}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,57},{48,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202move004.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,832},{48,50}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,56},{48,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202move005.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,936},{50,50}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,55},{50,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202move006.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,884},{50,50}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,56},{50,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202move007.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,522},{52,50}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,56},{52,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202move008.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,156},{56,48}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,58},{56,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202move009.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,706},{58,48}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,58},{58,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202move010.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,480},{54,48}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,58},{54,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202move011.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,314},{54,48}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,58},{54,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202move012.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,418},{52,50}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,56},{52,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202move013.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,926},{50,50}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,55},{50,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202move014.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,832},{50,50}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,56},{50,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202move015.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,766},{48,50}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,56},{48,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202move016.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,782},{50,48}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,58},{50,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100202move017.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,574},{52,48}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,59},{52,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100202.png</string>
            <key>size</key>
            <string>{216,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:425a0613a4458cef17554b31cfd7fbb8$</string>
            <key>textureFileName</key>
            <string>100202.png</string>
        </dict>
    </dict>
</plist>
