<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100206_Attack_01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,298},{40,32}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,70},{40,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Attack_01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,338},{40,30}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,72},{40,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Attack_01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,380},{38,30}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,72},{38,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Attack_01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,234},{36,30}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,74},{36,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Attack_01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,234},{36,30}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,74},{36,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Attack_01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,48},{48,34}}</string>
                <key>offset</key>
                <string>{8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,68},{48,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Attack_01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,354},{48,34}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,69},{48,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Attack_01008.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,58},{46,36}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,68},{46,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Attack_01009.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,228},{42,34}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,69},{42,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Attack_01010.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,214},{42,32}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,70},{42,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Attack_01011.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,298},{40,32}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,70},{40,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Born001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{56,30}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,74},{56,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Born002.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,120},{54,30}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,74},{54,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Born003.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,362},{52,32}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,72},{52,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Born004.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,302},{50,32}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,72},{50,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Born005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{50,32}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,72},{50,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Born006.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,378},{40,32}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,71},{40,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Born007.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,156},{42,32}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,70},{42,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Born008.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,248},{42,34}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,68},{42,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Born009.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,190},{42,36}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,66},{42,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Born010.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,134},{46,40}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,62},{46,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Born011.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{52,44}}</string>
                <key>offset</key>
                <string>{8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,58},{52,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Born012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{68,52}}</string>
                <key>offset</key>
                <string>{15,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,50},{68,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Born013.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{82,54}}</string>
                <key>offset</key>
                <string>{23,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,48},{82,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Born014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{96,56}}</string>
                <key>offset</key>
                <string>{29,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,47},{96,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Born015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,58}}</string>
                <key>offset</key>
                <string>{31,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,45},{98,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Born016.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,298},{40,32}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,70},{40,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Coma001.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,298},{40,32}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,70},{40,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Coma002.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,364},{40,30}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,72},{40,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Coma003.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,332},{40,30}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,72},{40,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Coma004.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,266},{40,30}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,72},{40,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Coma005.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,304},{40,30}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,73},{40,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Coma006.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,336},{40,32}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,72},{40,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Coma007.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,264},{40,32}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,74},{40,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Coma008.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,336},{40,32}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,72},{40,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Coma009.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,304},{40,30}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,73},{40,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Coma010.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,266},{40,30}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,72},{40,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Coma011.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,332},{40,30}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,72},{40,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Coma012.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,364},{40,30}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,72},{40,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Coma013.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,298},{40,32}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,70},{40,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Death001.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,298},{40,32}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,70},{40,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Death002.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,226},{40,34}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,68},{40,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Death003.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,190},{42,36}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,66},{42,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Death004.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,188},{42,36}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,66},{42,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Death005.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,292},{42,36}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,66},{42,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Death006.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,176},{42,36}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,67},{42,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Death007.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,84},{46,32}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,71},{46,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Death008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{58,28}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,75},{58,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Death009.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,248},{52,30}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,73},{52,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Death010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{58,28}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,75},{58,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Death011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{58,28}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,75},{58,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Death012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{58,28}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,75},{58,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Death013.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,248},{56,28}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,75},{56,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Death014.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,306},{54,28}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,75},{54,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,298},{40,32}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,70},{40,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,262},{40,32}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,70},{40,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,146},{40,32}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,70},{40,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,206},{40,32}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,70},{40,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,298},{38,32}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,70},{38,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,380},{38,34}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,68},{38,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,298},{38,32}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,70},{38,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,206},{40,32}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,70},{40,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,146},{40,32}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,70},{40,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,262},{40,32}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,70},{40,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Idle011.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,298},{40,32}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,70},{40,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Move_Side001.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,298},{40,32}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,70},{40,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Move_Side002.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,336},{42,30}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,73},{42,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Move_Side003.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,58},{42,34}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,68},{42,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Move_Side004.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,118},{44,36}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,66},{44,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Move_Side005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{46,40}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,62},{46,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Move_Side006.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,96},{44,36}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{44,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Move_Side007.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,102},{42,32}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,70},{42,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100206_Move_Side008.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,298},{40,32}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,70},{40,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100206.png</string>
            <key>size</key>
            <string>{254,420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98eb9fd846c44aa8585ae26f0787922b$</string>
            <key>textureFileName</key>
            <string>100206.png</string>
        </dict>
    </dict>
</plist>
