<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100203_Attack_01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,382},{82,120}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,170},{82,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,406},{96,124}}</string>
                <key>offset</key>
                <string>{-9,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,166},{96,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{108,128}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,162},{108,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,132}}</string>
                <key>offset</key>
                <string>{-12,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,158},{108,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{98,138}}</string>
                <key>offset</key>
                <string>{-17,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,152},{98,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{90,142}}</string>
                <key>offset</key>
                <string>{-20,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,148},{90,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{84,142}}</string>
                <key>offset</key>
                <string>{-19,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,148},{84,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_01008.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,192},{86,98}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,192},{86,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_01009.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,94},{96,92}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,198},{96,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_01010.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,788},{90,94}}</string>
                <key>offset</key>
                <string>{18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,200},{90,94}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_01011.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,404},{76,98}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,202},{76,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_01012.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,780},{88,96}}</string>
                <key>offset</key>
                <string>{19,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,194},{88,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_01013.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,638},{98,104}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,186},{98,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_01014.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,416},{94,114}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,176},{94,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_01015.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,382},{82,120}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,170},{82,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_Far001.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,382},{82,120}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,170},{82,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_Far002.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,106},{98,120}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,170},{98,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_Far003.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,408},{108,122}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,168},{108,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_Far004.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,100},{104,122}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,168},{104,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_Far005.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,280},{88,124}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,166},{88,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_Far006.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,280},{84,126}}</string>
                <key>offset</key>
                <string>{-8,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,164},{84,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_Far007.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,304},{102,114}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,176},{102,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_Far008.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,304},{80,124}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,166},{80,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_Far009.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,752},{94,104}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,186},{94,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_Far010.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,360},{112,106}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,184},{112,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_Far011.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,474},{96,108}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,182},{96,108}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_Far012.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,302},{110,112}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,178},{110,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_Far013.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,532},{96,114}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,176},{96,114}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Attack_Far014.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,298},{82,120}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,170},{82,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Coma001.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,382},{82,120}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,170},{82,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Coma002.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,206},{90,120}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,170},{90,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Coma003.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,430},{100,112}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,178},{100,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Coma004.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,192},{106,110}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,180},{106,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Coma005.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,246},{112,106}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,184},{112,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Coma006.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,738},{100,104}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,186},{100,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Coma007.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,844},{90,102}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,188},{90,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Coma008.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,192},{86,98}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,192},{86,98}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Coma009.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,858},{90,102}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,188},{90,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Coma010.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,532},{102,104}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,186},{102,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Coma011.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,132},{112,106}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,184},{112,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Coma012.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,780},{96,110}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,180},{96,110}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Coma013.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,788},{94,112}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,178},{94,112}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Coma014.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,466},{90,118}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,172},{90,118}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Coma015.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,382},{82,120}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,170},{82,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Fall001.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,382},{82,120}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,170},{82,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Fall002.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,100},{90,128}}</string>
                <key>offset</key>
                <string>{-8,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,162},{90,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Fall003.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{96,130}}</string>
                <key>offset</key>
                <string>{-10,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,160},{96,130}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Fall004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{102,136}}</string>
                <key>offset</key>
                <string>{-8,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,154},{102,136}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Fall005.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{96,142}}</string>
                <key>offset</key>
                <string>{-10,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,148},{96,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Fall006.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,648},{96,102}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,190},{96,102}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Fall007.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,640},{94,88}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,211},{94,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Fall008.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,636},{100,66}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,233},{100,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Fall009.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,572},{102,66}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,233},{102,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Fall010.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,834},{102,66}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,233},{102,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Fall011.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,730},{102,66}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,233},{102,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Fall012.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,558},{102,66}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,233},{102,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Fall013.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,532},{102,66}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,233},{102,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Fdeath001.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,532},{102,66}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,233},{102,66}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Fdeath002.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,878},{104,70}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,233},{104,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Fdeath003.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,884},{108,72}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,233},{108,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Fdeath004.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,884},{106,72}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,233},{106,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Fdeath005.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,878},{100,70}}</string>
                <key>offset</key>
                <string>{-7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,233},{100,70}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Fdeath006.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,88},{102,68}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,233},{102,68}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Fdeath007.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,844},{104,82}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,218},{104,82}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Fdeath008.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,738},{104,84}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,215},{104,84}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Fdeath009.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,626},{102,88}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,211},{102,88}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Fdeath010.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,302},{100,92}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,207},{100,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Fdeath011.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,830},{98,92}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,207},{98,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Fdeath012.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,730},{98,92}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,207},{98,92}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,382},{82,120}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,170},{82,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,406},{90,124}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,166},{90,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,104},{102,122}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,168},{102,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,656},{106,122}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,168},{106,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{112,124}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,166},{112,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{100,126}}</string>
                <key>offset</key>
                <string>{5,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,164},{100,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,660},{90,126}}</string>
                <key>offset</key>
                <string>{6,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,164},{90,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,192},{86,128}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,162},{86,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,532},{90,126}}</string>
                <key>offset</key>
                <string>{7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,164},{90,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{102,126}}</string>
                <key>offset</key>
                <string>{5,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,164},{102,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Idle011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{112,124}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,166},{112,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Idle012.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,94},{96,122}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,168},{96,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Idle013.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,532},{94,122}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,168},{94,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Idle014.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,408},{90,122}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,168},{90,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Idle015.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,382},{82,120}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,170},{82,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Move_Side001.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,382},{82,120}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,170},{82,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Move_Side002.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,656},{92,122}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,168},{92,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Move_Side003.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,532},{106,122}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,168},{106,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Move_Side004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{110,124}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,166},{110,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Move_Side005.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,660},{94,126}}</string>
                <key>offset</key>
                <string>{6,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,164},{94,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Move_Side006.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{88,128}}</string>
                <key>offset</key>
                <string>{4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,162},{88,128}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Move_Side007.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,532},{94,126}}</string>
                <key>offset</key>
                <string>{6,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,164},{94,126}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Move_Side008.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,280},{108,124}}</string>
                <key>offset</key>
                <string>{7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,166},{108,124}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Move_Side009.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,206},{94,122}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,168},{94,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Move_Side010.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,208},{92,122}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,168},{92,122}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>100203_Move_Side011.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,382},{82,120}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,170},{82,120}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100203.png</string>
            <key>size</key>
            <string>{1022,961}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bcc3742d13fa121d2e8cce533889cc9$</string>
            <key>textureFileName</key>
            <string>100203.png</string>
        </dict>
    </dict>
</plist>
