<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100302_Attack_01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,110},{46,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,102},{46,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Attack_01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,56},{46,52}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,102},{46,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Attack_01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,58},{44,54}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,103},{44,54}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Attack_01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{46,56}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,103},{46,56}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Attack_01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{46,56}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,103},{46,56}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Attack_01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,78},{64,48}}</string>
                <key>offset</key>
                <string>{14,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,106},{64,48}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Attack_01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,96},{66,50}}</string>
                <key>offset</key>
                <string>{13,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,104},{66,50}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Attack_01008.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,112},{66,52}}</string>
                <key>offset</key>
                <string>{13,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,102},{66,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Attack_01009.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{62,52}}</string>
                <key>offset</key>
                <string>{10,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,102},{62,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Attack_01010.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,108},{54,52}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,102},{54,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Attack_01011.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,110},{46,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,102},{46,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Coma001.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,110},{46,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,102},{46,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Coma002.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{48,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,102},{48,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Coma003.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,56},{48,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,102},{48,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Coma004.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,110},{48,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,102},{48,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Coma005.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{50,54}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,100},{50,54}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Coma006.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,66},{50,54}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,100},{50,54}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Coma007.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{50,54}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,100},{50,54}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Coma008.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,110},{48,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,102},{48,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Coma009.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,56},{48,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,102},{48,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Coma010.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{48,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,102},{48,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Coma011.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,110},{46,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,102},{46,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Death001.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,110},{46,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,102},{46,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Death002.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{48,52}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,102},{48,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Death003.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{48,54}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,100},{48,54}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Death004.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,58},{48,54}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,100},{48,54}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Death005.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,110},{60,54}}</string>
                <key>offset</key>
                <string>{13,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,100},{60,54}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Death006.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,90},{74,44}}</string>
                <key>offset</key>
                <string>{18,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,117},{74,44}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Death007.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{74,40}}</string>
                <key>offset</key>
                <string>{17,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,118},{74,40}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Death008.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{74,38}}</string>
                <key>offset</key>
                <string>{18,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,123},{74,38}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Death009.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{74,38}}</string>
                <key>offset</key>
                <string>{18,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,123},{74,38}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Death010.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,78},{74,38}}</string>
                <key>offset</key>
                <string>{18,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,123},{74,38}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Death011.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,92},{72,38}}</string>
                <key>offset</key>
                <string>{18,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,123},{72,38}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Death012.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,92},{72,38}}</string>
                <key>offset</key>
                <string>{18,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,123},{72,38}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,110},{46,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,102},{46,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,56},{48,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,102},{48,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{48,54}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,100},{48,54}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,118},{46,54}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,100},{46,54}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,58},{48,54}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,100},{48,54}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,108},{48,56}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,98},{48,56}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,58},{48,54}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,100},{48,54}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,118},{46,54}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,100},{46,54}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{48,54}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,100},{48,54}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,56},{48,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,102},{48,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Idle011.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,110},{46,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,102},{46,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Move_Side001.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,110},{46,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,102},{46,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Move_Side002.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{48,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,102},{48,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Move_Side003.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,114},{48,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,102},{48,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Move_Side004.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,110},{46,52}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,102},{46,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Move_Side005.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{46,52}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,102},{46,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Move_Side006.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,56},{46,52}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,102},{46,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Move_Side007.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,110},{46,52}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,102},{46,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Move_Side008.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,114},{46,50}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,104},{46,50}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Move_Side009.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,114},{48,50}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,104},{48,50}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Move_Side010.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,114},{46,50}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,104},{46,50}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Move_Side011.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,110},{46,52}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,102},{46,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Move_Side012.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,56},{46,52}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,102},{46,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Move_Side013.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{46,52}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,102},{46,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Move_Side014.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,110},{46,52}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,102},{46,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Move_Side015.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,114},{48,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,102},{48,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Move_Side016.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{48,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,102},{48,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Move_Side017.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,110},{46,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,102},{46,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Skill_01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,110},{46,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,102},{46,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Skill_01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,56},{46,52}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,102},{46,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Skill_01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,58},{44,54}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,103},{44,54}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Skill_01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{46,56}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,103},{46,56}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Skill_01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,114}}</string>
                <key>offset</key>
                <string>{8,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,45},{62,114}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Skill_01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{78,108}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,47},{78,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Skill_01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{80,106}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,50},{80,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Skill_01008.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{80,104}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,51},{80,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Skill_01009.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{80,92}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,63},{80,92}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Skill_01010.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{64,88}}</string>
                <key>offset</key>
                <string>{9,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,66},{64,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100302_Skill_01011.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{50,86}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,68},{50,86}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100302.png</string>
            <key>size</key>
            <string>{1016,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0daf0c0b09ae02dad660d655e8bc37f8$</string>
            <key>textureFileName</key>
            <string>100302.png</string>
        </dict>
    </dict>
</plist>
