<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,234}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,20},{286,234}}</string>
                <key>sourceSize</key>
                <string>{340,280}</string>
            </dict>
            <key>100415attack001.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,198},{38,44}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,59},{38,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415attack002.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,50},{36,46}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,57},{36,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415attack003.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,108},{36,50}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,53},{36,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415attack004.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{38,52}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,51},{38,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415attack005.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,116},{40,54}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,49},{40,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415attack006.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{40,54}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,48},{40,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415attack007.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{40,56}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,46},{40,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415attack008.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{42,58}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,44},{42,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415attack009.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,60},{42,54}}</string>
                <key>offset</key>
                <string>{7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,49},{42,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415attack010.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,138},{64,48}}</string>
                <key>offset</key>
                <string>{18,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,55},{64,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415attack011.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{66,48}}</string>
                <key>offset</key>
                <string>{19,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,55},{66,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415attack012.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,70},{64,46}}</string>
                <key>offset</key>
                <string>{19,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,57},{64,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415attack013.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,206},{64,46}}</string>
                <key>offset</key>
                <string>{19,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,57},{64,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415attack014.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,70},{66,46}}</string>
                <key>offset</key>
                <string>{18,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,57},{66,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415attack015.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,138},{66,44}}</string>
                <key>offset</key>
                <string>{16,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,59},{66,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415attack016.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,198},{38,44}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,59},{38,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415death001.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,198},{38,44}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,59},{38,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415death002.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,160},{38,42}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,61},{38,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415death003.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,152},{40,40}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,63},{40,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415death004.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,110},{40,40}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,63},{40,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415death005.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,98},{34,46}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,57},{34,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415death006.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,204},{32,48}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,54},{32,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415death007.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,150},{34,46}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,57},{34,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415death008.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{36,42}}</string>
                <key>offset</key>
                <string>{-11,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,61},{36,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415death009.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,194},{36,40}}</string>
                <key>offset</key>
                <string>{-16,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,63},{36,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415death010.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,194},{40,36}}</string>
                <key>offset</key>
                <string>{-19,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,67},{40,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415death011.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,74},{42,34}}</string>
                <key>offset</key>
                <string>{-20,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,69},{42,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415death012.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,96},{44,32}}</string>
                <key>offset</key>
                <string>{-21,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,72},{44,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415death013.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,172},{46,30}}</string>
                <key>offset</key>
                <string>{-22,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,74},{46,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415death014.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,142},{44,28}}</string>
                <key>offset</key>
                <string>{-22,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,76},{44,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415death015.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,192},{44,28}}</string>
                <key>offset</key>
                <string>{-22,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,77},{44,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415death016.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,48},{44,28}}</string>
                <key>offset</key>
                <string>{-22,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,77},{44,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415death017.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,48},{44,26}}</string>
                <key>offset</key>
                <string>{-22,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,79},{44,26}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415death018.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,94},{44,26}}</string>
                <key>offset</key>
                <string>{-22,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,79},{44,26}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415death019.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,48},{44,24}}</string>
                <key>offset</key>
                <string>{-22,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,80},{44,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415death020.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{44,24}}</string>
                <key>offset</key>
                <string>{-23,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,80},{44,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,198},{38,44}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,59},{38,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{38,44}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,59},{38,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{38,46}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,57},{38,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,54},{38,46}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,57},{38,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,204},{38,46}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,57},{38,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,204},{38,48}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,55},{38,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{40,50}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,53},{40,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,58},{40,52}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,51},{40,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,116},{40,52}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,51},{40,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,56},{40,50}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,53},{40,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415idle011.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,112},{40,50}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,53},{40,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415idle012.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,204},{40,48}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,55},{40,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415idle013.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,204},{38,48}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,55},{38,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415idle014.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,164},{38,46}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,57},{38,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415idle015.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,50},{38,44}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,59},{38,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415idle016.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,198},{38,44}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,59},{38,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415move001.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,198},{38,44}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,59},{38,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415move002.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,146},{36,44}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,59},{36,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415move003.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,102},{36,46}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,57},{36,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415move004.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{34,46}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,57},{34,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415move005.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,204},{32,48}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,55},{32,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415move006.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,170},{32,48}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,55},{32,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415move007.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,204},{32,48}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,55},{32,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415move008.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{34,46}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,57},{34,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415move009.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,102},{36,46}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,57},{36,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415move010.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,146},{36,44}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,59},{36,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100415move011.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,198},{38,44}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,59},{38,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100415.png</string>
            <key>size</key>
            <string>{736,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f189da7a95db594b15ae7ac313941057$</string>
            <key>textureFileName</key>
            <string>100415.png</string>
        </dict>
    </dict>
</plist>
