<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100409_Attack_01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1834},{66,62}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,142},{66,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Attack_01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1792},{66,62}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,142},{66,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Attack_01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1856},{64,60}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,144},{64,60}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Attack_01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1498},{64,58}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,147},{64,58}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Attack_01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1498},{64,58}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,147},{64,58}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Attack_01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1254},{70,68}}</string>
                <key>offset</key>
                <string>{12,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,136},{70,68}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Attack_01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,546},{80,52}}</string>
                <key>offset</key>
                <string>{7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,152},{80,52}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Attack_01008.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,208},{76,56}}</string>
                <key>offset</key>
                <string>{6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,148},{76,56}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Attack_01009.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,600},{72,60}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,144},{72,60}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Attack_01010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1324},{70,62}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,142},{70,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Attack_01011.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1834},{66,62}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,142},{66,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Coma001.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1834},{66,62}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,142},{66,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Coma002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1758},{66,62}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,142},{66,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Coma003.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1728},{66,62}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,142},{66,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Coma004.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1702},{66,62}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,142},{66,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Coma005.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1770},{64,62}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,142},{64,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Coma006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1856},{64,60}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,144},{64,60}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Coma007.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1770},{64,62}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,142},{64,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Coma008.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1702},{66,62}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,142},{66,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Coma009.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1728},{66,62}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,142},{66,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Coma010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1758},{66,62}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,142},{66,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Coma011.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1834},{66,62}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,142},{66,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Death001.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1834},{66,62}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,142},{66,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Death002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1692},{64,66}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,138},{64,66}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Death003.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1632},{60,68}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,136},{60,68}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Death004.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1254},{54,68}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,136},{54,68}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Death005.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1324},{54,66}}</string>
                <key>offset</key>
                <string>{-6,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,138},{54,66}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Death006.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,482},{74,62}}</string>
                <key>offset</key>
                <string>{6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,142},{74,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Death007.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,932},{100,54}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,158},{100,54}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Death008.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1226},{94,54}}</string>
                <key>offset</key>
                <string>{13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,156},{94,54}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Death009.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,932},{100,54}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,158},{100,54}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Death010.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,932},{100,54}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,158},{100,54}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Death011.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,876},{100,54}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,158},{100,54}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Death012.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,988},{98,54}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,158},{98,54}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Death013.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1170},{94,54}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,158},{94,54}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1834},{66,62}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,142},{66,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1560},{68,64}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,140},{68,64}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1526},{68,66}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,138},{68,66}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1456},{68,68}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,136},{68,68}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1282},{68,70}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,135},{68,70}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,138},{68,72}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,134},{68,72}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1282},{68,70}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,135},{68,70}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1456},{68,68}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,136},{68,68}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1526},{68,66}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,138},{68,66}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1560},{68,64}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,140},{68,64}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Idle011.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1834},{66,62}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,142},{66,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Move_Side001.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1534},{68,50}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,165},{68,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Move_Side002.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1534},{68,50}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,165},{68,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Move_Side003.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1426},{70,50}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,165},{70,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Move_Side004.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1426},{70,50}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,165},{70,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Move_Side005.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1464},{68,50}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,165},{68,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Move_Side006.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1404},{70,50}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,165},{70,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Move_Side007.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1404},{70,50}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,165},{70,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Move_Side008.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1604},{66,50}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,165},{66,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Move_Side009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1440},{70,50}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,165},{70,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Move_Side010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1440},{70,50}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,165},{70,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Move_Side011.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1392},{70,50}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,165},{70,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Move_Side012.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1392},{70,50}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,165},{70,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Move_Side013.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1354},{70,50}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,165},{70,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Move_Side014.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1352},{70,50}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,165},{70,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Move_Side015.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1352},{70,50}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,165},{70,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Move_Side016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1388},{70,50}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,165},{70,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Move_Side017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1388},{70,50}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,165},{70,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Move_Side018.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1738},{66,48}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,167},{66,48}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Move_Side019.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1282},{70,50}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,165},{70,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Move_Side020.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1282},{70,50}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,165},{70,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Move_Side021.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1672},{64,50}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,165},{64,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Move_Side022.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1564},{66,50}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,165},{66,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Move_Side023.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1564},{66,50}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,165},{66,50}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1834},{66,62}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,142},{66,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1626},{66,64}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,140},{66,64}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1660},{66,66}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,138},{66,66}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1492},{66,68}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,136},{66,68}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,398},{74,82}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,136},{74,82}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,266},{130,74}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,144},{130,74}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{132,66}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,152},{132,66}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_01008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1134},{130,60}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,158},{130,60}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_01009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1196},{128,56}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,162},{128,56}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_01010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{134,70}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,148},{134,70}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_01011.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{134,72}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,146},{134,72}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_01012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{134,70}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,148},{134,70}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_01013.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,662},{140,70}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,148},{140,70}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_01014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{134,70}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,148},{134,70}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_01015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1078},{132,54}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,164},{132,54}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_02001.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,852},{110,22}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,190},{110,22}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_02002.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,804},{110,46}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,171},{110,46}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_02003.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1044},{118,124}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,93},{118,124}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_02004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{128,170}}</string>
                <key>offset</key>
                <string>{1,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,48},{128,170}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_02005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{154,172}}</string>
                <key>offset</key>
                <string>{3,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,46},{154,172}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_02006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{172,168}}</string>
                <key>offset</key>
                <string>{1,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,48},{172,168}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_02007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,168}}</string>
                <key>offset</key>
                <string>{3,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,48},{178,168}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_02008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{168,164}}</string>
                <key>offset</key>
                <string>{8,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,52},{168,164}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_02009.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1594},{64,68}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,136},{64,68}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_02010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1492},{66,68}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,136},{66,68}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_02011.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1660},{66,66}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,138},{66,66}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_02012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1626},{66,64}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,140},{66,64}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>100409_Special_02013.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1834},{66,62}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,142},{66,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100409.png</string>
            <key>size</key>
            <string>{256,1918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:500ef257c6fc0c978e05b25970b532d7$</string>
            <key>textureFileName</key>
            <string>100409.png</string>
        </dict>
    </dict>
</plist>
