<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100413_Attack_01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,172},{36,26}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,78},{36,26}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Attack_01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,68},{38,26}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,78},{38,26}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Attack_01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{38,26}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,78},{38,26}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Attack_01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,30},{40,24}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,80},{40,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Attack_01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,30},{40,24}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,80},{40,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Attack_01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{36,32}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,72},{36,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Attack_01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{44,28}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,78},{44,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Attack_01008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,30}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,76},{44,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Attack_01009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{42,28}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,76},{42,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Attack_01010.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{40,26}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,78},{40,26}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Attack_01011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{38,26}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,78},{38,26}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Attack_01012.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,172},{36,26}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,78},{36,26}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Coma001.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,172},{36,26}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,78},{36,26}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Coma002.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,246},{36,26}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,78},{36,26}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Coma003.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,276},{36,24}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,80},{36,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Coma004.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,226},{36,24}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,80},{36,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Coma005.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,200},{36,24}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,80},{36,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Coma006.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,302},{36,22}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,82},{36,22}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Coma007.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,200},{36,24}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,80},{36,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Coma008.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,226},{36,24}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,80},{36,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Coma009.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,276},{36,24}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,80},{36,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Coma010.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,246},{36,26}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,78},{36,26}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Coma011.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,172},{36,26}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,78},{36,26}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Death001.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,172},{36,26}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,78},{36,26}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Death002.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,142},{36,28}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,76},{36,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Death003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{36,30}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,74},{36,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Death004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{36,32}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,72},{36,32}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Death005.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{36,36}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,69},{36,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Death006.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,302},{36,22}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,82},{36,22}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Death007.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,86},{36,24}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,80},{36,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Death008.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,302},{36,22}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,82},{36,22}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Death009.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,302},{36,22}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,82},{36,22}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Death010.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,302},{36,22}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,82},{36,22}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Death011.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,302},{36,22}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,82},{36,22}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Death012.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,252},{36,22}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,82},{36,22}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Death013.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,276},{36,20}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,84},{36,20}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Death014.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,314},{34,20}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,84},{34,20}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Death015.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,326},{34,18}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,86},{34,18}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,172},{36,26}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,78},{36,26}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,112},{36,28}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,76},{36,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,334},{36,28}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,76},{36,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,304},{36,28}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,76},{36,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{36,30}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,75},{36,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{36,30}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,75},{36,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{36,30}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,75},{36,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,304},{36,28}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,76},{36,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,334},{36,28}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,76},{36,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,112},{36,28}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,76},{36,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Idle011.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,172},{36,26}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,78},{36,26}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Move_Side001.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,172},{36,26}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,78},{36,26}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Move_Side002.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,274},{36,28}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,76},{36,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Move_Side003.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,216},{36,28}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,76},{36,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Move_Side004.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,186},{36,28}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,76},{36,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Move_Side005.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,156},{36,28}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,76},{36,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Move_Side006.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,40},{36,26}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,78},{36,26}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Move_Side007.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,126},{36,28}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,76},{36,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Move_Side008.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,96},{36,28}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,76},{36,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Move_Side009.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,56},{36,28}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,76},{36,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Move_Side010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{36,28}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,76},{36,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100413_Move_Side011.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,172},{36,26}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,78},{36,26}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100413.png</string>
            <key>size</key>
            <string>{128,368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34cda141f9099eafabb2c075f7d98a92$</string>
            <key>textureFileName</key>
            <string>100413.png</string>
        </dict>
    </dict>
</plist>
