<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100412_Attack_01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,678},{56,52}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,52},{56,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Attack_01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,222},{62,52}}</string>
                <key>offset</key>
                <string>{7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,52},{62,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Attack_01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,400},{62,54}}</string>
                <key>offset</key>
                <string>{6,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,50},{62,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Attack_01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,398},{56,62}}</string>
                <key>offset</key>
                <string>{3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,42},{56,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Attack_01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,160},{44,68}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,36},{44,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Attack_01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,534},{48,68}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,36},{48,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Attack_01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,456},{56,64}}</string>
                <key>offset</key>
                <string>{-10,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,40},{56,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Attack_01008.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,118},{70,40}}</string>
                <key>offset</key>
                <string>{15,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,69},{70,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Attack_01009.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,534},{70,42}}</string>
                <key>offset</key>
                <string>{14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,67},{70,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Attack_01010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{66,50}}</string>
                <key>offset</key>
                <string>{12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,59},{66,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Attack_01011.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,398},{62,54}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,53},{62,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Attack_01012.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,678},{58,56}}</string>
                <key>offset</key>
                <string>{9,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,49},{58,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Attack_01013.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,580},{54,54}}</string>
                <key>offset</key>
                <string>{7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,50},{54,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Attack_01014.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,678},{56,52}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,52},{56,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Coma001.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,678},{56,52}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,52},{56,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Coma002.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,678},{54,54}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,50},{54,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Coma003.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,622},{54,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,52},{54,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Coma004.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,676},{52,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,52},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Coma005.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,584},{50,52}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,52},{50,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Coma006.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,584},{50,52}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,52},{50,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Coma007.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,684},{50,52}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,52},{50,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Coma008.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,584},{50,52}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,52},{50,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Coma009.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,584},{50,52}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,52},{50,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Coma010.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,676},{52,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,52},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Coma011.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,622},{54,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,52},{54,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Coma012.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,678},{54,54}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,50},{54,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Coma013.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,678},{56,52}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,52},{56,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Death001.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,678},{56,52}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,52},{56,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Death002.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,334},{62,54}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,50},{62,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Death003.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,462},{66,54}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,50},{66,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Death004.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,60},{70,56}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,48},{70,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Death005.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,398},{72,56}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,48},{72,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Death006.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{76,56}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,48},{76,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Death007.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,578},{62,56}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,50},{62,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Death008.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,522},{60,52}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,56},{60,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Death009.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,576},{64,40}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,69},{64,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Death010.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,636},{64,40}}</string>
                <key>offset</key>
                <string>{17,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,66},{64,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Death011.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,636},{64,40}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,69},{64,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Death012.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,636},{64,40}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,69},{64,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Death013.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,636},{64,40}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,69},{64,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Death014.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,636},{64,40}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,69},{64,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Death015.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,636},{64,40}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,69},{64,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Death016.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,636},{64,40}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,69},{64,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Death017.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,580},{62,40}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,69},{62,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,678},{56,52}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,52},{56,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,678},{56,54}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,50},{56,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,524},{58,54}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,50},{58,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,518},{58,54}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,50},{58,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,462},{60,54}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,50},{60,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,464},{60,56}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,48},{60,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,462},{60,54}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,50},{60,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,518},{58,54}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,50},{58,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,524},{58,54}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,50},{58,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,678},{56,54}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,50},{56,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Idle011.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,678},{56,52}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,52},{56,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Special_01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,678},{56,52}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,52},{56,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Special_01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,334},{64,54}}</string>
                <key>offset</key>
                <string>{7,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,50},{64,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Special_01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,276},{62,56}}</string>
                <key>offset</key>
                <string>{7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,48},{62,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Special_01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,160},{60,60}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,44},{60,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Special_01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,522},{60,52}}</string>
                <key>offset</key>
                <string>{10,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,52},{60,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Special_01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,230},{52,44}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,63},{52,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Special_02001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{136,122}}</string>
                <key>offset</key>
                <string>{-16,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,54},{136,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100412_Special_02002.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,410},{132,122}}</string>
                <key>offset</key>
                <string>{-18,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,54},{132,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100412_Special_02003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,134}}</string>
                <key>offset</key>
                <string>{-17,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,53},{136,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100412_Special_02004.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{134,134}}</string>
                <key>offset</key>
                <string>{-18,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,53},{134,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100412_Special_02005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{134,134}}</string>
                <key>offset</key>
                <string>{-17,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,53},{134,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100412_Special_02006.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,138},{128,134}}</string>
                <key>offset</key>
                <string>{-16,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,53},{128,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100412_Special_02007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{132,134}}</string>
                <key>offset</key>
                <string>{-14,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,53},{132,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100412_Special_02008.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{130,134}}</string>
                <key>offset</key>
                <string>{-17,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,53},{130,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100412_Special_02009.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,274},{128,134}}</string>
                <key>offset</key>
                <string>{-13,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,53},{128,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100412_Special_02010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{128,134}}</string>
                <key>offset</key>
                <string>{-15,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,52},{128,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100412_Special_02011.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,274},{130,122}}</string>
                <key>offset</key>
                <string>{-15,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,52},{130,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100412_Special_02012.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,138},{130,134}}</string>
                <key>offset</key>
                <string>{-17,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,53},{130,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100412_Special_02013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{136,122}}</string>
                <key>offset</key>
                <string>{-16,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,54},{136,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100412_Special_03001.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,230},{52,44}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,63},{52,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Special_03002.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,584},{50,48}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,57},{50,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Special_03003.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,684},{50,52}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,52},{50,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100412_Special_03004.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,678},{56,52}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,52},{56,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100412.png</string>
            <key>size</key>
            <string>{510,736}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c07344649ed918a3a20ae59ad0fafe5$</string>
            <key>textureFileName</key>
            <string>100412.png</string>
        </dict>
    </dict>
</plist>
