<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100411_Attack_01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,172},{52,52}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,50},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Attack_01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,188},{48,54}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,48},{48,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Attack_01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,62},{50,56}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,46},{50,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Attack_01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,114},{54,50}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,52},{54,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Attack_01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,114},{54,50}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,52},{54,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Attack_01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,122},{58,48}}</string>
                <key>offset</key>
                <string>{14,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,54},{58,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Attack_01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,242},{60,50}}</string>
                <key>offset</key>
                <string>{14,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,53},{60,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Attack_01008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{60,52}}</string>
                <key>offset</key>
                <string>{12,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,50},{60,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Attack_01009.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{58,52}}</string>
                <key>offset</key>
                <string>{9,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,50},{58,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Attack_01010.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,172},{52,52}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,50},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Coma001.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,172},{52,52}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,50},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Coma002.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,226},{54,52}}</string>
                <key>offset</key>
                <string>{6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,50},{54,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Coma003.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,172},{52,52}}</string>
                <key>offset</key>
                <string>{7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,50},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Coma004.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,188},{52,52}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,50},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Coma005.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,244},{54,54}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,49},{54,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Coma006.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,114},{54,54}}</string>
                <key>offset</key>
                <string>{9,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,50},{54,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Coma007.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,60},{54,56}}</string>
                <key>offset</key>
                <string>{9,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,50},{54,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Coma008.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,114},{54,54}}</string>
                <key>offset</key>
                <string>{9,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,50},{54,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Coma009.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,244},{54,54}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,49},{54,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Coma010.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,188},{52,52}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,50},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Coma011.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,172},{52,52}}</string>
                <key>offset</key>
                <string>{7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,50},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Coma012.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,226},{54,52}}</string>
                <key>offset</key>
                <string>{6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,50},{54,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Coma013.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,172},{52,52}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,50},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Death001.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,172},{52,52}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,50},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Death002.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,58},{54,54}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,48},{54,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Death003.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,58},{54,54}}</string>
                <key>offset</key>
                <string>{3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,48},{54,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Death004.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{56,54}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,48},{56,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Death005.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,46},{56,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Death006.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,244},{54,54}}</string>
                <key>offset</key>
                <string>{9,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,49},{54,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Death007.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,242},{60,46}}</string>
                <key>offset</key>
                <string>{12,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,57},{60,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Death008.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,120},{66,34}}</string>
                <key>offset</key>
                <string>{13,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,70},{66,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Death009.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,208},{62,34}}</string>
                <key>offset</key>
                <string>{13,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,69},{62,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Death010.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,120},{66,34}}</string>
                <key>offset</key>
                <string>{13,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,70},{66,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Death011.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,120},{66,34}}</string>
                <key>offset</key>
                <string>{13,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,70},{66,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Death012.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,120},{66,34}}</string>
                <key>offset</key>
                <string>{13,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,70},{66,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Death013.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,120},{66,34}}</string>
                <key>offset</key>
                <string>{13,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,70},{66,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Death014.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,172},{64,34}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,70},{64,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Death015.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,58},{42,28}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,75},{42,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,172},{52,52}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,50},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,170},{54,52}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,50},{54,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,116},{54,54}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,48},{54,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,116},{54,54}}</string>
                <key>offset</key>
                <string>{6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,48},{54,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,116},{54,54}}</string>
                <key>offset</key>
                <string>{6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,48},{54,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,244},{54,54}}</string>
                <key>offset</key>
                <string>{6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,48},{54,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,116},{54,54}}</string>
                <key>offset</key>
                <string>{6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,48},{54,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,116},{54,54}}</string>
                <key>offset</key>
                <string>{6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,48},{54,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,116},{54,54}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,48},{54,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,170},{54,52}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,50},{54,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Idle011.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,172},{52,52}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,50},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Move_Side001.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,172},{52,52}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,50},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Move_Side002.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,182},{58,48}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,55},{58,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Move_Side003.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,60},{54,50}}</string>
                <key>offset</key>
                <string>{6,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,52},{54,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Move_Side004.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{56,56}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,46},{56,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Move_Side005.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{56,62}}</string>
                <key>offset</key>
                <string>{5,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,40},{56,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Move_Side006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{56,58}}</string>
                <key>offset</key>
                <string>{5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,44},{56,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Move_Side007.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,60},{54,54}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,48},{54,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Move_Side008.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,172},{52,52}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,50},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Skill_01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,172},{52,52}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,50},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Skill_01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{54,52}}</string>
                <key>offset</key>
                <string>{3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,50},{54,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Skill_01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{74,58}}</string>
                <key>offset</key>
                <string>{10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,52},{74,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Skill_01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{76,58}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,52},{76,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Skill_01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,58}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,52},{76,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Skill_01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{70,58}}</string>
                <key>offset</key>
                <string>{12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,52},{70,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Skill_01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,62},{64,56}}</string>
                <key>offset</key>
                <string>{15,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,54},{64,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Skill_01008.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,170},{46,50}}</string>
                <key>offset</key>
                <string>{7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,52},{46,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Skill_01009.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,226},{48,52}}</string>
                <key>offset</key>
                <string>{9,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,50},{48,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Skill_01010.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,226},{50,52}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,50},{50,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100411_Skill_01011.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,172},{52,52}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,50},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100411.png</string>
            <key>size</key>
            <string>{509,304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a742e52df24ae81ec1e3fd70ad8bfee9$</string>
            <key>textureFileName</key>
            <string>100411.png</string>
        </dict>
    </dict>
</plist>
