<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100402attack001.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,48},{46,52}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,101},{46,52}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402attack002.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,208},{44,50}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,103},{44,50}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402attack003.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,222},{42,50}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,103},{42,50}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402attack004.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{44,60}}</string>
                <key>offset</key>
                <string>{-5,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,92},{44,60}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402attack005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,64}}</string>
                <key>offset</key>
                <string>{-11,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,88},{44,64}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402attack006.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{44,62}}</string>
                <key>offset</key>
                <string>{-11,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,90},{44,62}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402attack007.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,146},{34,60}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,92},{34,60}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402attack008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{56,40}}</string>
                <key>offset</key>
                <string>{12,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,116},{56,40}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402attack009.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,96},{56,40}}</string>
                <key>offset</key>
                <string>{12,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,116},{56,40}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402attack010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{56,40}}</string>
                <key>offset</key>
                <string>{12,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,116},{56,40}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402attack011.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,110},{56,38}}</string>
                <key>offset</key>
                <string>{12,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,117},{56,38}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402attack012.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,306},{50,42}}</string>
                <key>offset</key>
                <string>{8,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,110},{50,42}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402attack013.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,48},{48,48}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,105},{48,48}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402attack014.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,48},{46,52}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,101},{46,52}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402coma001.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,390},{44,46}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,107},{44,46}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402coma002.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,324},{44,46}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,107},{44,46}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402coma003.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,296},{44,46}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,107},{44,46}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402coma004.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,392},{44,44}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,109},{44,44}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402coma005.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,346},{44,44}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,109},{44,44}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402coma006.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,260},{46,44}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,109},{46,44}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402coma007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{46,44}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,109},{46,44}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402coma008.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,344},{46,44}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,109},{46,44}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402coma009.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,344},{46,44}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,109},{46,44}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402coma010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{46,44}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,109},{46,44}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402coma011.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,260},{46,44}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,109},{46,44}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402coma012.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,346},{44,44}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,109},{44,44}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402coma013.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,392},{44,44}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,109},{44,44}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402coma014.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,296},{44,46}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,107},{44,46}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402coma015.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,324},{44,46}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,107},{44,46}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402coma016.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,390},{44,46}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,107},{44,46}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402death001.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,48},{46,52}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,101},{46,52}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402death002.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,368},{44,46}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,107},{44,46}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402death003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{44,50}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,103},{44,50}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402death004.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,316},{44,50}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,103},{44,50}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402death005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{46,52}}</string>
                <key>offset</key>
                <string>{-9,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,101},{46,52}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402death006.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{48,54}}</string>
                <key>offset</key>
                <string>{-14,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,99},{48,54}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402death007.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,50},{46,52}}</string>
                <key>offset</key>
                <string>{-13,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,101},{46,52}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402death008.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,98},{46,50}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,103},{46,50}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402death009.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,204},{46,48}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,106},{46,48}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402death010.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,416},{50,40}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,113},{50,40}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402death011.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,460},{56,34}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,122},{56,34}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402death012.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,448},{58,32}}</string>
                <key>offset</key>
                <string>{19,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,126},{58,32}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402death013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{60,32}}</string>
                <key>offset</key>
                <string>{19,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,125},{60,32}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402death014.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,438},{60,32}}</string>
                <key>offset</key>
                <string>{19,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,126},{60,32}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402death015.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,398},{60,32}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,127},{60,32}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402death016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{60,32}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,127},{60,32}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402death017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{60,32}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,127},{60,32}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402death018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{60,32}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,127},{60,32}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402death019.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,48},{60,32}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,127},{60,32}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402death020.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,448},{58,32}}</string>
                <key>offset</key>
                <string>{20,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,127},{58,32}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402death021.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,468},{58,32}}</string>
                <key>offset</key>
                <string>{20,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,127},{58,32}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402death022.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,436},{58,32}}</string>
                <key>offset</key>
                <string>{20,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,127},{58,32}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,48},{46,52}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,101},{46,52}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,146},{44,52}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,101},{44,52}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,100},{44,52}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,101},{44,52}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,292},{44,50}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,103},{44,50}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,254},{44,50}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,103},{44,50}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,194},{44,50}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,103},{44,50}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,146},{46,48}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,105},{46,48}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,192},{46,48}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,105},{46,48}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,154},{46,48}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,105},{46,48}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,98},{46,48}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,105},{46,48}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402idle011.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,274},{44,48}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,105},{44,48}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402idle012.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,246},{44,48}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,105},{44,48}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402idle013.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,240},{44,50}}</string>
                <key>offset</key>
                <string>{4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,103},{44,50}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402idle014.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,52},{46,50}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,103},{46,50}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402idle015.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{46,52}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,101},{46,52}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402idle016.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,48},{46,52}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,101},{46,52}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402move001.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,262},{42,52}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,101},{42,52}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402move002.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,358},{40,50}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,103},{40,50}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402move003.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,306},{38,52}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,101},{38,52}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402move004.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,372},{36,54}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,99},{36,54}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402move005.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,342},{36,54}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,99},{36,54}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402move006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{38,52}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,101},{38,52}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402move007.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,168},{38,52}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,101},{38,52}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402move008.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,410},{36,52}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,101},{36,52}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402move009.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,410},{36,52}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,101},{36,52}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402move010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{36,54}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,99},{36,54}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402move011.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,208},{38,52}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,101},{38,52}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402move012.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,154},{40,52}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,101},{40,52}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100402move013.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,262},{42,52}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,101},{42,52}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100402.png</string>
            <key>size</key>
            <string>{330,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b95b89e99995e245930d5d91c9e4a70$</string>
            <key>textureFileName</key>
            <string>100402.png</string>
        </dict>
    </dict>
</plist>
