<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100414attack001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,534},{43,41}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,63},{43,41}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414attack002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{63,55}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,49},{63,55}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414attack003.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,110},{43,63}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,41},{43,63}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414attack004.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,61},{47,63}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,41},{47,63}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414attack005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{49,63}}</string>
                <key>offset</key>
                <string>{-5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,41},{49,63}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414attack006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{51,63}}</string>
                <key>offset</key>
                <string>{-7,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,41},{51,63}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414attack007.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,393},{55,39}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,68},{55,39}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414attack008.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,336},{55,39}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,68},{55,39}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414attack009.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,393},{55,39}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,68},{55,39}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414attack010.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,336},{55,39}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,68},{55,39}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414attack011.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,295},{55,39}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,68},{55,39}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414attack012.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,580},{55,39}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,68},{55,39}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414attack013.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,345},{47,43}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,67},{47,43}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414attack014.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,673},{43,39}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,65},{43,39}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414attack015.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,534},{43,41}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,63},{43,41}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414death001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,534},{43,41}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,63},{43,41}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414death002.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,634},{43,37}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,67},{43,37}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414death003.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,622},{43,39}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,65},{43,39}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414death004.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,489},{43,43}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,61},{43,43}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414death005.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,674},{45,45}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,59},{45,45}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414death006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{49,45}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,59},{49,45}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414death007.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,207},{51,43}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,61},{51,43}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414death008.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,252},{53,41}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,65},{53,41}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414death009.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,466},{57,39}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,67},{57,39}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414death010.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,637},{57,35}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,72},{57,35}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414death011.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,155},{63,33}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,79},{63,33}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414death012.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,346},{61,33}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,79},{61,33}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414death013.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,233},{61,33}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,79},{61,33}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414death014.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,133},{61,33}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,79},{61,33}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414death015.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,133},{61,33}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,79},{61,33}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414death016.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,133},{61,33}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,79},{61,33}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414death017.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,133},{61,33}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,79},{61,33}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414death018.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,133},{61,33}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,79},{61,33}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414death019.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,133},{61,33}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,79},{61,33}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414death020.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,98},{61,33}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,79},{61,33}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414death021.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,154},{59,33}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,79},{59,33}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414death022.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,119},{59,33}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,79},{59,33}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414death023.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,639},{57,33}}</string>
                <key>offset</key>
                <string>{17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,79},{57,33}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,534},{43,41}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,63},{43,41}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,511},{43,41}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,63},{43,41}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,468},{43,41}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,63},{43,41}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,577},{43,39}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,65},{43,39}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,674},{45,39}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,65},{45,39}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,595},{45,37}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,67},{45,37}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,429},{45,37}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,67},{45,37}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,390},{45,37}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,67},{45,37}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,306},{45,37}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,67},{45,37}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,267},{45,37}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,67},{45,37}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414idle011.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,554},{43,39}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,65},{43,39}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414idle012.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,489},{43,39}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,65},{43,39}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414idle013.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,534},{43,41}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,63},{43,41}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414move001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{67,41}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,65},{67,41}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414move002.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,190},{61,41}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,67},{61,41}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414move003.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,523},{55,39}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,69},{55,39}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414move004.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,466},{55,39}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,70},{55,39}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414move005.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,230},{53,35}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,70},{53,35}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414move006.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{59,37}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,68},{59,37}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414move007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,605},{67,39}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,67},{67,39}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414move008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{67,41}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,66},{67,41}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414move009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{69,43}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,66},{69,43}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414move010.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,55},{61,41}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,68},{61,41}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414move011.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,409},{55,39}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,70},{55,39}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414move012.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,582},{55,39}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,70},{55,39}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414move013.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,189},{53,39}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,69},{53,39}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414move014.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,268},{63,39}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,68},{63,39}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414move015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{69,39}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,67},{69,39}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414move016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{69,39}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,67},{69,39}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414move017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{67,41}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,65},{67,41}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414still001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,534},{43,41}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,63},{43,41}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414still002.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,295},{39,37}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,67},{39,37}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414still003.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,674},{45,39}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,65},{45,39}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414still004.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,409},{39,55}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,49},{39,55}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414still005.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,80},{37,59}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,45},{37,59}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414still006.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,346},{37,61}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,43},{37,61}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414still007.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,309},{35,63}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,41},{35,63}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414still008.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,41},{37,59}}</string>
                <key>offset</key>
                <string>{-7,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,45},{37,59}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414still009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,59}}</string>
                <key>offset</key>
                <string>{14,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,45},{63,59}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414still010.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{61,57}}</string>
                <key>offset</key>
                <string>{13,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,47},{61,57}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414still011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{67,51}}</string>
                <key>offset</key>
                <string>{7,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,53},{67,51}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414still012.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,525},{55,39}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,68},{55,39}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414still013.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,450},{55,37}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,67},{55,37}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414still014.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,168},{57,37}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,67},{57,37}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414still015.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,534},{47,39}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,65},{47,39}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>100414still016.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,583},{43,41}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,63},{43,41}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100414.png</string>
            <key>size</key>
            <string>{256,721}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:142cc0e456d0a6ccd72811b4942b8a55$</string>
            <key>textureFileName</key>
            <string>100414.png</string>
        </dict>
    </dict>
</plist>
