<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Special011.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,526},{54,54}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,48},{54,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Special112.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,526},{54,54}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,48},{54,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>attack111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{48,56}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,46},{48,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>attack112.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,758},{50,56}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,48},{50,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>attack113.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,334},{58,54}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,48},{58,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>attack114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{46,56}}</string>
                <key>offset</key>
                <string>{-9,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,46},{46,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>attack115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{46,56}}</string>
                <key>offset</key>
                <string>{-9,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,46},{46,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>attack116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{46,56}}</string>
                <key>offset</key>
                <string>{-9,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,46},{46,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>attack117.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,484},{46,58}}</string>
                <key>offset</key>
                <string>{-9,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,44},{46,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>attack118.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,468},{58,52}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,50},{58,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>attack119.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,112},{68,52}}</string>
                <key>offset</key>
                <string>{10,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,50},{68,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>attack120.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{70,52}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,50},{70,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>attack121.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{70,52}}</string>
                <key>offset</key>
                <string>{9,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,50},{70,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>attack122.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{70,52}}</string>
                <key>offset</key>
                <string>{9,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,50},{70,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>attack123.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,74},{68,52}}</string>
                <key>offset</key>
                <string>{9,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,50},{68,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>attack124.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,168},{66,52}}</string>
                <key>offset</key>
                <string>{9,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,50},{66,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>attack125.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{66,50}}</string>
                <key>offset</key>
                <string>{8,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,52},{66,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>attack126.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,182},{62,54}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,49},{62,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>attack127.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,356},{54,58}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,48},{54,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>attack128.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,744},{50,56}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,48},{50,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>attack129.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{48,56}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,46},{48,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>coma111.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,864},{50,54}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,48},{50,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>coma112.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,906},{50,54}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,48},{50,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>coma113.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,872},{50,54}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,48},{50,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>coma114.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,850},{50,54}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,48},{50,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>coma115.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,812},{50,54}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,48},{50,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>coma116.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,706},{50,56}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,46},{50,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>coma117.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,740},{50,56}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,46},{50,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>coma118.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,700},{50,56}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,46},{50,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>coma119.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,700},{50,56}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,46},{50,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>coma120.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,740},{50,56}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,46},{50,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>coma121.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,706},{50,56}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,46},{50,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>coma122.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,812},{50,54}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,48},{50,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>coma123.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,850},{50,54}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,48},{50,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>coma124.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,872},{50,54}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,48},{50,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>coma125.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,906},{50,54}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,48},{50,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>coma126.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,864},{50,54}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,48},{50,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>death111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{48,56}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,46},{48,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>death112.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,544},{54,54}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,49},{54,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>death113.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,600},{54,52}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,51},{54,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>death114.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,414},{56,54}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,49},{56,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>death115.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,390},{56,54}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,48},{56,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>death116.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,522},{54,54}}</string>
                <key>offset</key>
                <string>{-6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,48},{54,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>death117.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,300},{56,56}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,46},{56,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>death118.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,222},{60,56}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,46},{60,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>death119.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,114},{66,52}}</string>
                <key>offset</key>
                <string>{3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,50},{66,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>death120.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{62,50}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,53},{62,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>death121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{62,48}}</string>
                <key>offset</key>
                <string>{9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,56},{62,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>death122.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,422},{60,42}}</string>
                <key>offset</key>
                <string>{16,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,62},{60,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>death123.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,960},{60,40}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,64},{60,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>death124.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,976},{62,38}}</string>
                <key>offset</key>
                <string>{17,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,67},{62,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>death125.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,956},{64,38}}</string>
                <key>offset</key>
                <string>{18,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,71},{64,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>death126.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,916},{64,38}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,74},{64,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>death127.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,916},{64,38}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,74},{64,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>death128.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,916},{64,38}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,74},{64,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>death129.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,916},{64,38}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,74},{64,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>death130.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,916},{64,38}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,74},{64,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>death131.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,916},{64,38}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,74},{64,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>death132.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,958},{64,38}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,74},{64,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>death133.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{64,38}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,74},{64,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>death134.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{64,38}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,74},{64,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>death135.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,356},{64,38}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,74},{64,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{48,56}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,46},{48,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{48,56}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,47},{48,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle113.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,692},{50,56}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,47},{50,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle114.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,638},{52,54}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,48},{52,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle115.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,470},{54,54}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,48},{54,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle116.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,412},{56,54}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,48},{56,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle117.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,358},{56,54}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,48},{56,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle118.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,242},{60,54}}</string>
                <key>offset</key>
                <string>{-6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,48},{60,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle119.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,186},{60,54}}</string>
                <key>offset</key>
                <string>{-6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,48},{60,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle120.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,280},{62,52}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,50},{62,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle121.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,246},{62,52}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,50},{62,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle122.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{64,54}}</string>
                <key>offset</key>
                <string>{-7,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,48},{64,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle123.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,56},{66,54}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,48},{66,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle124.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,54}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,48},{68,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle125.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{66,54}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,48},{66,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle126.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,56},{64,56}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,46},{64,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle127.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,128},{62,56}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,46},{62,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle128.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{60,56}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,46},{60,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle129.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,298},{56,56}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,46},{56,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle130.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,564},{52,56}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,46},{52,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>idle131.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{48,56}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,46},{48,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>move111.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,526},{54,54}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,48},{54,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>move112.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,796},{52,52}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,50},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>move113.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,758},{52,52}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,51},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>move114.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,854},{50,54}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,48},{50,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>move115.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,654},{50,56}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,45},{50,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>move116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{48,56}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,45},{48,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>move117.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,622},{50,58}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,44},{50,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>move118.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,582},{50,58}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,44},{50,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>move119.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,682},{50,56}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,46},{50,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>move120.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,816},{50,54}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,48},{50,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>move121.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,906},{50,52}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,50},{50,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>move122.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,924},{50,50}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,52},{50,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>move123.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,798},{50,54}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,48},{50,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>move124.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{48,56}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,45},{48,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>move125.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,642},{50,56}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,45},{50,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>move126.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,578},{50,58}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,44},{50,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>move127.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,446},{52,58}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,44},{52,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>move128.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,506},{52,56}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,46},{52,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>move129.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,526},{54,54}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,48},{54,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100408.png</string>
            <key>size</key>
            <string>{276,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b053e1c1f4db0c058a629f7b93e5a42$</string>
            <key>textureFileName</key>
            <string>100408.png</string>
        </dict>
    </dict>
</plist>
