<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100407_Attack_01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1312},{74,64}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,40},{74,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Attack_01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1392},{76,66}}</string>
                <key>offset</key>
                <string>{-6,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,38},{76,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Attack_01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1168},{76,68}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,36},{76,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Attack_01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1156},{76,68}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,36},{76,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Attack_01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,590},{76,70}}</string>
                <key>offset</key>
                <string>{-9,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,34},{76,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Attack_01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,816},{74,70}}</string>
                <key>offset</key>
                <string>{-8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,34},{74,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Attack_01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,816},{74,70}}</string>
                <key>offset</key>
                <string>{-8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,34},{74,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Attack_01008.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{94,64}}</string>
                <key>offset</key>
                <string>{11,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,40},{94,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Attack_01009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,64}}</string>
                <key>offset</key>
                <string>{13,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,40},{96,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Attack_01010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{88,64}}</string>
                <key>offset</key>
                <string>{9,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,40},{88,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Attack_01011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{78,64}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,40},{78,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Attack_01012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1236},{74,64}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,40},{74,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Attack_01013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1312},{74,64}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,40},{74,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Coma001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1312},{74,64}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,40},{74,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Coma002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{74,64}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,40},{74,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Coma003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{74,64}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,40},{74,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Coma004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1008},{74,64}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,40},{74,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Coma005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{74,64}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,40},{74,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Coma006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1462},{72,64}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,40},{72,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Coma007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1388},{72,64}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,40},{72,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Coma008.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1696},{70,64}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,40},{70,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Coma009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1388},{72,64}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,40},{72,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Coma010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1462},{72,64}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,40},{72,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Coma011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{74,64}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,40},{74,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Coma012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1008},{74,64}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,40},{74,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Coma013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{74,64}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,40},{74,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Coma014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{74,64}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,40},{74,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Coma015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1312},{74,64}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,40},{74,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Death001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1312},{74,64}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,40},{74,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Death002.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1374},{76,66}}</string>
                <key>offset</key>
                <string>{-5,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,38},{76,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Death003.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1098},{76,68}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,36},{76,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Death004.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,530},{76,70}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,35},{76,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Death005.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,372},{74,72}}</string>
                <key>offset</key>
                <string>{-8,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,35},{74,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Death006.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,144},{72,76}}</string>
                <key>offset</key>
                <string>{-9,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,33},{72,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Death007.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,68},{74,74}}</string>
                <key>offset</key>
                <string>{-5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,35},{74,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Death008.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,518},{76,70}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,39},{76,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Death009.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1584},{74,66}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,42},{74,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Death010.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,144},{76,58}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,51},{76,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Death011.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1974},{80,52}}</string>
                <key>offset</key>
                <string>{24,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,63},{80,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Death012.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1838},{74,52}}</string>
                <key>offset</key>
                <string>{25,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,58},{74,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Death013.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1838},{80,52}}</string>
                <key>offset</key>
                <string>{24,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,63},{80,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Death014.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1920},{80,52}}</string>
                <key>offset</key>
                <string>{24,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,63},{80,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Death015.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1838},{80,52}}</string>
                <key>offset</key>
                <string>{24,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,63},{80,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Death016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1914},{80,52}}</string>
                <key>offset</key>
                <string>{24,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,63},{80,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Death017.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1784},{80,52}}</string>
                <key>offset</key>
                <string>{24,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,63},{80,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Death018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1832},{80,52}}</string>
                <key>offset</key>
                <string>{24,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,63},{80,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Death019.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1920},{76,52}}</string>
                <key>offset</key>
                <string>{25,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,63},{76,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Death020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1996},{76,50}}</string>
                <key>offset</key>
                <string>{24,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,64},{76,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1312},{74,64}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,40},{74,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1546},{74,66}}</string>
                <key>offset</key>
                <string>{-4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,38},{74,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1314},{76,66}}</string>
                <key>offset</key>
                <string>{-4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,38},{76,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1078},{76,68}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,36},{76,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1028},{76,68}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,36},{76,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1000},{76,68}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,36},{76,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{78,70}}</string>
                <key>offset</key>
                <string>{-5,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,34},{78,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,218},{78,70}}</string>
                <key>offset</key>
                <string>{-5,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,34},{78,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{78,70}}</string>
                <key>offset</key>
                <string>{-5,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,34},{78,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,958},{76,68}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,36},{76,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Idle011.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,922},{76,68}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,36},{76,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Idle012.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,888},{76,68}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,36},{76,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Idle013.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1306},{76,66}}</string>
                <key>offset</key>
                <string>{-4,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,38},{76,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Idle014.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1470},{74,66}}</string>
                <key>offset</key>
                <string>{-4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,38},{74,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Idle015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1312},{74,64}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,40},{74,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Move_Side001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{82,64}}</string>
                <key>offset</key>
                <string>{3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,40},{82,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Move_Side002.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,290},{82,66}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,38},{82,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Move_Side003.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,608},{78,68}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,36},{78,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Move_Side004.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,452},{76,70}}</string>
                <key>offset</key>
                <string>{-3,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,34},{76,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Move_Side005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{76,72}}</string>
                <key>offset</key>
                <string>{-3,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,32},{76,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Move_Side006.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,446},{76,70}}</string>
                <key>offset</key>
                <string>{-3,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,34},{76,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Move_Side007.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,844},{76,68}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,36},{76,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Move_Side008.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1238},{78,66}}</string>
                <key>offset</key>
                <string>{-4,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,38},{78,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Move_Side009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{84,64}}</string>
                <key>offset</key>
                <string>{-5,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,40},{84,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Move_Side010.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1234},{78,66}}</string>
                <key>offset</key>
                <string>{-4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,38},{78,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Move_Side011.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,766},{76,68}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,36},{76,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Move_Side012.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,374},{76,70}}</string>
                <key>offset</key>
                <string>{-3,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,34},{76,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Move_Side013.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,298},{74,72}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,32},{74,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Move_Side014.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,744},{74,70}}</string>
                <key>offset</key>
                <string>{-2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,34},{74,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Move_Side015.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,688},{76,68}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,36},{76,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Move_Side016.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,662},{80,66}}</string>
                <key>offset</key>
                <string>{2,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,38},{80,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Move_Side017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{82,64}}</string>
                <key>offset</key>
                <string>{3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,40},{82,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Skill_01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{74,64}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,40},{74,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Skill_01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1622},{72,66}}</string>
                <key>offset</key>
                <string>{-3,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,38},{72,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Skill_01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1514},{72,68}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,36},{72,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Skill_01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1442},{70,70}}</string>
                <key>offset</key>
                <string>{-4,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,34},{70,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Skill_01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1652},{66,70}}</string>
                <key>offset</key>
                <string>{-4,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,34},{66,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Skill_01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1760},{62,70}}</string>
                <key>offset</key>
                <string>{-4,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,34},{62,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Skill_01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1760},{62,70}}</string>
                <key>offset</key>
                <string>{-4,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,34},{62,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Skill_01008.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1768},{68,62}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,42},{68,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Skill_01009.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1720},{70,62}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,42},{70,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Skill_01010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1686},{72,62}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,42},{72,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Skill_01011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1612},{72,62}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,42},{72,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Skill_01012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1536},{74,62}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,42},{74,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Skill_01013.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,222},{74,62}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,42},{74,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Skill_01014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{78,64}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,40},{78,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Skill_01015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{78,64}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,40},{78,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Skill_01016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{76,64}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,40},{76,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100407_Skill_01017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{74,64}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,40},{74,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100407.png</string>
            <key>size</key>
            <string>{218,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bf37bcbf05f155c303caa5f4da9c28a$</string>
            <key>textureFileName</key>
            <string>100407.png</string>
        </dict>
    </dict>
</plist>
