<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100404_Attack_01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{42,42}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,113},{42,42}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Attack_01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1436},{40,42}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,113},{40,42}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Attack_01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{40,52}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,103},{40,52}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Attack_01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{56,48}}</string>
                <key>offset</key>
                <string>{-11,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,107},{56,48}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Attack_01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{56,48}}</string>
                <key>offset</key>
                <string>{-11,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,107},{56,48}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Attack_01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1538},{62,38}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,119},{62,38}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Attack_01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1478},{58,40}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,118},{58,40}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Attack_01008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1478},{58,40}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,118},{58,40}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Attack_01009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,42}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,116},{52,42}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Attack_01010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{46,42}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,115},{46,42}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Attack_01011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{42,42}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,113},{42,42}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Born001.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,174},{4,4}}</string>
                <key>offset</key>
                <string>{-3,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,21},{4,4}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Born002.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,1478},{12,108}}</string>
                <key>offset</key>
                <string>{-2,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,43},{12,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Born003.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,1660},{20,86}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,67},{20,86}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Born004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1660},{32,64}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,90},{32,64}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Born005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{42,42}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,113},{42,42}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Born006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1136},{44,38}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,117},{44,38}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Born007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{46,36}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,119},{46,36}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Born008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1136},{44,38}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,117},{44,38}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Born009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{42,42}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,113},{42,42}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Coma001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{42,42}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,113},{42,42}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Coma002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1394},{42,40}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,115},{42,40}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Coma003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1352},{42,40}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,116},{42,40}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Coma004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{44,40}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,116},{44,40}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Coma005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{44,40}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,117},{44,40}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Coma006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{44,40}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,118},{44,40}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Coma007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{44,40}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,119},{44,40}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Coma008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{44,40}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,118},{44,40}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Coma009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{44,40}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,117},{44,40}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Coma010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{44,40}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,116},{44,40}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Coma011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1352},{42,40}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,116},{42,40}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Coma012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1394},{42,40}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,115},{42,40}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Coma013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{42,42}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,113},{42,42}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Death001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{42,42}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,113},{42,42}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Death002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1094},{40,44}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,111},{40,44}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Death003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{38,46}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,109},{38,46}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Death004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{40,48}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,107},{40,48}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Death005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{40,50}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,105},{40,50}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Death006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{50,42}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,114},{50,42}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Death007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1788},{60,32}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,129},{60,32}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Death008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1602},{56,34}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,125},{56,34}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Death009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1788},{60,32}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,129},{60,32}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Death010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1726},{60,32}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,129},{60,32}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Death011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1910},{58,32}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,129},{58,32}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Death012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1850},{58,32}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,129},{58,32}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{42,42}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,113},{42,42}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1264},{42,42}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,113},{42,42}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1220},{42,42}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,113},{42,42}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{42,44}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,111},{42,44}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{42,44}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,111},{42,44}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1052},{40,44}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,111},{40,44}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{42,44}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,111},{42,44}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{42,44}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,111},{42,44}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1220},{42,42}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,113},{42,42}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1264},{42,42}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,113},{42,42}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Idle011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{42,42}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,113},{42,42}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Move_Side001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1176},{42,42}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,113},{42,42}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Move_Side002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{42,44}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,111},{42,44}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Move_Side003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{42,46}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,109},{42,46}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Move_Side004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{42,46}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,109},{42,46}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Move_Side005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{44,44}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,111},{44,44}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Move_Side006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{46,42}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,114},{46,42}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Move_Side007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{44,44}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,111},{44,44}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Move_Side008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{42,46}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,109},{42,46}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Move_Side009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{42,46}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,109},{42,46}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Move_Side010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{42,44}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,111},{42,44}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>100404_Move_Side011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1176},{42,42}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,113},{42,42}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100404.png</string>
            <key>size</key>
            <string>{58,1970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c93c3863d79cdd77b3cd2ad8271e501f$</string>
            <key>textureFileName</key>
            <string>100404.png</string>
        </dict>
    </dict>
</plist>
