<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100416attack001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,82},{64,78}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,75},{64,78}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416attack002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,84},{62,80}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,72},{62,80}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416attack003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,170},{60,82}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,70},{60,82}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416attack004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,86},{58,82}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,70},{58,82}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416attack005.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,120},{56,84}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,68},{56,84}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416attack006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,82},{72,78}}</string>
                <key>offset</key>
                <string>{9,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,74},{72,78}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416attack007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,2},{72,78}}</string>
                <key>offset</key>
                <string>{9,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,74},{72,78}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416attack008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,82},{72,78}}</string>
                <key>offset</key>
                <string>{8,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,74},{72,78}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416attack009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,2},{72,78}}</string>
                <key>offset</key>
                <string>{8,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,74},{72,78}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416attack010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,82},{70,78}}</string>
                <key>offset</key>
                <string>{8,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,74},{70,78}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416attack011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,2},{70,78}}</string>
                <key>offset</key>
                <string>{7,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,74},{70,78}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416attack012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,2},{66,80}}</string>
                <key>offset</key>
                <string>{6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,73},{66,80}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416attack013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,162},{64,78}}</string>
                <key>offset</key>
                <string>{4,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,75},{64,78}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416attack014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,82},{64,78}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,75},{64,78}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416attackf001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,82},{64,78}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,75},{64,78}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416attackf002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,2},{62,76}}</string>
                <key>offset</key>
                <string>{2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,77},{62,76}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416attackf003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,78},{62,74}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,79},{62,74}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416attackf004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,170},{60,74}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,79},{60,74}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416attackf005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,2},{62,74}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,79},{62,74}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416attackf006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,156},{62,74}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,79},{62,74}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416attackf007.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,122},{72,86}}</string>
                <key>offset</key>
                <string>{6,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,67},{72,86}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416attackf008.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,144},{72,86}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,66},{72,86}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416attackf009.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,120},{70,86}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,66},{70,86}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416attackf010.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,120},{70,86}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,66},{70,86}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416attackf011.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,122},{70,86}}</string>
                <key>offset</key>
                <string>{4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,67},{70,86}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416attackf012.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,146},{68,84}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,69},{68,84}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416attackf013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,2},{64,80}}</string>
                <key>offset</key>
                <string>{4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,73},{64,80}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416attackf014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,82},{64,78}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,75},{64,78}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416coma001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,162},{64,68}}</string>
                <key>offset</key>
                <string>{4,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,85},{64,68}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416death001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,82},{64,78}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,75},{64,78}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416death002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,150},{62,70}}</string>
                <key>offset</key>
                <string>{3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,82},{62,70}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416death003.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,122},{66,96}}</string>
                <key>offset</key>
                <string>{6,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,56},{66,96}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416death004.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,120},{74,82}}</string>
                <key>offset</key>
                <string>{6,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,69},{74,82}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416death005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,152},{84,78}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,74},{84,78}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416death006.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,122},{106,60}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,103},{106,60}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416death007.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{116,60}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,100},{116,60}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416death008.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{116,54}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,102},{116,54}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416death009.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{116,54}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,105},{116,54}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416death010.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{116,52}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,109},{116,52}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416death011.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{118,54}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,109},{118,54}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416death012.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{118,54}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,109},{118,54}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416death013.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{118,54}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,109},{118,54}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416death014.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{118,54}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,109},{118,54}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416death015.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{118,54}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,108},{118,54}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,82},{64,78}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,75},{64,78}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,166},{64,80}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,73},{64,80}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,2},{64,82}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{64,82}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,86},{64,82}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{64,82}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,146},{64,84}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,69},{64,84}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,2},{64,82}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{64,82}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,86},{64,82}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{64,82}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,84},{64,80}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{64,80}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,166},{64,80}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,73},{64,80}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,82},{64,78}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,75},{64,78}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416move001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,82},{64,78}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,75},{64,78}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416move002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,80},{64,76}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,77},{64,76}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416move003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,162},{66,74}}</string>
                <key>offset</key>
                <string>{2,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,79},{66,74}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416move004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,162},{64,76}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,77},{64,76}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416move005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,2},{64,78}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,75},{64,78}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416move006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,2},{64,80}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{64,80}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416move007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,2},{66,82}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,71},{66,82}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416move008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,84},{64,80}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,73},{64,80}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416move009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,82},{64,78}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,75},{64,78}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416skill001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,166},{64,78}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,75},{64,78}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416skill002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,80},{62,74}}</string>
                <key>offset</key>
                <string>{2,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,79},{62,74}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416skill003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,76},{62,72}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,81},{62,72}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416skill004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,2},{62,72}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,81},{62,72}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416skill005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,158},{62,72}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,81},{62,72}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416skill006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,118},{74,112}}</string>
                <key>offset</key>
                <string>{5,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,39},{74,112}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416skill007.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{74,114}}</string>
                <key>offset</key>
                <string>{4,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,37},{74,114}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416skill008.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{74,142}}</string>
                <key>offset</key>
                <string>{4,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,9},{74,142}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416skill009.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{74,148}}</string>
                <key>offset</key>
                <string>{3,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,3},{74,148}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416skill010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{76,150}}</string>
                <key>offset</key>
                <string>{2,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,1},{76,150}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416skill011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,150}}</string>
                <key>offset</key>
                <string>{1,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,1},{76,150}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416skill012.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{70,150}}</string>
                <key>offset</key>
                <string>{-9,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,2},{70,150}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416skill013.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{68,142}}</string>
                <key>offset</key>
                <string>{-2,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,10},{68,142}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416skill014.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{70,140}}</string>
                <key>offset</key>
                <string>{0,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,12},{70,140}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416skill015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,2},{64,76}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,77},{64,76}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
            <key>100416skill016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,82},{64,78}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,75},{64,78}}</string>
                <key>sourceSize</key>
                <string>{200,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100416.png</string>
            <key>size</key>
            <string>{2012,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e745e40670f8b45668b7388e2564dc70$</string>
            <key>textureFileName</key>
            <string>100416.png</string>
        </dict>
    </dict>
</plist>
