<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100401_Attack_01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{38,38}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{38,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Attack_01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1600},{38,36}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,68},{38,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Attack_01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1710},{38,34}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,70},{38,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Attack_01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1674},{38,34}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,71},{38,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Attack_01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1638},{38,34}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,71},{38,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Attack_01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{48,46}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,58},{48,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Attack_01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{48,58}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,45},{48,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Attack_01008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,52}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,51},{50,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Attack_01009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{46,46}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,58},{46,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Attack_01010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{38,38}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{38,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Coma001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{38,38}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{38,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Coma002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1482},{38,38}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{38,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Coma003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1442},{38,38}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{38,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Coma004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1402},{38,38}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{38,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Coma005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{40,38}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,66},{40,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Coma006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1030},{40,38}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{40,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Coma007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{40,38}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,66},{40,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Coma008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1402},{38,38}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{38,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Coma009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1442},{38,38}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{38,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Coma010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1482},{38,38}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{38,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Coma011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{38,38}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{38,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Death001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{38,38}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{38,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Death002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{40,40}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,64},{40,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Death003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{40,40}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,63},{40,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Death004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{44,40}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,63},{44,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Death005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{44,42}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,61},{44,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Death006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{42,40}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,63},{42,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Death007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{40,38}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,66},{40,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Death008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1562},{38,36}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,68},{38,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Death009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{46,36}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,69},{46,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Death010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{46,36}}</string>
                <key>offset</key>
                <string>{15,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,70},{46,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Death011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{46,36}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,69},{46,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Death012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{46,36}}</string>
                <key>offset</key>
                <string>{15,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,70},{46,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Death013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{46,36}}</string>
                <key>offset</key>
                <string>{15,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,70},{46,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Death014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{46,36}}</string>
                <key>offset</key>
                <string>{15,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,70},{46,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Death015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{46,36}}</string>
                <key>offset</key>
                <string>{15,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,70},{46,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Death016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{46,36}}</string>
                <key>offset</key>
                <string>{15,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,70},{46,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Death017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{44,36}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,70},{44,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Death018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{44,36}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,70},{44,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{38,38}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{38,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1362},{38,38}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{38,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1322},{38,38}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{38,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{38,38}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{38,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{38,38}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{38,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{40,36}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,68},{40,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1110},{40,36}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,68},{40,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{40,36}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,68},{40,36}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{38,38}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{38,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{38,38}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{38,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Idle011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1322},{38,38}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{38,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Idle012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1362},{38,38}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{38,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Idle013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{38,38}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{38,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Move-Side001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{38,38}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{38,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Move-Side002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{42,34}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,70},{42,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Move-Side003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{50,30}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,75},{50,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Move-Side004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1860},{54,30}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,75},{54,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Move-Side005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{40,40}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,64},{40,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Move-Side006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{40,48}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,55},{40,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Move-Side007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1746},{36,56}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,46},{36,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Move-Side008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1804},{36,54}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,48},{36,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Move-Side009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1186},{38,54}}</string>
                <key>offset</key>
                <string>{-4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,48},{38,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Move-Side010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{40,52}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,50},{40,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Move-Side011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{40,52}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,50},{40,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Move-Side012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{38,44}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,59},{38,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Move-Side013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{38,38}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{38,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Zborn001.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,756},{8,8}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,93},{8,8}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Zborn002.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1860},{16,16}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,86},{16,16}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Zborn003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1948},{22,22}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,80},{22,22}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Zborn004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1916},{30,30}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,73},{30,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>100401_Zborn005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{38,38}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,66},{38,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100401.png</string>
            <key>size</key>
            <string>{54,1972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3e681b6d76fc1ba9cff363268da003d$</string>
            <key>textureFileName</key>
            <string>100401.png</string>
        </dict>
    </dict>
</plist>
