<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_160305_destroy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,2},{175,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{175,16}}</string>
                <key>sourceSize</key>
                <string>{175,30}</string>
            </dict>
            <key>eff_160305_destroy_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,2},{175,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{175,16}}</string>
                <key>sourceSize</key>
                <string>{175,30}</string>
            </dict>
            <key>eff_160305_destroy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,2},{175,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{175,16}}</string>
                <key>sourceSize</key>
                <string>{175,30}</string>
            </dict>
            <key>eff_160305_destroy_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,2},{175,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{175,16}}</string>
                <key>sourceSize</key>
                <string>{175,30}</string>
            </dict>
            <key>eff_160305_destroy_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,2},{175,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{175,16}}</string>
                <key>sourceSize</key>
                <string>{175,30}</string>
            </dict>
            <key>eff_160305_destroy_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{175,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{175,16}}</string>
                <key>sourceSize</key>
                <string>{175,30}</string>
            </dict>
            <key>eff_160305_destroy_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,2},{175,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{175,16}}</string>
                <key>sourceSize</key>
                <string>{175,30}</string>
            </dict>
            <key>eff_160305_destroy_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{175,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{175,16}}</string>
                <key>sourceSize</key>
                <string>{175,30}</string>
            </dict>
            <key>eff_160305_destroy_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{175,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{175,16}}</string>
                <key>sourceSize</key>
                <string>{175,30}</string>
            </dict>
            <key>eff_160305_destroy_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{175,16}}</string>
                <key>sourceSize</key>
                <string>{175,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_160305_destroy.png</string>
            <key>size</key>
            <string>{1772,20}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85ce448ca3d0927f1fab2d2ed1cedffb:1/1$</string>
            <key>textureFileName</key>
            <string>eff_160305_destroy.png</string>
        </dict>
    </dict>
</plist>
