<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_170106_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{46,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{46,20}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>eff_170106_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{44,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{44,20}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>eff_170106_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{46,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{46,20}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>eff_170106_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{44,24}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>eff_170106_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{46,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{46,22}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>eff_170106_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{44,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{44,20}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>eff_170106_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{46,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{46,20}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>eff_170106_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{42,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{42,20}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_170106.png</string>
            <key>size</key>
            <string>{376,28}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb7fee81e5b773fcb890da1d9cf31c58:1/1$</string>
            <key>textureFileName</key>
            <string>eff_170106.png</string>
        </dict>
    </dict>
</plist>
