<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_160204_burst_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{56,58}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_160204_burst_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{56,58}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_160204_burst_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{58,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_160204_burst_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_160204_burst.png</string>
            <key>size</key>
            <string>{238,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:369ce70e5fdfc4d5c26408708005232e$</string>
            <key>textureFileName</key>
            <string>eff_160204_burst.png</string>
        </dict>
    </dict>
</plist>
