<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_110102_disperse_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{540,136}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,125},{540,136}}</string>
                <key>sourceSize</key>
                <string>{540,280}</string>
            </dict>
            <key>eff_110102_disperse_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{380,140}}</string>
                <key>offset</key>
                <string>{0,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,124},{380,140}}</string>
                <key>sourceSize</key>
                <string>{540,280}</string>
            </dict>
            <key>eff_110102_disperse_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,140},{258,178}}</string>
                <key>offset</key>
                <string>{15,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,89},{258,178}}</string>
                <key>sourceSize</key>
                <string>{540,280}</string>
            </dict>
            <key>eff_110102_disperse_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,318},{248,136}}</string>
                <key>offset</key>
                <string>{15,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,125},{248,136}}</string>
                <key>sourceSize</key>
                <string>{540,280}</string>
            </dict>
            <key>eff_110102_disperse_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,266},{238,132}}</string>
                <key>offset</key>
                <string>{13,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,126},{238,132}}</string>
                <key>sourceSize</key>
                <string>{540,280}</string>
            </dict>
            <key>eff_110102_disperse_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{218,112}}</string>
                <key>offset</key>
                <string>{6,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,107},{218,112}}</string>
                <key>sourceSize</key>
                <string>{540,280}</string>
            </dict>
            <key>eff_110102_disperse_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,266},{188,244}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,21},{188,244}}</string>
                <key>sourceSize</key>
                <string>{540,280}</string>
            </dict>
            <key>eff_110102_disperse_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{194,264}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,1},{194,264}}</string>
                <key>sourceSize</key>
                <string>{540,280}</string>
            </dict>
            <key>eff_110102_disperse_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{202,264}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,1},{202,264}}</string>
                <key>sourceSize</key>
                <string>{540,280}</string>
            </dict>
            <key>eff_110102_disperse_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{206,262}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,2},{206,262}}</string>
                <key>sourceSize</key>
                <string>{540,280}</string>
            </dict>
            <key>eff_110102_disperse_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,268},{226,242}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,27},{226,242}}</string>
                <key>sourceSize</key>
                <string>{540,280}</string>
            </dict>
            <key>eff_110102_disperse_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,268},{226,168}}</string>
                <key>offset</key>
                <string>{5,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,107},{226,168}}</string>
                <key>sourceSize</key>
                <string>{540,280}</string>
            </dict>
            <key>eff_110102_disperse_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,140},{252,176}}</string>
                <key>offset</key>
                <string>{3,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,104},{252,176}}</string>
                <key>sourceSize</key>
                <string>{540,280}</string>
            </dict>
            <key>eff_110102_disperse_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{262,168}}</string>
                <key>offset</key>
                <string>{10,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,105},{262,168}}</string>
                <key>sourceSize</key>
                <string>{540,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_110102_disperse.png</string>
            <key>size</key>
            <string>{1486,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbbaefcd1901fc3695dea02c60d1d3ac:1/1$</string>
            <key>textureFileName</key>
            <string>eff_110102_disperse.png</string>
        </dict>
    </dict>
</plist>
