<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_160304_magic_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{22,20}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{22,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>eff_160304_magic_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{24,22}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{24,22}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>eff_160304_magic_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{24,22}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{24,22}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>eff_160304_magic_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{24,22}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{24,22}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>eff_160304_magic_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{24,22}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{24,22}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>eff_160304_magic_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{24,22}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{24,22}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>eff_160304_magic_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{24,22}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{24,22}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>eff_160304_magic_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,22}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{24,22}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>eff_160304_magic_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{24,20}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{24,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>eff_160304_magic_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{24,20}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{24,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_160304_magic.png</string>
            <key>size</key>
            <string>{28,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4f37a65044ecadb43f1182a8562404e:1/1$</string>
            <key>textureFileName</key>
            <string>eff_160304_magic.png</string>
        </dict>
    </dict>
</plist>
