<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_110101_hammer_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{110,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{110,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>eff_110101_hammer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{110,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{110,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>eff_110101_hammer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>eff_110101_hammer_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{114,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{114,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_110101_hammer.png</string>
            <key>size</key>
            <string>{84,463}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9aec5f2e35dd5631ad0eddfba13bbd8:1/1$</string>
            <key>textureFileName</key>
            <string>eff_110101_hammer.png</string>
        </dict>
    </dict>
</plist>
