<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_110301_photoelastic_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{48,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{48,20}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>eff_110301_photoelastic_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{50,20}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>eff_110301_photoelastic_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{46,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{46,20}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_110301_photoelastic.png</string>
            <key>size</key>
            <string>{152,24}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56ffb58348f1e63a2eec66426527c5ea:1/1$</string>
            <key>textureFileName</key>
            <string>eff_110301_photoelastic.png</string>
        </dict>
    </dict>
</plist>
