<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_110205_armageddon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{158,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,21},{158,72}}</string>
                <key>sourceSize</key>
                <string>{160,112}</string>
            </dict>
            <key>eff_110205_armageddon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{160,74}}</string>
                <key>sourceSize</key>
                <string>{160,112}</string>
            </dict>
            <key>eff_110205_armageddon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,156},{136,82}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{136,82}}</string>
                <key>sourceSize</key>
                <string>{160,112}</string>
            </dict>
            <key>eff_110205_armageddon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,78},{146,76}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{146,76}}</string>
                <key>sourceSize</key>
                <string>{160,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_110205_armageddon.png</string>
            <key>size</key>
            <string>{224,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:826c0742b44079caf47993c762e1430d:1/1$</string>
            <key>textureFileName</key>
            <string>eff_110205_armageddon.png</string>
        </dict>
    </dict>
</plist>
