<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_160204_burning_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{110,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{110,106}}</string>
                <key>sourceSize</key>
                <string>{180,140}</string>
            </dict>
            <key>eff_160204_burning_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{180,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,138}}</string>
                <key>sourceSize</key>
                <string>{180,140}</string>
            </dict>
            <key>eff_160204_burning_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{180,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,140}}</string>
                <key>sourceSize</key>
                <string>{180,140}</string>
            </dict>
            <key>eff_160204_burning_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{180,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,140}}</string>
                <key>sourceSize</key>
                <string>{180,140}</string>
            </dict>
            <key>eff_160204_burning_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{180,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,140}}</string>
                <key>sourceSize</key>
                <string>{180,140}</string>
            </dict>
            <key>eff_160204_burning_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,140}}</string>
                <key>sourceSize</key>
                <string>{180,140}</string>
            </dict>
            <key>eff_160204_burning_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{180,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,138}}</string>
                <key>sourceSize</key>
                <string>{180,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_160204_burning.png</string>
            <key>size</key>
            <string>{184,958}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:575eabd4304b59fc8f175535c61258d4:1/1$</string>
            <key>textureFileName</key>
            <string>eff_160204_burning.png</string>
        </dict>
    </dict>
</plist>
