<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_100505_breath_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{90,66}}</string>
                <key>offset</key>
                <string>{30,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,0},{90,66}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>eff_100505_breath_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1656},{92,62}}</string>
                <key>offset</key>
                <string>{29,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,5},{92,62}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>eff_100505_breath_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{120,70}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{120,70}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>eff_100505_breath_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1076},{128,62}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,9},{128,62}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>eff_100505_breath_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{136,70}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{136,70}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>eff_100505_breath_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{146,62}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{146,62}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>eff_100505_breath_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{150,72}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>eff_100505_breath_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1546},{108,62}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,8},{108,62}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>eff_100505_breath_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{100,72}}</string>
                <key>offset</key>
                <string>{25,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,5},{100,72}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>eff_100505_breath_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1322},{112,62}}</string>
                <key>offset</key>
                <string>{19,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,7},{112,62}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>eff_100505_breath_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{112,70}}</string>
                <key>offset</key>
                <string>{19,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{112,70}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>eff_100505_breath_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1750},{112,60}}</string>
                <key>offset</key>
                <string>{18,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,8},{112,60}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>eff_100505_breath_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{94,72}}</string>
                <key>offset</key>
                <string>{25,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,8},{94,72}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>eff_100505_breath_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1436},{108,62}}</string>
                <key>offset</key>
                <string>{21,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,13},{108,62}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>eff_100505_breath_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{108,68}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,3},{108,68}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>eff_100505_breath_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{114,62}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,8},{114,62}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_100505_breath.png</string>
            <key>size</key>
            <string>{76,1864}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85f21ff9d51773d6e8b3820ad809733e:1/1$</string>
            <key>textureFileName</key>
            <string>eff_100505_breath.png</string>
        </dict>
    </dict>
</plist>
