<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_160304_slow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{48,20}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{48,20}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>eff_160304_slow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,20}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{56,20}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>eff_160304_slow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{54,20}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{54,20}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>eff_160304_slow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{44,20}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{44,20}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_160304_slow.png</string>
            <key>size</key>
            <string>{212,25}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f16436f8ab2377f9522908db8fc7fefe$</string>
            <key>textureFileName</key>
            <string>eff_160304_slow.png</string>
        </dict>
    </dict>
</plist>
