<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_160204_burst_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{244,198}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,44},{244,198}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>eff_160204_burst_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,872},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>eff_160204_burst_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{242,196}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,45},{242,196}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>eff_160204_burst_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{256,226}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,24},{256,226}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>eff_160204_burst_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{246,222}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{246,222}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>eff_160204_burst_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,232}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,18},{246,232}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>eff_160204_burst_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{246,210}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,40},{246,210}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>eff_160204_burst_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1328},{224,210}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,40},{224,210}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>eff_160204_burst_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1540},{184,118}}</string>
                <key>offset</key>
                <string>{-4,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,113},{184,118}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>eff_160204_burst_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,872},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,124.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_160204_burst_2.png</string>
            <key>size</key>
            <string>{250,1660}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6806fe550019c931dd461c13bff4e8c1:1/1$</string>
            <key>textureFileName</key>
            <string>eff_160204_burst_2.png</string>
        </dict>
    </dict>
</plist>
