<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_170301_thunder_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1226},{76,202}}</string>
                <key>offset</key>
                <string>{-2,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,3},{76,202}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>eff_170301_thunder_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1168},{188,180}}</string>
                <key>offset</key>
                <string>{0,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,218},{188,180}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>eff_170301_thunder_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1036},{188,172}}</string>
                <key>offset</key>
                <string>{-1,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,225},{188,172}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>eff_170301_thunder_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1430},{188,176}}</string>
                <key>offset</key>
                <string>{0,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,222},{188,176}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>eff_170301_thunder_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,706},{144,138}}</string>
                <key>offset</key>
                <string>{-1,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,241},{144,138}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>eff_170301_thunder_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1620},{100,100}}</string>
                <key>offset</key>
                <string>{-2,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,257},{100,100}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>eff_170301_thunder_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,378},{108,326}}</string>
                <key>offset</key>
                <string>{-7,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,8},{108,326}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>eff_170301_thunder_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{154,374}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{154,374}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>eff_170301_thunder_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{180,392}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{180,392}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>eff_170301_thunder_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,386}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{192,386}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>eff_170301_thunder_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1620},{194,382}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{194,382}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>eff_170301_thunder_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{190,382}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{190,382}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>eff_170301_thunder_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,846},{188,174}}</string>
                <key>offset</key>
                <string>{0,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,222},{188,174}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>eff_170301_thunder_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1358},{188,178}}</string>
                <key>offset</key>
                <string>{-1,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,220},{188,178}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_170301_thunder.png</string>
            <key>size</key>
            <string>{360,2004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:197d1d7be439519dbe0d59102f89ed75:1/1$</string>
            <key>textureFileName</key>
            <string>eff_170301_thunder.png</string>
        </dict>
    </dict>
</plist>
