<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_170201_glory_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,160},{62,58}}</string>
                <key>offset</key>
                <string>{-1,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,23},{62,58}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>eff_170201_glory_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,158},{60,72}}</string>
                <key>offset</key>
                <string>{-1,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,16},{60,72}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>eff_170201_glory_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{116,146}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,15},{116,146}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>eff_170201_glory_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{124,154}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{124,154}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>eff_170201_glory_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{126,158}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{126,158}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>eff_170201_glory_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,162}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{126,162}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>eff_170201_glory_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{126,158}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,21},{126,158}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>eff_170201_glory_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{126,156}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,22},{126,156}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>eff_170201_glory_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,130},{60,64}}</string>
                <key>offset</key>
                <string>{-2,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,19},{60,64}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>eff_170201_glory_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,130},{58,62}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,19},{58,62}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>eff_170201_glory_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,160},{62,58}}</string>
                <key>offset</key>
                <string>{-2,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,19},{62,58}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>eff_170201_glory_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,194},{58,60}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,20},{58,60}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>eff_170201_glory_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,192},{62,60}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,20},{62,60}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>eff_170201_glory_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,130},{62,60}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,20},{62,60}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>eff_170201_glory_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,194},{56,58}}</string>
                <key>offset</key>
                <string>{-1,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,19},{56,58}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>eff_170201_glory_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,130},{90,144}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,8},{90,144}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_170201_glory.png</string>
            <key>size</key>
            <string>{740,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3135acffe2f3a57563aa6f3aa47debc:1/1$</string>
            <key>textureFileName</key>
            <string>eff_170201_glory.png</string>
        </dict>
    </dict>
</plist>
