<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_110301_photoelastic_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{82,72}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{82,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_110301_photoelastic_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{90,80}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,34},{90,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_110301_photoelastic_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{98,90}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,31},{98,90}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_110301_photoelastic_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,96}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,26},{100,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_110301_photoelastic_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{84,76}}</string>
                <key>offset</key>
                <string>{15,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,50},{84,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_110301_photoelastic_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,104},{1,1}}</string>
                <key>offset</key>
                <string>{-74.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_110301_photoelastic_2.png</string>
            <key>size</key>
            <string>{100,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2719a11908e984cfe40564807239b707:1/1$</string>
            <key>textureFileName</key>
            <string>eff_110301_photoelastic_2.png</string>
        </dict>
    </dict>
</plist>
