<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_160201_stone_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{254,208}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,37},{254,208}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>eff_160201_stone_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{250,206}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,38},{250,206}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>eff_160201_stone_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,212}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,32},{256,212}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>eff_160201_stone_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{244,206}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,36},{244,206}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>eff_160201_stone_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{228,190}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,47},{228,190}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>eff_160201_stone_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1244},{230,148}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,60},{230,148}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>eff_160201_stone_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1476},{142,142}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,66},{142,142}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
            <key>eff_160201_stone_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1620},{120,118}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,66},{120,118}}</string>
                <key>sourceSize</key>
                <string>{300,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_160201_stone_2.png</string>
            <key>size</key>
            <string>{216,1740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:424ea454c115ce3b047756e4437944a4:1/1$</string>
            <key>textureFileName</key>
            <string>eff_160201_stone_2.png</string>
        </dict>
    </dict>
</plist>
