<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_170106_tread_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,878},{84,58}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,73},{84,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_170106_tread_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{90,58}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,75},{90,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_170106_tread_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{86,64}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,72},{86,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_170106_tread_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{122,106}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,40},{122,106}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_170106_tread_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{124,120}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,30},{124,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_170106_tread_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{126,120}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,30},{126,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_170106_tread_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{124,118}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,32},{124,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_170106_tread_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,124}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{124,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_170106_tread_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{120,120}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{120,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>eff_170106_tread_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{106,88}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,55},{106,88}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_170106_tread.png</string>
            <key>size</key>
            <string>{128,966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10db7a8bc29a0f7666eb3d1158448e1e:1/1$</string>
            <key>textureFileName</key>
            <string>eff_170106_tread.png</string>
        </dict>
    </dict>
</plist>
