<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_110101_hit_hammer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1644},{154,144}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,29},{154,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_110101_hit_hammer_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{188,176}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{188,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_110101_hit_hammer_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1790},{144,138}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,40},{144,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_110101_hit_hammer_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1930},{100,100}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,56},{100,100}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_110101_hit_hammer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{180,168}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,23},{180,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_110101_hit_hammer_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1450},{192,172}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,19},{192,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_110101_hit_hammer_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1254},{194,174}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,18},{194,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_110101_hit_hammer_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1062},{190,176}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,18},{190,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_110101_hit_hammer_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{188,174}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{188,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_110101_hit_hammer_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{188,178}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{188,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_110101_hit_hammer_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,180}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{188,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>eff_110101_hit_hammer_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{188,172}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{188,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_110101_hit_hammer.png</string>
            <key>size</key>
            <string>{192,2032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa2275a4f6205cd371e9ad50a1507d9e:1/1$</string>
            <key>textureFileName</key>
            <string>eff_110101_hit_hammer.png</string>
        </dict>
    </dict>
</plist>
