<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xueqiushouji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,760},{160,124}}</string>
                <key>offset</key>
                <string>{-6,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,67},{160,124}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>xueqiushouji_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,290},{14,14}}</string>
                <key>offset</key>
                <string>{27,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,54},{14,14}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>xueqiushouji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{184,144}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,46},{184,144}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>xueqiushouji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{190,138}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,41},{190,138}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>xueqiushouji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{204,140}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{204,140}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>xueqiushouji_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,144}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{218,144}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>xueqiushouji_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{168,86}}</string>
                <key>offset</key>
                <string>{19,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,74},{168,86}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>xueqiushouji_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{166,80}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,60},{166,80}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>xueqiushouji_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{168,94}}</string>
                <key>offset</key>
                <string>{23,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,45},{168,94}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
            <key>xueqiushouji_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,576},{50,48}}</string>
                <key>offset</key>
                <string>{30,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,38},{50,48}}</string>
                <key>sourceSize</key>
                <string>{250,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xueqiushouji.png</string>
            <key>size</key>
            <string>{222,928}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:721951f95d8e19a4002eda6488593b20:1/1$</string>
            <key>textureFileName</key>
            <string>xueqiushouji.png</string>
        </dict>
    </dict>
</plist>
