<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_170201_glory_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{68,58}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{68,58}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>eff_170201_glory_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{68,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{68,58}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>eff_170201_glory_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{68,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{68,58}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>eff_170201_glory_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{68,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{68,58}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>eff_170201_glory_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{68,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{68,58}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>eff_170201_glory_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{68,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{68,58}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>eff_170201_glory_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{68,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{68,58}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>eff_170201_glory_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{68,58}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{68,58}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>eff_170201_glory_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{68,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{68,58}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>eff_170201_glory_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{68,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{68,58}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>eff_170201_glory_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{68,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{68,58}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>eff_170201_glory_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{68,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{68,58}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>eff_170201_glory_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{68,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{68,58}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>eff_170201_glory_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{68,70}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{68,70}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>eff_170201_glory_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,70}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{68,70}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>eff_170201_glory_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{68,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{68,58}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_170201_glory_2.png</string>
            <key>size</key>
            <string>{72,928}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df22ff3aa575a13074ca5376fe789222:1/1$</string>
            <key>textureFileName</key>
            <string>eff_170201_glory_2.png</string>
        </dict>
    </dict>
</plist>
