<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_110301_shield_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,2},{134,102}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{134,102}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>eff_110301_shield_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,108}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{132,108}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>eff_110301_shield_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2},{134,102}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{134,102}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>eff_110301_shield_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{128,104}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{128,104}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>eff_110301_shield_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{124,106}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{124,106}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>eff_110301_shield_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{130,104}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{130,104}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>eff_110301_shield_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{132,104}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{132,104}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>eff_110301_shield_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{132,106}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{132,106}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>eff_110301_shield_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{130,108}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,108}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>eff_110301_shield_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{126,108}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{126,108}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_110301_shield.png</string>
            <key>size</key>
            <string>{1324,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8df960495b607f94b36bedd2c7ecd592:1/1$</string>
            <key>textureFileName</key>
            <string>eff_110301_shield.png</string>
        </dict>
    </dict>
</plist>
