<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_110102_sustained_damage_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{98,198}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{98,198}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
            <key>eff_110102_sustained_damage_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{94,206}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{94,206}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
            <key>eff_110102_sustained_damage_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{94,208}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{94,208}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
            <key>eff_110102_sustained_damage_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{96,210}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{96,210}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
            <key>eff_110102_sustained_damage_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{98,212}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{98,212}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
            <key>eff_110102_sustained_damage_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{94,212}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{94,212}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
            <key>eff_110102_sustained_damage_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{94,212}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{94,212}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
            <key>eff_110102_sustained_damage_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,212}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{98,212}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
            <key>eff_110102_sustained_damage_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{96,212}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{96,212}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
            <key>eff_110102_sustained_damage_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{96,210}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{96,210}}</string>
                <key>sourceSize</key>
                <string>{120,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_110102_sustained_damage.png</string>
            <key>size</key>
            <string>{980,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:274e0f8eab5d818d8474759bb973127e:1/1$</string>
            <key>textureFileName</key>
            <string>eff_110102_sustained_damage.png</string>
        </dict>
    </dict>
</plist>
