<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_170106_slow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{48,28}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{48,28}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>eff_170106_slow_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{48,26}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{48,26}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>eff_170106_slow_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{46,26}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{46,26}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>eff_170106_slow_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{44,28}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{44,28}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>eff_170106_slow_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{48,28}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{48,28}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>eff_170106_slow_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{52,28}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{52,28}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>eff_170106_slow_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{56,28}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>eff_170106_slow_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{54,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{54,28}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>eff_170106_slow_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{52,28}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{52,28}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>eff_170106_slow_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{50,28}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{50,28}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>eff_170106_slow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{46,28}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{46,28}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>eff_170106_slow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{44,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{44,26}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>eff_170106_slow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{54,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{54,26}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>eff_170106_slow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{54,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{54,26}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>eff_170106_slow_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{54,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{54,24}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>eff_170106_slow_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{52,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{52,24}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>eff_170106_slow_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{52,24}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{52,24}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
            <key>eff_170106_slow_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{48,26}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{48,26}}</string>
                <key>sourceSize</key>
                <string>{80,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_170106_slow.png</string>
            <key>size</key>
            <string>{940,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d24ea80d0da22004d60ab6cbd2ce8bc:1/1$</string>
            <key>textureFileName</key>
            <string>eff_170106_slow.png</string>
        </dict>
    </dict>
</plist>
