<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_100503_tour_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,2},{111,121}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{111,121}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>eff_100503_tour_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,121}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{117,121}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>eff_100503_tour_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{115,121}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{115,121}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>eff_100503_tour_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{113,121}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{113,121}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>eff_100503_tour_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{111,121}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{111,121}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>eff_100503_tour_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,2},{111,121}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{111,121}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>eff_100503_tour_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{111,121}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{111,121}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>eff_100503_tour_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{113,121}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{113,121}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>eff_100503_tour_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{113,121}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{113,121}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>eff_100503_tour_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{111,121}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{111,121}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_100503_tour_2.png</string>
            <key>size</key>
            <string>{1148,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:512efa910ccb9440f7e480076dc1a6fd:1/1$</string>
            <key>textureFileName</key>
            <string>eff_100503_tour_2.png</string>
        </dict>
    </dict>
</plist>
