<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_100504_shielded_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{90,70}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,23},{90,70}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>eff_100504_shielded_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{92,68}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{92,68}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>eff_100504_shielded_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{92,76}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{92,76}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>eff_100504_shielded_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{94,76}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{94,76}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>eff_100504_shielded_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{94,72}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{94,72}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>eff_100504_shielded_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{92,76}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{92,76}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>eff_100504_shielded_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{92,80}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{92,80}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>eff_100504_shielded_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{92,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{92,82}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>eff_100504_shielded_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{92,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{92,86}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>eff_100504_shielded_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{94,86}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_100504_shielded_3.png</string>
            <key>size</key>
            <string>{98,794}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10b4d2ea8122244ca18c663a37cc23bb:1/1$</string>
            <key>textureFileName</key>
            <string>eff_100504_shielded_3.png</string>
        </dict>
    </dict>
</plist>
