<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_100211_accelerate_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{112,68}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{112,68}}</string>
                <key>sourceSize</key>
                <string>{130,80}</string>
            </dict>
            <key>eff_100211_accelerate_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{116,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{116,68}}</string>
                <key>sourceSize</key>
                <string>{130,80}</string>
            </dict>
            <key>eff_100211_accelerate_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{116,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{116,68}}</string>
                <key>sourceSize</key>
                <string>{130,80}</string>
            </dict>
            <key>eff_100211_accelerate_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{114,68}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{114,68}}</string>
                <key>sourceSize</key>
                <string>{130,80}</string>
            </dict>
            <key>eff_100211_accelerate_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{116,68}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{116,68}}</string>
                <key>sourceSize</key>
                <string>{130,80}</string>
            </dict>
            <key>eff_100211_accelerate_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,66}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{124,66}}</string>
                <key>sourceSize</key>
                <string>{130,80}</string>
            </dict>
            <key>eff_100211_accelerate_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{122,68}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{122,68}}</string>
                <key>sourceSize</key>
                <string>{130,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_100211_accelerate_2.png</string>
            <key>size</key>
            <string>{128,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac97b9d168b810b7f016627b7704d000:1/1$</string>
            <key>textureFileName</key>
            <string>eff_100211_accelerate_2.png</string>
        </dict>
    </dict>
</plist>
