<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_160304_buffslow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{128,130}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{128,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eff_160304_buffslow_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,2},{126,130}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{126,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eff_160304_buffslow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{128,130}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{128,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eff_160304_buffslow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{128,130}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{128,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eff_160304_buffslow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{128,130}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{128,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eff_160304_buffslow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eff_160304_buffslow_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eff_160304_buffslow_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{128,130}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{128,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eff_160304_buffslow_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{128,130}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{128,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eff_160304_buffslow_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,2},{126,130}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{126,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_160304_buffslow.png</string>
            <key>size</key>
            <string>{1302,134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d49def95a5f0b1b81befdcc4a4af6d35:1/1$</string>
            <key>textureFileName</key>
            <string>eff_160304_buffslow.png</string>
        </dict>
    </dict>
</plist>
