<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_110102_weaken_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,170},{50,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{50,48}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>eff_110102_weaken_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,114},{54,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{54,48}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>eff_110102_weaken_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{54,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{54,42}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>eff_110102_weaken_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,58},{44,38}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{44,38}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>eff_110102_weaken_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,58},{1,1}}</string>
                <key>offset</key>
                <string>{-34.5,34.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>eff_110102_weaken_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{52,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{52,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>eff_110102_weaken_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,114},{54,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{54,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>eff_110102_weaken_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{54,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{54,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>eff_110102_weaken_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{54,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{54,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>eff_110102_weaken_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,58},{56,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{56,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>eff_110102_weaken_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{56,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{56,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>eff_110102_weaken_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{56,56}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>eff_110102_weaken_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,168},{54,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{54,46}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_110102_weaken.png</string>
            <key>size</key>
            <string>{162,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53af436f24a877ae27e1904acd24fc6d$</string>
            <key>textureFileName</key>
            <string>eff_110102_weaken.png</string>
        </dict>
    </dict>
</plist>
