<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_220905_buff_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1136},{105,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,61}}</string>
                <key>sourceSize</key>
                <string>{109,61}</string>
            </dict>
            <key>eff_220905_buff_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1073},{105,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,61}}</string>
                <key>sourceSize</key>
                <string>{109,61}</string>
            </dict>
            <key>eff_220905_buff_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{105,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,61}}</string>
                <key>sourceSize</key>
                <string>{109,61}</string>
            </dict>
            <key>eff_220905_buff_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,947},{105,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,61}}</string>
                <key>sourceSize</key>
                <string>{109,61}</string>
            </dict>
            <key>eff_220905_buff_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{105,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,61}}</string>
                <key>sourceSize</key>
                <string>{109,61}</string>
            </dict>
            <key>eff_220905_buff_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,821},{105,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,61}}</string>
                <key>sourceSize</key>
                <string>{109,61}</string>
            </dict>
            <key>eff_220905_buff_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{105,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,61}}</string>
                <key>sourceSize</key>
                <string>{109,61}</string>
            </dict>
            <key>eff_220905_buff_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,695},{105,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,61}}</string>
                <key>sourceSize</key>
                <string>{109,61}</string>
            </dict>
            <key>eff_220905_buff_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{105,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,61}}</string>
                <key>sourceSize</key>
                <string>{109,61}</string>
            </dict>
            <key>eff_220905_buff_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{105,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,61}}</string>
                <key>sourceSize</key>
                <string>{109,61}</string>
            </dict>
            <key>eff_220905_buff_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{105,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,61}}</string>
                <key>sourceSize</key>
                <string>{109,61}</string>
            </dict>
            <key>eff_220905_buff_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{105,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,61}}</string>
                <key>sourceSize</key>
                <string>{109,61}</string>
            </dict>
            <key>eff_220905_buff_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{105,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,61}}</string>
                <key>sourceSize</key>
                <string>{109,61}</string>
            </dict>
            <key>eff_220905_buff_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{105,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,61}}</string>
                <key>sourceSize</key>
                <string>{109,61}</string>
            </dict>
            <key>eff_220905_buff_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{105,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,61}}</string>
                <key>sourceSize</key>
                <string>{109,61}</string>
            </dict>
            <key>eff_220905_buff_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{105,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,61}}</string>
                <key>sourceSize</key>
                <string>{109,61}</string>
            </dict>
            <key>eff_220905_buff_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{105,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,61}}</string>
                <key>sourceSize</key>
                <string>{109,61}</string>
            </dict>
            <key>eff_220905_buff_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{105,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,61}}</string>
                <key>sourceSize</key>
                <string>{109,61}</string>
            </dict>
            <key>eff_220905_buff_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1199},{103,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{103,61}}</string>
                <key>sourceSize</key>
                <string>{109,61}</string>
            </dict>
            <key>eff_220905_buff_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,61}}</string>
                <key>sourceSize</key>
                <string>{109,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_220905_buff.png</string>
            <key>size</key>
            <string>{109,1275}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e7c06c150287565114e8eafb3ca7a66:1/1$</string>
            <key>textureFileName</key>
            <string>eff_220905_buff.png</string>
        </dict>
    </dict>
</plist>
