<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_110101_shield_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{122,108}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{122,108}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eff_110101_shield_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{120,110}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{120,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eff_110101_shield_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{124,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{124,108}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eff_110101_shield_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{124,112}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{124,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eff_110101_shield_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,112}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{124,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eff_110101_shield_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{120,112}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{120,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eff_110101_shield_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{120,112}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{120,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eff_110101_shield_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{122,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{122,114}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eff_110101_shield_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{122,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{122,114}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eff_110101_shield_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{124,110}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{124,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_110101_shield.png</string>
            <key>size</key>
            <string>{128,1134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1aa1c7d6daa95dc96ec79d9e6b7609e6:1/1$</string>
            <key>textureFileName</key>
            <string>eff_110101_shield.png</string>
        </dict>
    </dict>
</plist>
