<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_170301_anger_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{32,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_170301_anger_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{32,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{32,34}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_170301_anger_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{30,32}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{30,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_170301_anger_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{30,32}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{30,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_170301_anger_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{30,32}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{30,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_170301_anger_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{30,34}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{30,34}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>eff_170301_anger_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{32,34}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_170301_anger.png</string>
            <key>size</key>
            <string>{232,38}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c402f7c761050a814f81e07d54add630$</string>
            <key>textureFileName</key>
            <string>eff_170301_anger.png</string>
        </dict>
    </dict>
</plist>
