<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_110205_attack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,2},{100,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{100,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>eff_110205_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{100,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{100,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>eff_110205_attack_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{106,104}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{106,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>eff_110205_attack_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,108}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{112,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>eff_110205_attack_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{106,102}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{106,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>eff_110205_attack_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{110,104}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{110,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>eff_110205_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{102,106}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{102,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>eff_110205_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{102,108}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{102,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>eff_110205_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,2},{102,112}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{102,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>eff_110205_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,2},{102,100}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{102,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>eff_110205_attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,2},{100,102}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{100,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>eff_110205_attack_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{100,104}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{100,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>eff_110205_attack_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{102,108}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{102,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>eff_110205_attack_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{104,104}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{104,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_110205_attack.png</string>
            <key>size</key>
            <string>{1480,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc3a8981dd3ecb80b3adbb1d8ca1ae02:1/1$</string>
            <key>textureFileName</key>
            <string>eff_110205_attack.png</string>
        </dict>
    </dict>
</plist>
