<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_rebound_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{80,76}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{80,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>eff_rebound_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{80,80}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{80,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>eff_rebound_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{82,82}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{82,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>eff_rebound_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{94,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>eff_rebound_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{92,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{92,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>eff_rebound_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{86,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{86,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_rebound.png</string>
            <key>size</key>
            <string>{98,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8100c5d51a91e89d98f75a25514d09d2$</string>
            <key>textureFileName</key>
            <string>eff_rebound.png</string>
        </dict>
    </dict>
</plist>
