<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>160103_Attack_01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,84},{42,44}}</string>
                <key>offset</key>
                <string>{-3,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,42},{42,44}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Attack_01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,54},{42,42}}</string>
                <key>offset</key>
                <string>{3,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,43},{42,42}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Attack_01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{48,42}}</string>
                <key>offset</key>
                <string>{4,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,43},{48,42}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Attack_01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{50,40}}</string>
                <key>offset</key>
                <string>{5,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,43},{50,40}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Attack_01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,44},{48,38}}</string>
                <key>offset</key>
                <string>{5,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,43},{48,38}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Attack_01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,40},{46,38}}</string>
                <key>offset</key>
                <string>{3,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,43},{46,38}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Attack_01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,84},{42,38}}</string>
                <key>offset</key>
                <string>{1,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,43},{42,38}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Attack_01008.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,40},{42,38}}</string>
                <key>offset</key>
                <string>{1,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,42},{42,38}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Attack_01009.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,84},{40,42}}</string>
                <key>offset</key>
                <string>{0,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,42},{40,42}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Attack_01010.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,84},{42,44}}</string>
                <key>offset</key>
                <string>{-3,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,42},{42,44}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Attack_02001.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,46},{36,50}}</string>
                <key>offset</key>
                <string>{-1,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,35},{36,50}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Attack_02002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{46,52}}</string>
                <key>offset</key>
                <string>{4,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,34},{46,52}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Attack_02003.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{46,52}}</string>
                <key>offset</key>
                <string>{5,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,34},{46,52}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Attack_02004.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{46,50}}</string>
                <key>offset</key>
                <string>{5,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,35},{46,50}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Attack_02005.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{46,50}}</string>
                <key>offset</key>
                <string>{4,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,35},{46,50}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Attack_02006.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{42,50}}</string>
                <key>offset</key>
                <string>{2,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,35},{42,50}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Attack_02007.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,54},{38,50}}</string>
                <key>offset</key>
                <string>{0,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,35},{38,50}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Attack_02008.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{42,50}}</string>
                <key>offset</key>
                <string>{1,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,35},{42,50}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Attack_02009.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,54},{38,50}}</string>
                <key>offset</key>
                <string>{1,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,35},{38,50}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Attack_02010.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,46},{36,50}}</string>
                <key>offset</key>
                <string>{-1,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,35},{36,50}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Idle_01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,84},{42,44}}</string>
                <key>offset</key>
                <string>{-3,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,42},{42,44}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Idle_01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,84},{42,44}}</string>
                <key>offset</key>
                <string>{-3,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,42},{42,44}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Idle_01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,80},{42,44}}</string>
                <key>offset</key>
                <string>{-3,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,41},{42,44}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Idle_01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,40},{42,44}}</string>
                <key>offset</key>
                <string>{-3,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,41},{42,44}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Idle_01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,40},{42,44}}</string>
                <key>offset</key>
                <string>{-3,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,41},{42,44}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Idle_01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,40},{42,44}}</string>
                <key>offset</key>
                <string>{-3,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,41},{42,44}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Idle_01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,56},{42,44}}</string>
                <key>offset</key>
                <string>{-3,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,40},{42,44}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Idle_01008.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,40},{42,44}}</string>
                <key>offset</key>
                <string>{-3,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,41},{42,44}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Idle_01009.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,40},{42,44}}</string>
                <key>offset</key>
                <string>{-3,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,41},{42,44}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Idle_01010.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,40},{42,44}}</string>
                <key>offset</key>
                <string>{-3,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,41},{42,44}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Idle_01011.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,80},{42,44}}</string>
                <key>offset</key>
                <string>{-3,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,41},{42,44}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Idle_01012.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,84},{42,44}}</string>
                <key>offset</key>
                <string>{-3,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,42},{42,44}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Idle_01013.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,84},{42,44}}</string>
                <key>offset</key>
                <string>{-3,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,42},{42,44}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Idle_02001.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,46},{36,50}}</string>
                <key>offset</key>
                <string>{-1,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,35},{36,50}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Idle_02002.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,54},{36,52}}</string>
                <key>offset</key>
                <string>{-1,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,34},{36,52}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Idle_02003.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{36,52}}</string>
                <key>offset</key>
                <string>{-1,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,34},{36,52}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Idle_02004.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{36,52}}</string>
                <key>offset</key>
                <string>{-1,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,34},{36,52}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Idle_02005.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{36,52}}</string>
                <key>offset</key>
                <string>{-1,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,34},{36,52}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Idle_02006.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{36,54}}</string>
                <key>offset</key>
                <string>{-1,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,32},{36,54}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Idle_02007.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,56},{36,54}}</string>
                <key>offset</key>
                <string>{-1,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,32},{36,54}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Idle_02008.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{36,54}}</string>
                <key>offset</key>
                <string>{-1,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,32},{36,54}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Idle_02009.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{36,52}}</string>
                <key>offset</key>
                <string>{-1,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,34},{36,52}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Idle_02010.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{36,52}}</string>
                <key>offset</key>
                <string>{-1,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,34},{36,52}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Idle_02011.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{36,52}}</string>
                <key>offset</key>
                <string>{-1,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,34},{36,52}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Idle_02012.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,54},{36,52}}</string>
                <key>offset</key>
                <string>{-1,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,34},{36,52}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_Idle_02013.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,46},{36,50}}</string>
                <key>offset</key>
                <string>{-1,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,35},{36,50}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_tower001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,92}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,58},{102,92}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160103_tower002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,92}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,58},{102,92}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>160103.png</string>
            <key>size</key>
            <string>{714,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27b47883cb8833952c014860cf91d380$</string>
            <key>textureFileName</key>
            <string>160103.png</string>
        </dict>
    </dict>
</plist>
