<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>160101_Attack_01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{38,48}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,44},{38,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Attack_01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,52},{40,48}}</string>
                <key>offset</key>
                <string>{4,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,43},{40,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Attack_01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{46,48}}</string>
                <key>offset</key>
                <string>{6,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,43},{46,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Attack_01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,58},{50,48}}</string>
                <key>offset</key>
                <string>{7,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,43},{50,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Attack_01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{54,46}}</string>
                <key>offset</key>
                <string>{8,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,44},{54,46}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Attack_01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{52,46}}</string>
                <key>offset</key>
                <string>{5,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,43},{52,46}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Attack_01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,48},{44,44}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,44},{44,44}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Attack_01008.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{44,44}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,44},{44,44}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Attack_01009.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{42,44}}</string>
                <key>offset</key>
                <string>{1,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,44},{42,44}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Attack_02001.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,50},{38,46}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,45},{38,46}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Attack_02002.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,48},{38,44}}</string>
                <key>offset</key>
                <string>{4,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,42},{38,44}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Attack_02003.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{44,48}}</string>
                <key>offset</key>
                <string>{9,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,40},{44,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Attack_02004.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{46,46}}</string>
                <key>offset</key>
                <string>{10,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,41},{46,46}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Attack_02005.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,52},{48,46}}</string>
                <key>offset</key>
                <string>{10,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,41},{48,46}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Attack_02006.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,56},{50,44}}</string>
                <key>offset</key>
                <string>{10,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,42},{50,44}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Attack_02007.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{40,46}}</string>
                <key>offset</key>
                <string>{3,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,41},{40,46}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Attack_02008.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{42,46}}</string>
                <key>offset</key>
                <string>{2,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,41},{42,46}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Attack_02009.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,50},{42,46}}</string>
                <key>offset</key>
                <string>{3,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,41},{42,46}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Attack_02010.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,50},{42,46}}</string>
                <key>offset</key>
                <string>{4,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,41},{42,46}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Attack_02011.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,48},{38,44}}</string>
                <key>offset</key>
                <string>{4,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,42},{38,44}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{38,48}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,44},{38,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{40,48}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,44},{40,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,52},{40,48}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,44},{40,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{40,48}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,43},{40,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,52},{40,48}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,43},{40,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{40,48}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,43},{40,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,52},{40,48}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,42},{40,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_01008.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{40,48}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,42},{40,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_01009.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,52},{40,48}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,42},{40,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_01010.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{40,48}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,43},{40,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_01011.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,52},{40,48}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,43},{40,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_01012.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{40,48}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,43},{40,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_01013.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,52},{40,48}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,44},{40,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_01014.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{40,48}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,44},{40,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_01015.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{38,48}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,44},{38,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_02001.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,48},{38,44}}</string>
                <key>offset</key>
                <string>{4,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,42},{38,44}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_02002.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{38,46}}</string>
                <key>offset</key>
                <string>{4,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,41},{38,46}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_02003.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,50},{38,46}}</string>
                <key>offset</key>
                <string>{4,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,41},{38,46}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_02004.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,50},{40,46}}</string>
                <key>offset</key>
                <string>{3,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,41},{40,46}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_02005.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,52},{40,48}}</string>
                <key>offset</key>
                <string>{3,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,39},{40,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_02006.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{40,48}}</string>
                <key>offset</key>
                <string>{3,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,39},{40,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_02007.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,52},{40,48}}</string>
                <key>offset</key>
                <string>{4,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,39},{40,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_02008.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,52},{40,48}}</string>
                <key>offset</key>
                <string>{4,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,39},{40,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_02009.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,52},{40,48}}</string>
                <key>offset</key>
                <string>{4,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,39},{40,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_02010.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{40,48}}</string>
                <key>offset</key>
                <string>{3,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,39},{40,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_02011.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,52},{40,48}}</string>
                <key>offset</key>
                <string>{3,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,39},{40,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_02012.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,50},{40,46}}</string>
                <key>offset</key>
                <string>{3,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,41},{40,46}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_02013.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,50},{38,46}}</string>
                <key>offset</key>
                <string>{4,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,41},{38,46}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_02014.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{38,46}}</string>
                <key>offset</key>
                <string>{4,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,41},{38,46}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_Idle_02015.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,48},{38,44}}</string>
                <key>offset</key>
                <string>{4,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,42},{38,44}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_View.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,104}}</string>
                <key>offset</key>
                <string>{2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,44},{110,104}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_tower001.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,84}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,64},{110,84}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160101_tower002.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,84}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,64},{110,84}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>160101.png</string>
            <key>size</key>
            <string>{962,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2c3789499e5898b7058f82598492c3e$</string>
            <key>textureFileName</key>
            <string>160101.png</string>
        </dict>
    </dict>
</plist>
