<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>160205_Attack_Far001.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,200},{94,100}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,65},{94,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160205_Attack_Far002.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,298},{94,102}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,63},{94,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160205_Attack_Far003.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,298},{94,102}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,63},{94,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160205_Attack_Far004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{94,104}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,61},{94,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160205_Attack_Far005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,104}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,61},{96,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160205_Attack_Far006.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{94,100}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,65},{94,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160205_Attack_Far007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{94,96}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,69},{94,96}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160205_Attack_Far008.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,104},{94,98}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,67},{94,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160205_Attack_Far009.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,296},{94,98}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,67},{94,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160205_Attack_Far010.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,104},{94,100}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,65},{94,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160205_Attack_Far011.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{94,100}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,65},{94,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160205_Idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,402},{94,100}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,65},{94,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160205_Idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,402},{94,100}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,65},{94,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160205_Idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{94,102}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,63},{94,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160205_Idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,298},{94,102}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,63},{94,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160205_Idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,194},{94,102}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,63},{94,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160205_Idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{94,102}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,63},{94,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160205_Idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,98},{94,102}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,63},{94,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160205_Idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{94,102}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,63},{94,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160205_Idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,202},{94,102}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,63},{94,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160205_Idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,98},{94,102}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,63},{94,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160205_Idle011.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{94,102}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,63},{94,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160205_Idle012.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,394},{94,100}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,65},{94,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160205_Idle013.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,394},{94,100}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,65},{94,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>160205.png</string>
            <key>size</key>
            <string>{506,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eb373848689ab4dbbd2706b825369e9$</string>
            <key>textureFileName</key>
            <string>160205.png</string>
        </dict>
    </dict>
</plist>
