<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>160202_Attack_Far_01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{98,100}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,42},{98,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Attack_Far_01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,406},{96,100}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,42},{96,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Attack_Far_01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,304},{96,100}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,42},{96,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Attack_Far_01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,398},{94,98}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,44},{94,98}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Attack_Far_01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,398},{92,100}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,43},{92,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Attack_Far_01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,202},{100,98}}</string>
                <key>offset</key>
                <string>{3,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,44},{100,98}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Attack_Far_01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,100}}</string>
                <key>offset</key>
                <string>{5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,42},{108,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Attack_Far_01008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{98,100}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,42},{98,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Attack_Far_01009.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,204},{98,100}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,42},{98,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Attack_Far_01010.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,104},{98,102}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,40},{98,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Attack_Far_01011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{98,102}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,40},{98,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Attack_Far_01012.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{102,100}}</string>
                <key>offset</key>
                <string>{2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,42},{102,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Attack_Far_01013.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,302},{94,100}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,42},{94,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Attack_Far_01014.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,406},{96,100}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,42},{96,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Attack_Far_01015.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,304},{96,100}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,42},{96,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Attack_Far_01016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{98,100}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,42},{98,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Idle_01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{98,100}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,42},{98,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Idle_01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{98,100}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,42},{98,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Idle_01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,202},{98,100}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,42},{98,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Idle_01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,102},{98,102}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,40},{98,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Idle_01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,102},{98,102}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,40},{98,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Idle_01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{98,102}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,40},{98,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Idle_01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{98,102}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,40},{98,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Idle_01008.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{98,102}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,40},{98,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Idle_01009.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,102},{98,102}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,40},{98,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Idle_01010.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,102},{98,102}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,40},{98,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Idle_01011.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,202},{98,100}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,42},{98,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Idle_01012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{98,100}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,42},{98,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>160202_Idle_01013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{98,100}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,42},{98,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>160202.png</string>
            <key>size</key>
            <string>{488,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43162e1efe0f89fd84841a4b2c6197f0$</string>
            <key>textureFileName</key>
            <string>160202.png</string>
        </dict>
    </dict>
</plist>
