<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>160512_Attack_Far001.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{40,82}}</string>
                <key>offset</key>
                <string>{-5,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,78},{40,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Attack_Far002.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{40,82}}</string>
                <key>offset</key>
                <string>{-4,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,78},{40,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Attack_Far003.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{42,82}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,79},{42,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Attack_Far004.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,170},{42,82}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,79},{42,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Attack_Far005.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,86},{42,82}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,79},{42,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Attack_Far006.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{42,86}}</string>
                <key>offset</key>
                <string>{-4,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,76},{42,86}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Attack_Far007.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{46,104}}</string>
                <key>offset</key>
                <string>{-6,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,58},{46,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Attack_Far008.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{46,108}}</string>
                <key>offset</key>
                <string>{-7,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,54},{46,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Attack_Far009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,120}}</string>
                <key>offset</key>
                <string>{-6,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,42},{44,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Attack_Far010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{42,122}}</string>
                <key>offset</key>
                <string>{-5,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,38},{42,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Attack_Far011.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,112},{40,120}}</string>
                <key>offset</key>
                <string>{-5,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,41},{40,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Attack_Far012.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,108},{40,118}}</string>
                <key>offset</key>
                <string>{-5,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,44},{40,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Attack_Far013.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,124},{42,118}}</string>
                <key>offset</key>
                <string>{-6,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,43},{42,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Attack_Far014.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{42,82}}</string>
                <key>offset</key>
                <string>{-6,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,78},{42,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Attack_Far015.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,170},{42,82}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,79},{42,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Attack_Far016.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,86},{42,82}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,79},{42,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Attack_Far017.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,212},{40,84}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,78},{40,84}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Attack_Far018.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,170},{40,82}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,79},{40,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{40,82}}</string>
                <key>offset</key>
                <string>{-5,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,78},{40,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,86},{40,82}}</string>
                <key>offset</key>
                <string>{-4,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,78},{40,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{42,82}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,79},{42,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,170},{42,82}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,79},{42,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,86},{42,82}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,79},{42,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,176},{42,84}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,78},{42,84}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,90},{42,84}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,78},{42,84}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,170},{40,84}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,78},{40,84}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,128},{40,84}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,78},{40,84}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,86},{40,82}}</string>
                <key>offset</key>
                <string>{-4,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,78},{40,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Idle011.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{40,82}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,79},{40,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Idle012.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,86},{40,84}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,78},{40,84}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Idle013.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{42,82}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,79},{42,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Idle014.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{42,82}}</string>
                <key>offset</key>
                <string>{-6,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,78},{42,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Idle015.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,170},{42,82}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,79},{42,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Idle016.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,86},{42,82}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,79},{42,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Idle017.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,212},{40,84}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,78},{40,84}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>160512_Idle018.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,170},{40,82}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,79},{40,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>160512.png</string>
            <key>size</key>
            <string>{520,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fea178a0aeb5d5f6d7fc3981419cb47$</string>
            <key>textureFileName</key>
            <string>160512.png</string>
        </dict>
    </dict>
</plist>
