<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jitan_Idle00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,908},{102,112}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,83},{102,112}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,912},{104,112}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,82},{104,112}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,806},{100,112}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,81},{100,112}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,784},{100,112}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,81},{100,112}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,908},{102,112}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,81},{102,112}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,590},{104,114}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,80},{104,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,686},{104,114}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,80},{104,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,374},{102,116}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,79},{102,116}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,372},{104,116}}</string>
                <key>offset</key>
                <string>{4,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,79},{104,116}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,370},{104,116}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,78},{104,116}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,668},{100,114}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,79},{100,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,810},{100,114}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,79},{100,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,908},{102,112}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,81},{102,112}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,686},{104,114}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,80},{104,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,834},{104,112}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,82},{104,112}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,552},{102,114}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,81},{102,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,238},{106,112}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,83},{106,112}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle11001.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,474},{100,114}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,81},{100,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle11002.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,912},{102,114}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,80},{102,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle11003.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,802},{100,112}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,81},{100,112}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle11004.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,916},{100,114}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,79},{100,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle11005.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,706},{102,114}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,79},{102,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle11006.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,270},{100,116}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,78},{100,116}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle11007.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,446},{104,116}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,78},{104,116}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle11008.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,124},{102,118}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,77},{102,118}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle11009.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,118},{106,118}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,77},{106,118}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle11010.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,268},{102,116}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,78},{102,116}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle11011.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,904},{100,114}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,79},{100,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle11012.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,802},{100,114}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,79},{100,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle11013.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,590},{102,114}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,79},{102,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle11014.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,718},{104,114}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,80},{104,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle11015.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,580},{104,114}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,80},{104,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle11016.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,808},{102,114}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,81},{102,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle11017.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,352},{106,114}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,81},{106,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle22001.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,706},{100,114}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,81},{100,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle22002.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,602},{104,114}}</string>
                <key>offset</key>
                <string>{1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,80},{104,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle22003.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,916},{98,114}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,79},{98,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle22004.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,584},{100,114}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,79},{100,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle22005.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,800},{102,114}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,79},{102,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle22006.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,340},{104,116}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,78},{104,116}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle22007.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,234},{104,116}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,78},{104,116}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle22008.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,138},{102,118}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,77},{102,118}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle22009.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,132},{106,118}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,77},{106,118}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle22010.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,264},{104,116}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,78},{104,116}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle22011.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,870},{100,116}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,77},{100,116}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle22012.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,490},{100,114}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,79},{100,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle22013.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,696},{102,114}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,79},{102,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle22014.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,474},{104,114}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,80},{104,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle22015.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,592},{102,114}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,80},{102,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle22016.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,358},{102,114}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,81},{102,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle22017.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,252},{106,114}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,81},{106,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle33001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,692},{102,112}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,83},{102,112}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle33002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,578},{102,112}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,82},{102,112}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle33003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,348},{100,112}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,81},{100,112}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle33004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,234},{100,112}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,81},{100,112}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle33005.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,244},{102,112}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,81},{102,112}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle33006.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,478},{104,114}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,80},{104,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle33007.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,374},{104,114}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,80},{104,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle33008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,116},{102,116}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,79},{102,116}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle33009.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,542},{104,116}}</string>
                <key>offset</key>
                <string>{4,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,79},{104,116}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle33010.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,116},{104,116}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,78},{104,116}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle33011.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,478},{100,114}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,79},{100,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle33012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,462},{100,114}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,79},{100,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle33013.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,660},{102,112}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,81},{102,112}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle33014.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,764},{104,114}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,80},{104,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle33015.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,488},{104,112}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,82},{104,112}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle33016.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,258},{102,114}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,81},{102,114}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle33017.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,388},{104,112}}</string>
                <key>offset</key>
                <string>{4,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,83},{104,112}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle44001.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,138},{110,128}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,67},{110,128}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle44002.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,66},{128,128}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle44003.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,134},{130,128}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,65},{130,128}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle44004.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{130,130}}</string>
                <key>offset</key>
                <string>{2,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,62},{130,130}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle44005.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,136},{130,130}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,63},{130,130}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle44006.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{130,132}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,62},{130,132}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle44007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{130,132}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,62},{130,132}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle44008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,132}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,62},{130,132}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle44009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{128,134}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,61},{128,134}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle44010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{126,134}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,60},{126,134}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle44011.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{124,134}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,59},{124,134}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle44012.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{120,134}}</string>
                <key>offset</key>
                <string>{2,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,58},{120,134}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle44013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{120,136}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,57},{120,136}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle44014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{118,136}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,58},{118,136}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle44015.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{114,136}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,58},{114,136}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle44016.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,2},{112,134}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,60},{112,134}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_Idle44017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{112,136}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,59},{112,136}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_tower001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{96,54}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,138},{96,54}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_tower002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{96,54}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,138},{96,54}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_tower003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{96,54}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,138},{96,54}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_tower004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{96,54}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,138},{96,54}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_tower005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{96,54}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,138},{96,54}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_tower006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{96,54}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,138},{96,54}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_tower007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{96,54}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,138},{96,54}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_tower008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{96,54}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,138},{96,54}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_tower009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{96,54}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,138},{96,54}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_tower010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{96,54}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,138},{96,54}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_tower011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{96,54}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,138},{96,54}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_tower012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{96,54}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,138},{96,54}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_tower013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{96,54}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,138},{96,54}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_tower014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{96,54}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,138},{96,54}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_tower015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{96,54}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,138},{96,54}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_tower016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{96,54}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,138},{96,54}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>jitan_tower017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{96,54}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,138},{96,54}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jitan.png</string>
            <key>size</key>
            <string>{1157,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba6dfcc6db5a5aabd68e9796d5e7c423$</string>
            <key>textureFileName</key>
            <string>jitan.png</string>
        </dict>
    </dict>
</plist>
