<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_JuJi_Hitted_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,554},{243,140}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,142},{243,140}}</string>
                <key>sourceSize</key>
                <string>{347,368}</string>
            </dict>
            <key>effect_JuJi_Hitted_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,652},{219,220}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,103},{219,220}}</string>
                <key>sourceSize</key>
                <string>{347,368}</string>
            </dict>
            <key>effect_JuJi_Hitted_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,696},{171,170}}</string>
                <key>offset</key>
                <string>{-9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,127},{171,170}}</string>
                <key>sourceSize</key>
                <string>{347,368}</string>
            </dict>
            <key>effect_JuJi_Hitted_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,144},{171,170}}</string>
                <key>offset</key>
                <string>{-9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,127},{171,170}}</string>
                <key>sourceSize</key>
                <string>{347,368}</string>
            </dict>
            <key>effect_JuJi_Hitted_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,312},{1,1}}</string>
                <key>offset</key>
                <string>{-173,183.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{347,368}</string>
            </dict>
            <key>effect_JuJi_Hitted_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{191,140}}</string>
                <key>offset</key>
                <string>{-5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,142},{191,140}}</string>
                <key>sourceSize</key>
                <string>{347,368}</string>
            </dict>
            <key>effect_JuJi_Hitted_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,868},{141,140}}</string>
                <key>offset</key>
                <string>{-8,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,142},{141,140}}</string>
                <key>sourceSize</key>
                <string>{347,368}</string>
            </dict>
            <key>effect_JuJi_Hitted_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,326},{217,320}}</string>
                <key>offset</key>
                <string>{-11,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,1},{217,320}}</string>
                <key>sourceSize</key>
                <string>{347,368}</string>
            </dict>
            <key>effect_JuJi_Hitted_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{237,326}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,6},{237,326}}</string>
                <key>sourceSize</key>
                <string>{347,368}</string>
            </dict>
            <key>effect_JuJi_Hitted_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{249,324}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,18},{249,324}}</string>
                <key>sourceSize</key>
                <string>{347,368}</string>
            </dict>
            <key>effect_JuJi_Hitted_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{259,308}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,44},{259,308}}</string>
                <key>sourceSize</key>
                <string>{347,368}</string>
            </dict>
            <key>effect_JuJi_Hitted_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{269,322}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{269,322}}</string>
                <key>sourceSize</key>
                <string>{347,368}</string>
            </dict>
            <key>effect_JuJi_Hitted_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,316},{211,236}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,81},{211,236}}</string>
                <key>sourceSize</key>
                <string>{347,368}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_JuJi_Hitted.png</string>
            <key>size</key>
            <string>{727,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf3b920011d7b3f1daa214cd93db4061:d7f0201520a3aa866123986bb7bf07c4:1628c02c526891cd0c1627206c0a27ce$</string>
            <key>textureFileName</key>
            <string>effect_JuJi_Hitted.png</string>
        </dict>
    </dict>
</plist>
