<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100501-Idle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1323},{268,191}}</string>
                <key>offset</key>
                <string>{-19,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,366},{268,191}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1134},{270,191}}</string>
                <key>offset</key>
                <string>{-21,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,366},{270,191}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Idle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1724},{260,203}}</string>
                <key>offset</key>
                <string>{-16,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,354},{260,203}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Idle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1713},{260,199}}</string>
                <key>offset</key>
                <string>{-15,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,358},{260,199}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Idle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1522},{262,195}}</string>
                <key>offset</key>
                <string>{-16,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,362},{262,195}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Idle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,559},{264,189}}</string>
                <key>offset</key>
                <string>{-17,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,368},{264,189}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Idle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1139},{268,191}}</string>
                <key>offset</key>
                <string>{-19,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,366},{268,191}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Idle_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1323},{268,191}}</string>
                <key>offset</key>
                <string>{-19,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,366},{268,191}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,946},{270,191}}</string>
                <key>offset</key>
                <string>{-22,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,366},{270,191}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{268,191}}</string>
                <key>offset</key>
                <string>{-22,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,366},{268,191}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1327},{266,193}}</string>
                <key>offset</key>
                <string>{-21,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,364},{266,193}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1473},{264,195}}</string>
                <key>offset</key>
                <string>{-20,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,362},{264,195}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1516},{262,195}}</string>
                <key>offset</key>
                <string>{-19,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,362},{262,195}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,1276},{262,195}}</string>
                <key>offset</key>
                <string>{-18,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,362},{262,195}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1525},{260,197}}</string>
                <key>offset</key>
                <string>{-17,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,360},{260,197}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Idle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1719},{260,201}}</string>
                <key>offset</key>
                <string>{-16,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,356},{260,201}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Move_Side_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1473},{246,195}}</string>
                <key>offset</key>
                <string>{-32,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{351,362},{246,195}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Move_Side_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,946},{246,193}}</string>
                <key>offset</key>
                <string>{-31,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,364},{246,193}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Move_Side_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,372},{272,185}}</string>
                <key>offset</key>
                <string>{-17,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,372},{272,185}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Move_Side_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,187},{270,185}}</string>
                <key>offset</key>
                <string>{-18,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,375},{270,185}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Move_Side_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{262,181}}</string>
                <key>offset</key>
                <string>{-18,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,378},{262,181}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Move_Side_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{256,179}}</string>
                <key>offset</key>
                <string>{-19,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,378},{256,179}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Move_Side_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{252,183}}</string>
                <key>offset</key>
                <string>{-21,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,374},{252,183}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Move_Side_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,369},{250,187}}</string>
                <key>offset</key>
                <string>{-24,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,370},{250,187}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Move_Side_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,1081},{248,193}}</string>
                <key>offset</key>
                <string>{-27,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,364},{248,193}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Move_Side_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1670},{248,197}}</string>
                <key>offset</key>
                <string>{-30,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,360},{248,197}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Move_Side_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1194},{246,197}}</string>
                <key>offset</key>
                <string>{-31,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,360},{246,197}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Move_Side_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,414},{246,195}}</string>
                <key>offset</key>
                <string>{-32,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{351,362},{246,195}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Move_Side_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,753},{246,191}}</string>
                <key>offset</key>
                <string>{-28,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,366},{246,191}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Move_Side_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,555},{248,189}}</string>
                <key>offset</key>
                <string>{-25,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,368},{248,189}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Move_Side_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{250,187}}</string>
                <key>offset</key>
                <string>{-21,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,370},{250,187}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Move_Side_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,562},{252,189}}</string>
                <key>offset</key>
                <string>{-18,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,368},{252,189}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Move_Side_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,748},{256,189}}</string>
                <key>offset</key>
                <string>{-16,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,368},{256,189}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Move_Side_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,888},{262,191}}</string>
                <key>offset</key>
                <string>{-15,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,366},{262,191}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Move_Side_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,941},{268,191}}</string>
                <key>offset</key>
                <string>{-16,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,366},{268,191}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Move_Side_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,939},{272,189}}</string>
                <key>offset</key>
                <string>{-16,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,368},{272,189}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Skill_01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1323},{268,191}}</string>
                <key>offset</key>
                <string>{-19,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,366},{268,191}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Skill_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{254,183}}</string>
                <key>offset</key>
                <string>{-22,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,374},{254,183}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Skill_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,662},{224,233}}</string>
                <key>offset</key>
                <string>{-50,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{344,335},{224,233}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Skill_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,559},{260,187}}</string>
                <key>offset</key>
                <string>{-29,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,373},{260,187}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Skill_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,185},{272,185}}</string>
                <key>offset</key>
                <string>{-22,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,372},{272,185}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Skill_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1332},{272,191}}</string>
                <key>offset</key>
                <string>{-20,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,366},{272,191}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Skill_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1323},{268,191}}</string>
                <key>offset</key>
                <string>{-19,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,366},{268,191}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Skill_01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,173}}</string>
                <key>offset</key>
                <string>{-20,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,384},{242,173}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Skill_01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{230,177}}</string>
                <key>offset</key>
                <string>{-19,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,389},{230,177}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Skill_01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,750},{254,189}}</string>
                <key>offset</key>
                <string>{-3,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,379},{254,189}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Skill_01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1721},{308,199}}</string>
                <key>offset</key>
                <string>{28,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{380,358},{308,199}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Skill_01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,374},{186,273}}</string>
                <key>offset</key>
                <string>{-64,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{349,306},{186,273}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Skill_01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{190,247}}</string>
                <key>offset</key>
                <string>{-66,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{345,338},{190,247}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Skill_01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,187},{196,225}}</string>
                <key>offset</key>
                <string>{-69,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,366},{196,225}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
            <key>100501-Skill_01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,183},{184,249}}</string>
                <key>offset</key>
                <string>{-63,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{351,333},{184,249}}</string>
                <key>sourceSize</key>
                <string>{1012,771}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100501.pvr.ccz</string>
            <key>size</key>
            <string>{1277,2031}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:538c0f686ff4c06ae8394aaef6e07acc$</string>
            <key>textureFileName</key>
            <string>100501.pvr.ccz</string>
        </dict>
    </dict>
</plist>
