<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>minotaur_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{146,98}}</string>
                <key>offset</key>
                <string>{20,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,70},{146,98}}</string>
                <key>sourceSize</key>
                <string>{280,220}</string>
            </dict>
            <key>minotaur_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,102}}</string>
                <key>offset</key>
                <string>{20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,66},{148,102}}</string>
                <key>sourceSize</key>
                <string>{280,220}</string>
            </dict>
            <key>minotaur_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,220},{146,96}}</string>
                <key>offset</key>
                <string>{20,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,72},{146,96}}</string>
                <key>sourceSize</key>
                <string>{280,220}</string>
            </dict>
            <key>minotaur_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{146,88}}</string>
                <key>offset</key>
                <string>{20,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,82},{146,88}}</string>
                <key>sourceSize</key>
                <string>{280,220}</string>
            </dict>
            <key>minotaur_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{144,100}}</string>
                <key>offset</key>
                <string>{20,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,68},{144,100}}</string>
                <key>sourceSize</key>
                <string>{280,220}</string>
            </dict>
            <key>minotaur_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{146,108}}</string>
                <key>offset</key>
                <string>{20,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,60},{146,108}}</string>
                <key>sourceSize</key>
                <string>{280,220}</string>
            </dict>
            <key>minotaur_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{148,100}}</string>
                <key>offset</key>
                <string>{20,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,68},{148,100}}</string>
                <key>sourceSize</key>
                <string>{280,220}</string>
            </dict>
            <key>minotaur_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,318},{146,86}}</string>
                <key>offset</key>
                <string>{20,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,82},{146,86}}</string>
                <key>sourceSize</key>
                <string>{280,220}</string>
            </dict>
            <key>minotaur_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,406},{144,96}}</string>
                <key>offset</key>
                <string>{20,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,72},{144,96}}</string>
                <key>sourceSize</key>
                <string>{280,220}</string>
            </dict>
            <key>minotaur_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,112},{146,106}}</string>
                <key>offset</key>
                <string>{20,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,62},{146,106}}</string>
                <key>sourceSize</key>
                <string>{280,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Boss.png</string>
            <key>size</key>
            <string>{300,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4131792bba3c1a73ad8be6e61133a473$</string>
            <key>textureFileName</key>
            <string>Boss.png</string>
        </dict>
    </dict>
</plist>
