<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HalloweenLycan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,70},{60,62}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,46},{60,62}}</string>
                <key>sourceSize</key>
                <string>{176,124}</string>
            </dict>
            <key>HalloweenLycan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,140},{44,66}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,42},{44,66}}</string>
                <key>sourceSize</key>
                <string>{176,124}</string>
            </dict>
            <key>HalloweenLycan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{48,62}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,46},{48,62}}</string>
                <key>sourceSize</key>
                <string>{176,124}</string>
            </dict>
            <key>HalloweenLycan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,134},{56,58}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,50},{56,58}}</string>
                <key>sourceSize</key>
                <string>{176,124}</string>
            </dict>
            <key>HalloweenLycan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{64,66}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,42},{64,66}}</string>
                <key>sourceSize</key>
                <string>{176,124}</string>
            </dict>
            <key>HalloweenLycan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{66,66}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,42},{66,66}}</string>
                <key>sourceSize</key>
                <string>{176,124}</string>
            </dict>
            <key>HalloweenLycan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{60,66}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,42},{60,66}}</string>
                <key>sourceSize</key>
                <string>{176,124}</string>
            </dict>
            <key>HalloweenLycan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,66},{52,56}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,52},{52,56}}</string>
                <key>sourceSize</key>
                <string>{176,124}</string>
            </dict>
            <key>HalloweenLycan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,194},{48,58}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,50},{48,58}}</string>
                <key>sourceSize</key>
                <string>{176,124}</string>
            </dict>
            <key>HalloweenLycan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,208},{44,62}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,46},{44,62}}</string>
                <key>sourceSize</key>
                <string>{176,124}</string>
            </dict>
            <key>HalloweenLycan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{44,66}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,42},{44,66}}</string>
                <key>sourceSize</key>
                <string>{176,124}</string>
            </dict>
            <key>HalloweenLycan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,68}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,40},{42,68}}</string>
                <key>sourceSize</key>
                <string>{176,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HalloweenLycan.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6b816f8294dc06b9790c623d40a5408$</string>
            <key>textureFileName</key>
            <string>HalloweenLycan.png</string>
        </dict>
    </dict>
</plist>
