<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>D:/ErZhan/towerAndroid-8-10/runtime/win32/towerdefence.exe</StartProgram>
    <StartArguments>-size 720x1280 -portrait</StartArguments>
    <StartWorkingDirectory>D:/ErZhan/towerAndroid-8-10/runtime/win32/</StartWorkingDirectory>
  </propertyGroup>
</Project<name />