<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_yilingqu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,2},{170,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,70}}</string>
                <key>sourceSize</key>
                <string>{170,70}</string>
            </dict>
            <key>eff_yilingqu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,2},{138,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{138,58}}</string>
                <key>sourceSize</key>
                <string>{170,70}</string>
            </dict>
            <key>eff_yilingqu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,2},{124,52}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{124,52}}</string>
                <key>sourceSize</key>
                <string>{170,70}</string>
            </dict>
            <key>eff_yilingqu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,2},{108,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,11},{108,46}}</string>
                <key>sourceSize</key>
                <string>{170,70}</string>
            </dict>
            <key>eff_yilingqu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{170,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,70}}</string>
                <key>sourceSize</key>
                <string>{170,70}</string>
            </dict>
            <key>eff_yilingqu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{170,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,70}}</string>
                <key>sourceSize</key>
                <string>{170,70}</string>
            </dict>
            <key>eff_yilingqu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{170,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,70}}</string>
                <key>sourceSize</key>
                <string>{170,70}</string>
            </dict>
            <key>eff_yilingqu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{170,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,70}}</string>
                <key>sourceSize</key>
                <string>{170,70}</string>
            </dict>
            <key>eff_yilingqu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{170,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,70}}</string>
                <key>sourceSize</key>
                <string>{170,70}</string>
            </dict>
            <key>eff_yilingqu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{170,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,70}}</string>
                <key>sourceSize</key>
                <string>{170,70}</string>
            </dict>
            <key>eff_yilingqu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,70}}</string>
                <key>sourceSize</key>
                <string>{170,70}</string>
            </dict>
            <key>eff_yilingqu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,2},{154,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{154,64}}</string>
                <key>sourceSize</key>
                <string>{170,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_yilingqu.png</string>
            <key>size</key>
            <string>{1910,74}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34fab52e066ecc3cc4e0831f2ad649fa:1/1$</string>
            <key>textureFileName</key>
            <string>eff_yilingqu.png</string>
        </dict>
    </dict>
</plist>
