<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_package_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1062},{176,154}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{176,154}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>eff_package_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1418},{176,152}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{176,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>eff_package_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,160}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>eff_package_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{178,160}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>eff_package_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{170,160}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{170,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>eff_package_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{166,160}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{166,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>eff_package_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{176,160}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>eff_package_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{178,156}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{178,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>eff_package_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1240},{176,152}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{176,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>eff_package_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1596},{176,146}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{176,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_package_1.png</string>
            <key>size</key>
            <string>{164,1774}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49fd14a9db112761173e40e00b62df5e:1/1$</string>
            <key>textureFileName</key>
            <string>eff_package_1.png</string>
        </dict>
    </dict>
</plist>
