<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_cdup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,134},{93,120}}</string>
                <key>offset</key>
                <string>{22,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{93,120}}</string>
                <key>sourceSize</key>
                <string>{137,132}</string>
            </dict>
            <key>eff_cdup_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,663},{127,116}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{127,116}}</string>
                <key>sourceSize</key>
                <string>{137,132}</string>
            </dict>
            <key>eff_cdup_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,528},{133,120}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{133,120}}</string>
                <key>sourceSize</key>
                <string>{137,132}</string>
            </dict>
            <key>eff_cdup_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{133,122}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{133,122}}</string>
                <key>sourceSize</key>
                <string>{137,132}</string>
            </dict>
            <key>eff_cdup_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,923},{129,124}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{129,124}}</string>
                <key>sourceSize</key>
                <string>{137,132}</string>
            </dict>
            <key>eff_cdup_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,792},{129,126}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{129,126}}</string>
                <key>sourceSize</key>
                <string>{137,132}</string>
            </dict>
            <key>eff_cdup_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{127,130}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{127,130}}</string>
                <key>sourceSize</key>
                <string>{137,132}</string>
            </dict>
            <key>eff_cdup_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,264},{117,132}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{117,132}}</string>
                <key>sourceSize</key>
                <string>{137,132}</string>
            </dict>
            <key>eff_cdup_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,927},{127,124}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{127,124}}</string>
                <key>sourceSize</key>
                <string>{137,132}</string>
            </dict>
            <key>eff_cdup_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{133,128}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{133,128}}</string>
                <key>sourceSize</key>
                <string>{137,132}</string>
            </dict>
            <key>eff_cdup_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,130}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,130}}</string>
                <key>sourceSize</key>
                <string>{137,132}</string>
            </dict>
            <key>eff_cdup_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{131,130}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,130}}</string>
                <key>sourceSize</key>
                <string>{137,132}</string>
            </dict>
            <key>eff_cdup_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{129,130}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,130}}</string>
                <key>sourceSize</key>
                <string>{137,132}</string>
            </dict>
            <key>eff_cdup_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{127,130}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{127,130}}</string>
                <key>sourceSize</key>
                <string>{137,132}</string>
            </dict>
            <key>eff_cdup_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,398},{119,128}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{119,128}}</string>
                <key>sourceSize</key>
                <string>{137,132}</string>
            </dict>
            <key>eff_cdup_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{109,118}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{109,118}}</string>
                <key>sourceSize</key>
                <string>{137,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_cdup.png</string>
            <key>size</key>
            <string>{254,1056}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a3365e690b0627c1731f68b249683b5:1/1$</string>
            <key>textureFileName</key>
            <string>eff_cdup.png</string>
        </dict>
    </dict>
</plist>
