<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_yilingqu_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,2},{147,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,72}}</string>
                <key>sourceSize</key>
                <string>{147,72}</string>
            </dict>
            <key>eff_yilingqu_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,2},{121,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{121,60}}</string>
                <key>sourceSize</key>
                <string>{147,72}</string>
            </dict>
            <key>eff_yilingqu_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,2},{107,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{107,54}}</string>
                <key>sourceSize</key>
                <string>{147,72}</string>
            </dict>
            <key>eff_yilingqu_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,2},{93,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,12},{93,46}}</string>
                <key>sourceSize</key>
                <string>{147,72}</string>
            </dict>
            <key>eff_yilingqu_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{147,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,72}}</string>
                <key>sourceSize</key>
                <string>{147,72}</string>
            </dict>
            <key>eff_yilingqu_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,2},{147,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,72}}</string>
                <key>sourceSize</key>
                <string>{147,72}</string>
            </dict>
            <key>eff_yilingqu_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{147,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,72}}</string>
                <key>sourceSize</key>
                <string>{147,72}</string>
            </dict>
            <key>eff_yilingqu_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{147,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,72}}</string>
                <key>sourceSize</key>
                <string>{147,72}</string>
            </dict>
            <key>eff_yilingqu_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{147,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,72}}</string>
                <key>sourceSize</key>
                <string>{147,72}</string>
            </dict>
            <key>eff_yilingqu_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{147,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,72}}</string>
                <key>sourceSize</key>
                <string>{147,72}</string>
            </dict>
            <key>eff_yilingqu_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,72}}</string>
                <key>sourceSize</key>
                <string>{147,72}</string>
            </dict>
            <key>eff_yilingqu_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,2},{135,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{135,66}}</string>
                <key>sourceSize</key>
                <string>{147,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_yilingqu_2.png</string>
            <key>size</key>
            <string>{1658,76}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d51bfeff76a9d6a57397723f895a538:1/1$</string>
            <key>textureFileName</key>
            <string>eff_yilingqu_2.png</string>
        </dict>
    </dict>
</plist>
