<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_advanced_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,148},{78,84}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,33},{78,84}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_advanced_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{130,138}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{130,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_advanced_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,144}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{130,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_advanced_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,122},{114,150}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{114,150}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_advanced_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{118,152}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{118,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_advanced_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{118,142}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,9},{118,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_advanced_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{76,84}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,38},{76,84}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_advanced_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,166},{68,70}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,47},{68,70}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_advanced_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,84},{60,66}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,45},{60,66}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_advanced_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,88},{76,82}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,34},{76,82}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_advanced_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,166},{74,80}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,36},{74,80}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_advanced_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{74,80}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,35},{74,80}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_advanced_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{112,96}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,34},{112,96}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_advanced_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,142},{116,104}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{116,104}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_advanced_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{122,112}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,25},{122,112}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_advanced_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,122},{126,122}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{126,122}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_advanced_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,116},{128,132}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{128,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_advanced.png</string>
            <key>size</key>
            <string>{878,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4136c69b15f06f9f9271795e4199869:1/1$</string>
            <key>textureFileName</key>
            <string>ui_advanced.png</string>
        </dict>
    </dict>
</plist>
