<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_diamonds_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,163},{49,43}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{49,43}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ui_diamonds_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,208},{23,25}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,6},{23,25}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ui_diamonds_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,208},{23,25}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,6},{23,25}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ui_diamonds_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,208},{23,25}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,6},{23,25}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ui_diamonds_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,208},{23,25}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,6},{23,25}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ui_diamonds_4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,208},{23,25}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,6},{23,25}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ui_diamonds_4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,208},{23,25}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,6},{23,25}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ui_diamonds_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{63,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{63,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ui_diamonds_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{61,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{61,53}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ui_diamonds_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{59,53}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{59,53}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ui_diamonds_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,59}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ui_diamonds_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{59,53}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{59,53}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ui_diamonds_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,57},{57,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{57,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ui_diamonds_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,110},{51,51}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{51,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>ui_diamonds_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,208},{41,39}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{41,39}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_diamonds_4.png</string>
            <key>size</key>
            <string>{125,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a84d228fa423b67a4a2430b81f560384:1/1$</string>
            <key>textureFileName</key>
            <string>ui_diamonds_4.png</string>
        </dict>
    </dict>
</plist>
