<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_diamonds_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,2},{190,254}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,22},{190,254}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ui_diamonds_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,2},{198,260}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,17},{198,260}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ui_diamonds_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,2},{198,268}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,8},{198,268}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ui_diamonds_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{202,270}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,7},{202,270}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ui_diamonds_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,270}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,7},{202,270}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ui_diamonds_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{200,270}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,7},{200,270}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ui_diamonds_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{198,268}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,9},{198,268}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ui_diamonds_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{194,270}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,7},{194,270}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ui_diamonds_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{196,270}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,7},{196,270}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ui_diamonds_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,2},{198,266}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,11},{198,266}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_diamonds_1.png</string>
            <key>size</key>
            <string>{1998,274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e0fa1c48ff6ff9225e0948d7beacb0e:1/1$</string>
            <key>textureFileName</key>
            <string>ui_diamonds_1.png</string>
        </dict>
    </dict>
</plist>
