<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_hero_advanced_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,780},{142,134}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{142,134}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_hero_advanced_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,318},{152,108}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,35},{152,108}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_hero_advanced_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1064},{138,106}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,33},{138,106}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_hero_advanced_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,924},{138,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,28},{138,106}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_hero_advanced_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,162},{140,104}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,25},{140,104}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_hero_advanced_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1078},{140,108}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{140,108}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_hero_advanced_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,626},{142,120}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,18},{142,120}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_hero_advanced_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{36,52}}</string>
                <key>offset</key>
                <string>{-36,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,90},{36,52}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_hero_advanced_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,56},{28,24}}</string>
                <key>offset</key>
                <string>{-30,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,119},{28,24}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_hero_advanced_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,304},{1,1}}</string>
                <key>offset</key>
                <string>{-79.5,79.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_hero_advanced_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,304},{1,1}}</string>
                <key>offset</key>
                <string>{-79.5,79.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_hero_advanced_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{142,142}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{142,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_hero_advanced_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,304},{1,1}}</string>
                <key>offset</key>
                <string>{-79.5,79.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_hero_advanced_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{142,154}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{142,154}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_hero_advanced_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,158}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{148,158}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_hero_advanced_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{152,130}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,29},{152,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_hero_advanced_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{152,124}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,32},{152,124}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_hero_advanced_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,472},{150,118}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,35},{150,118}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_hero_advanced_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{152,114}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,36},{152,114}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_hero_advanced_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{152,110}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,36},{152,110}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_hero_advanced.png</string>
            <key>size</key>
            <string>{254,1204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd1b3ad214d92ba18c22b15308a4e412:1/1$</string>
            <key>textureFileName</key>
            <string>ui_hero_advanced.png</string>
        </dict>
    </dict>
</plist>
