<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_relation_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,132},{84,118}}</string>
                <key>offset</key>
                <string>{61,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,37},{84,118}}</string>
                <key>sourceSize</key>
                <string>{220,250}</string>
            </dict>
            <key>ui_relation_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{144,222}}</string>
                <key>offset</key>
                <string>{-32,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{144,222}}</string>
                <key>sourceSize</key>
                <string>{220,250}</string>
            </dict>
            <key>ui_relation_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,134},{142,114}}</string>
                <key>offset</key>
                <string>{-32,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,122},{142,114}}</string>
                <key>sourceSize</key>
                <string>{220,250}</string>
            </dict>
            <key>ui_relation_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,2},{164,128}}</string>
                <key>offset</key>
                <string>{-19,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,108},{164,128}}</string>
                <key>sourceSize</key>
                <string>{220,250}</string>
            </dict>
            <key>ui_relation_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{176,170}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,66},{176,170}}</string>
                <key>sourceSize</key>
                <string>{220,250}</string>
            </dict>
            <key>ui_relation_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,2},{136,196}}</string>
                <key>offset</key>
                <string>{32,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,40},{136,196}}</string>
                <key>sourceSize</key>
                <string>{220,250}</string>
            </dict>
            <key>ui_relation_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,2},{130,196}}</string>
                <key>offset</key>
                <string>{37,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,38},{130,196}}</string>
                <key>sourceSize</key>
                <string>{220,250}</string>
            </dict>
            <key>ui_relation_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,140},{108,162}}</string>
                <key>offset</key>
                <string>{49,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,36},{108,162}}</string>
                <key>sourceSize</key>
                <string>{220,250}</string>
            </dict>
            <key>ui_relation_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,174},{70,90}}</string>
                <key>offset</key>
                <string>{68,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,21},{70,90}}</string>
                <key>sourceSize</key>
                <string>{220,250}</string>
            </dict>
            <key>ui_relation_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,134},{130,96}}</string>
                <key>offset</key>
                <string>{38,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,0},{130,96}}</string>
                <key>sourceSize</key>
                <string>{220,250}</string>
            </dict>
            <key>ui_relation_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,156},{140,86}}</string>
                <key>offset</key>
                <string>{32,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{140,86}}</string>
                <key>sourceSize</key>
                <string>{220,250}</string>
            </dict>
            <key>ui_relation_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{152,186}}</string>
                <key>offset</key>
                <string>{-14,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{152,186}}</string>
                <key>sourceSize</key>
                <string>{220,250}</string>
            </dict>
            <key>ui_relation_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{164,222}}</string>
                <key>offset</key>
                <string>{-19,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{164,222}}</string>
                <key>sourceSize</key>
                <string>{220,250}</string>
            </dict>
            <key>ui_relation_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{164,228}}</string>
                <key>offset</key>
                <string>{-20,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{164,228}}</string>
                <key>sourceSize</key>
                <string>{220,250}</string>
            </dict>
            <key>ui_relation_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{164,230}}</string>
                <key>offset</key>
                <string>{-22,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{164,230}}</string>
                <key>sourceSize</key>
                <string>{220,250}</string>
            </dict>
            <key>ui_relation_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,230}}</string>
                <key>offset</key>
                <string>{-24,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{164,230}}</string>
                <key>sourceSize</key>
                <string>{220,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_relation_1.png</string>
            <key>size</key>
            <string>{1758,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:446732a18e354b759e532e196dbb4ccf:1/1$</string>
            <key>textureFileName</key>
            <string>ui_relation_1.png</string>
        </dict>
    </dict>
</plist>
