<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_110205_flames_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{170,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,130}}</string>
                <key>sourceSize</key>
                <string>{170,130}</string>
            </dict>
            <key>eff_110205_flames_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{170,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,130}}</string>
                <key>sourceSize</key>
                <string>{170,130}</string>
            </dict>
            <key>eff_110205_flames_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{170,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,130}}</string>
                <key>sourceSize</key>
                <string>{170,130}</string>
            </dict>
            <key>eff_110205_flames_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{170,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,130}}</string>
                <key>sourceSize</key>
                <string>{170,130}</string>
            </dict>
            <key>eff_110205_flames_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{170,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,130}}</string>
                <key>sourceSize</key>
                <string>{170,130}</string>
            </dict>
            <key>eff_110205_flames_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{170,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,130}}</string>
                <key>sourceSize</key>
                <string>{170,130}</string>
            </dict>
            <key>eff_110205_flames_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,130}}</string>
                <key>sourceSize</key>
                <string>{170,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_110205_flames.png</string>
            <key>size</key>
            <string>{174,926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51b45dc680d3fd4cf003db5805af9c97:1/1$</string>
            <key>textureFileName</key>
            <string>eff_110205_flames.png</string>
        </dict>
    </dict>
</plist>
