<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_110101_buff_turret_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,308},{158,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{158,94}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110101_buff_turret_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{160,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,104}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110101_buff_turret_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{160,102}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110101_buff_turret_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,106},{160,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,100}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110101_buff_turret_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,312},{160,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{160,98}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110101_buff_turret_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,312},{160,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{160,96}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110101_buff_turret_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,308},{158,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{158,94}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110101_buff_turret_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,208},{160,98}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,98}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110101_buff_turret_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,212},{160,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{160,98}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110101_buff_turret_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,110},{160,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,100}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110101_buff_turret_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,326},{160,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{160,102}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110101_buff_turret_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{160,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{160,104}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110101_buff_turret_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110101_buff_turret_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,108}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110101_buff_turret_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{160,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_110101_buff_turret.png</string>
            <key>size</key>
            <string>{506,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00bc920097ddb8c17aca648d4f38f687:1/1$</string>
            <key>textureFileName</key>
            <string>eff_110101_buff_turret.png</string>
        </dict>
    </dict>
</plist>
