<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_110201_speed_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,406},{132,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{132,80}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110201_speed_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,106},{160,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{160,100}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110201_speed_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,208},{160,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{160,98}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110201_speed_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,308},{160,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{160,96}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110201_speed_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,200},{158,96}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{158,96}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110201_speed_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,394},{156,92}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{156,92}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110201_speed_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,406},{132,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{132,80}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110201_speed_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,298},{156,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{156,94}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110201_speed_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,102},{160,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{160,96}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110201_speed_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{160,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{160,98}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110201_speed_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{160,98}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110201_speed_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{160,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{160,100}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110201_speed_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,102}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110201_speed_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{160,104}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>eff_110201_speed_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{160,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,102}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_110201_speed.png</string>
            <key>size</key>
            <string>{489,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2506242717662a518a6866fd2e07502:1/1$</string>
            <key>textureFileName</key>
            <string>eff_110201_speed.png</string>
        </dict>
    </dict>
</plist>
