<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>170101_born001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{6,10}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,66},{6,10}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>170101_born002.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,56},{50,36}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,40},{50,36}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>170101_born003.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{48,52}}</string>
                <key>offset</key>
                <string>{3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,25},{48,52}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>170101_born004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,54}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,23},{44,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>170101_born005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{40,54}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,23},{40,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>170101_born006.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,58},{38,54}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,23},{38,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>170101_born007.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,86},{26,40}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,38},{26,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Attack001.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,86},{26,40}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,38},{26,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Attack002.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,82},{26,38}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,40},{26,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Attack003.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,66},{30,36}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,42},{30,36}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Attack004.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,66},{30,36}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,42},{30,36}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Attack005.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,46},{26,42}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,35},{26,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Attack006.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,46},{26,42}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,35},{26,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Attack007.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,44},{26,40}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,37},{26,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Attack008.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{26,40}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,37},{26,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Attack009.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,86},{26,40}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,38},{26,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Coma001.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,86},{26,40}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,38},{26,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Coma002.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,86},{26,40}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,38},{26,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Coma003.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,44},{26,40}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,38},{26,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Coma004.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,82},{28,38}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,40},{28,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Coma005.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{28,38}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,40},{28,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Coma006.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,42},{28,38}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,40},{28,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Coma007.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,42},{30,38}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,40},{30,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Coma008.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{30,38}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,41},{30,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Coma009.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,42},{30,38}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,40},{30,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Coma010.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,42},{28,38}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,40},{28,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Coma011.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{28,38}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,40},{28,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Coma012.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,82},{28,38}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,40},{28,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Coma013.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,44},{26,40}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,38},{26,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Coma014.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,86},{26,40}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,38},{26,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Coma015.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,86},{26,40}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,38},{26,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Death001.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,86},{26,40}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,38},{26,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Death002.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{26,42}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,36},{26,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Death003.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{28,42}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,35},{28,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Death004.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,50},{28,44}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,33},{28,44}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Death005.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{28,46}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,31},{28,46}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Death006.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,96},{30,42}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,36},{30,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Death007.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,90},{38,36}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,43},{38,36}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Death008.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,46},{42,26}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,54},{42,26}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Death009.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,42},{38,26}}</string>
                <key>offset</key>
                <string>{13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,53},{38,26}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Death010.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,46},{42,26}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,54},{42,26}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Death011.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,46},{42,26}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,54},{42,26}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Death012.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,46},{42,26}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,54},{42,26}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Death013.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{42,26}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,54},{42,26}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Death014.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,44},{40,26}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,54},{40,26}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Death015.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{40,26}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,54},{40,26}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,86},{26,40}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,38},{26,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{26,40}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,38},{26,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,86},{26,40}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,37},{26,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,44},{26,40}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,37},{26,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,46},{26,42}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,35},{26,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{26,42}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,35},{26,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,46},{26,42}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,35},{26,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{26,42}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,35},{26,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,46},{26,42}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,35},{26,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,44},{26,40}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,37},{26,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Idle011.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,86},{26,40}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,37},{26,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Idle012.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{26,40}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,38},{26,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Idle013.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,86},{26,40}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,38},{26,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Move_Side001.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,82},{28,38}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,39},{28,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Move_Side002.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{28,38}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,40},{28,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Move_Side003.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,86},{30,38}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,40},{30,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Move_Side004.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,34},{30,36}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,42},{30,36}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Move_Side005.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{30,36}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,42},{30,36}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Move_Side006.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,90},{32,36}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,42},{32,36}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Move_Side007.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,90},{32,36}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,43},{32,36}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Move_Side008.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,90},{32,36}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,42},{32,36}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Move_Side009.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{30,36}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,42},{30,36}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Move_Side010.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,34},{30,36}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,42},{30,36}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Move_Side011.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,86},{30,38}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,40},{30,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Move_Side012.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{28,38}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,40},{28,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Move_Side013.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,82},{28,38}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,39},{28,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Skill_01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,86},{26,40}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,38},{26,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Skill_01002.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{26,38}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,40},{26,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Skill_01003.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,42},{26,38}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,40},{26,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Skill_01004.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,98},{28,36}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,42},{28,36}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Skill_01005.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,98},{28,36}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,42},{28,36}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Skill_01006.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,44},{28,40}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,37},{28,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Skill_01007.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{28,40}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,37},{28,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Skill_01008.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{28,40}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,37},{28,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Skill_01009.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{28,40}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,37},{28,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Skill_01010.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{26,40}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,37},{26,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Skill_01011.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,86},{26,40}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,38},{26,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Skill_01012.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,86},{26,40}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,38},{26,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>170103.png</string>
            <key>size</key>
            <string>{562,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8892dc395597a23e5412e2457d1de26$</string>
            <key>textureFileName</key>
            <string>170103.png</string>
        </dict>
    </dict>
</plist>
