<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>170205attack001.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,42},{19,20}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{19,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205attack002.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,41},{19,20}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{19,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205attack003.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,41},{19,20}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{19,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205attack004.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,21},{19,18}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,33},{19,18}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205attack005.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,21},{19,18}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,33},{19,18}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205attack006.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,40},{19,24}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,27},{19,24}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205attack007.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{17,22}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,28},{17,22}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205attack008.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{17,22}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,28},{17,22}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205attack009.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{17,24}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,26},{17,24}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205attack010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{19,24}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,26},{19,24}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205attack011.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,21},{19,24}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,26},{19,24}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205attack012.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,41},{19,20}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,31},{19,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205attack013.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,41},{19,20}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,31},{19,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205attack014.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,21},{19,18}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,33},{19,18}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205attack015.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,21},{19,18}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,33},{19,18}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205attack016.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,21},{19,18}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,33},{19,18}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205attack017.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,21},{19,18}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,33},{19,18}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205attack018.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{17,20}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,31},{17,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205attack019.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{17,20}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,31},{17,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205attack020.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,42},{19,20}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{19,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205death001.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,42},{19,20}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{19,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205death002.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,21},{19,18}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,33},{19,18}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205death003.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,21},{21,18}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,33},{21,18}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205death004.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,21},{19,18}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,33},{19,18}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205death005.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{17,18}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,32},{17,18}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205death006.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{15,20}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,31},{15,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205death007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{15,20}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,30},{15,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205death008.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{17,20}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,30},{17,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205death009.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{17,22}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,28},{17,22}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205death010.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{17,22}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,28},{17,22}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205death011.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{17,24}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,26},{17,24}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205death012.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{17,24}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,26},{17,24}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205death013.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{17,26}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,24},{17,26}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205death014.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{17,26}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,24},{17,26}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205death015.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{17,28}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,22},{17,28}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205death016.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,21},{17,30}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,20},{17,30}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205death017.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,21},{17,30}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,20},{17,30}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205death018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,19},{17,30}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,20},{17,30}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,42},{19,20}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{19,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,41},{19,20}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{19,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,41},{19,20}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{19,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,41},{19,20}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{19,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,41},{19,20}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,31},{19,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,40},{19,20}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{19,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,42},{21,20}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,31},{21,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,42},{21,20}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,31},{21,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,42},{21,20}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,31},{21,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,40},{19,20}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{19,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205idle011.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,42},{21,20}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,31},{21,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205idle012.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,21},{19,20}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{19,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205idle013.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,21},{19,20}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{19,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205idle014.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,21},{19,20}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{19,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205idle015.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,21},{19,20}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{19,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
            <key>170205idle016.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,42},{19,20}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{19,20}}</string>
                <key>sourceSize</key>
                <string>{75,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>170205.png</string>
            <key>size</key>
            <string>{403,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2e97f4eadbfc9c11aaaa357cd53b678$</string>
            <key>textureFileName</key>
            <string>170205.png</string>
        </dict>
    </dict>
</plist>
