<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>170204attack001.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1534},{50,50}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,77},{50,50}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attack002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1798},{46,46}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,81},{46,46}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attack003.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,1946},{44,42}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,85},{44,42}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attack004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1836},{46,42}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,85},{46,42}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attack005.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,1814},{46,42}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,85},{46,42}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attack006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1220},{84,76}}</string>
                <key>offset</key>
                <string>{23,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,51},{84,76}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attack007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{96,82}}</string>
                <key>offset</key>
                <string>{34,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,50},{96,82}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attack008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{88,92}}</string>
                <key>offset</key>
                <string>{31,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,50},{88,92}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attack009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{84,98}}</string>
                <key>offset</key>
                <string>{29,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,51},{84,98}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attack010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{80,98}}</string>
                <key>offset</key>
                <string>{26,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,52},{80,98}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attack011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{82,100}}</string>
                <key>offset</key>
                <string>{27,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,51},{82,100}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attack012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{82,98}}</string>
                <key>offset</key>
                <string>{24,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,53},{82,98}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attack013.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,874},{84,66}}</string>
                <key>offset</key>
                <string>{16,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,82},{84,66}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attack014.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,688},{70,64}}</string>
                <key>offset</key>
                <string>{10,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,78},{70,64}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attack015.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1534},{50,50}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,77},{50,50}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attackf001.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1534},{50,50}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,77},{50,50}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attackf002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1606},{50,44}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,83},{50,44}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attackf003.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,1724},{48,40}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,88},{48,40}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attackf004.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,1634},{50,40}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,88},{50,40}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attackf005.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1624},{50,40}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,88},{50,40}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attackf006.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1532},{52,40}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,88},{52,40}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attackf007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1514},{52,40}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,88},{52,40}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attackf008.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,608},{78,64}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,70},{78,64}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attackf009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{100,74}}</string>
                <key>offset</key>
                <string>{14,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,60},{100,74}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attackf010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{100,80}}</string>
                <key>offset</key>
                <string>{14,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,49},{100,80}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attackf011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,90}}</string>
                <key>offset</key>
                <string>{14,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,40},{100,90}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attackf012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{96,90}}</string>
                <key>offset</key>
                <string>{12,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,39},{96,90}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attackf013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{92,88}}</string>
                <key>offset</key>
                <string>{10,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,40},{92,88}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attackf014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{90,90}}</string>
                <key>offset</key>
                <string>{9,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,38},{90,90}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attackf015.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,960},{70,88}}</string>
                <key>offset</key>
                <string>{18,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,38},{70,88}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attackf016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1036},{74,90}}</string>
                <key>offset</key>
                <string>{10,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,37},{74,90}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attackf017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1166},{52,86}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,41},{52,86}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attackf018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{52,86}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,41},{52,86}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204attackf019.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1534},{50,50}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,77},{50,50}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204coma001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1376},{62,34}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,96},{62,34}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204coma002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,760},{62,34}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,96},{62,34}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204coma003.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,572},{62,34}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,96},{62,34}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204coma004.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,536},{62,34}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,96},{62,34}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204coma005.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,498},{62,36}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,94},{62,36}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204coma006.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,460},{62,36}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,94},{62,36}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204coma007.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,498},{62,36}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,94},{62,36}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204coma008.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,536},{62,34}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,96},{62,34}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204coma009.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,572},{62,34}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,96},{62,34}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204coma010.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,760},{62,34}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,96},{62,34}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204coma011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1376},{62,34}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,96},{62,34}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204death001.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1534},{50,50}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,77},{50,50}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204death002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1652},{48,46}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,79},{48,46}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204death003.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,1900},{44,44}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,81},{44,44}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204death004.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,1990},{42,44}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,82},{42,44}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204death005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1966},{42,44}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,82},{42,44}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204death006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1880},{40,46}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,80},{40,46}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204death007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1746},{40,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,78},{40,48}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204death008.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1758},{38,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,78},{38,48}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204death009.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1890},{38,46}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,80},{38,46}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204death010.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,1858},{40,46}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,80},{40,46}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204death011.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1846},{42,46}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,80},{42,46}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204death012.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1714},{42,48}}</string>
                <key>offset</key>
                <string>{-4,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,78},{42,48}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204death013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1700},{44,48}}</string>
                <key>offset</key>
                <string>{-5,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,78},{44,48}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204death014.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,1586},{46,50}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,76},{46,50}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204death015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1464},{48,52}}</string>
                <key>offset</key>
                <string>{-7,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,74},{48,52}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204death016.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1436},{50,52}}</string>
                <key>offset</key>
                <string>{-8,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,74},{50,52}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204death017.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1124},{74,78}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,59},{74,78}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204death018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1298},{76,76}}</string>
                <key>offset</key>
                <string>{-5,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,58},{76,76}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204death019.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1282},{78,76}}</string>
                <key>offset</key>
                <string>{-5,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,58},{78,76}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204death020.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1204},{76,74}}</string>
                <key>offset</key>
                <string>{-5,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,59},{76,74}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204death021.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,796},{68,76}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,60},{68,76}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204death022.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1050},{70,72}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,62},{70,72}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204death023.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1362},{72,74}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,61},{72,74}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1534},{50,50}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,77},{50,50}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1574},{50,48}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,79},{50,48}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1488},{52,44}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,82},{52,44}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1556},{50,48}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,78},{50,48}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,212},{48,54}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,72},{48,54}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,106},{46,60}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,66},{46,60}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,56},{48,60}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,65},{48,60}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,410},{48,62}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,64},{48,62}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,358},{50,62}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,64},{50,62}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{52,60}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,66},{52,60}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204idle011.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,154},{56,56}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,70},{56,56}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204idle012.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,262},{54,46}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,81},{54,46}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204idle013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1412},{52,50}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,77},{52,50}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204idle014.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1534},{50,50}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,77},{50,50}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204move001.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,310},{46,54}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,73},{46,54}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204move002.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1484},{46,52}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,75},{46,52}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204move003.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,1676},{46,48}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,79},{46,48}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204move004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1788},{46,46}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,81},{46,46}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204move005.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1930},{44,42}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,85},{44,42}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204move006.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1990},{42,38}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,89},{42,38}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204move007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1922},{44,42}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,85},{44,42}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204move008.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,1766},{46,46}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,81},{46,46}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204move009.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1666},{46,48}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,79},{46,48}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204move010.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1436},{46,52}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,75},{46,52}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>170204move011.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,310},{46,54}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,73},{46,54}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>170204.png</string>
            <key>size</key>
            <string>{166,2036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a9daad36f65f54791e66ba8d0e06751$</string>
            <key>textureFileName</key>
            <string>170204.png</string>
        </dict>
    </dict>
</plist>
