<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>170301attack001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{40,46}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,56},{40,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301attack002.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,966},{40,42}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,59},{40,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301attack003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,922},{40,42}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,60},{40,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301attack004.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,204},{34,54}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,47},{34,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301attack005.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{30,66}}</string>
                <key>offset</key>
                <string>{-5,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,35},{30,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301attack006.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,430},{30,68}}</string>
                <key>offset</key>
                <string>{-6,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,33},{30,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301attack007.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,360},{30,68}}</string>
                <key>offset</key>
                <string>{-7,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,33},{30,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301attack008.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,124},{32,70}}</string>
                <key>offset</key>
                <string>{-8,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,31},{32,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301attack009.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,890},{52,52}}</string>
                <key>offset</key>
                <string>{12,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,49},{52,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301attack010.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,364},{50,42}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,64},{50,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301attack011.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,312},{50,42}}</string>
                <key>offset</key>
                <string>{12,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,63},{50,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301attack012.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,260},{50,42}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,61},{50,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301attack013.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,458},{44,46}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,56},{44,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301attack014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{40,46}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,56},{40,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301coma001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,608},{46,40}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,65},{46,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301coma002.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,456},{46,40}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,65},{46,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301coma003.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,408},{46,40}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,65},{46,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301coma004.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,360},{46,42}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,63},{46,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301coma005.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,216},{48,42}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,63},{48,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301coma006.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,118},{48,42}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,63},{48,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301coma007.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,124},{48,42}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,63},{48,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301coma008.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,938},{48,42}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,63},{48,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301coma009.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,748},{48,42}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,63},{48,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301coma010.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,698},{48,42}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,63},{48,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301coma011.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,264},{46,42}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,63},{46,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301coma012.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,168},{46,40}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,65},{46,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301coma013.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,174},{46,40}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,65},{46,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301coma014.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,608},{46,40}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,65},{46,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{40,46}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,56},{40,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death002.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,832},{40,44}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,57},{40,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,878},{40,42}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,59},{40,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death004.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,798},{40,42}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,59},{40,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death005.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,944},{48,56}}</string>
                <key>offset</key>
                <string>{7,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,45},{48,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death006.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,770},{58,56}}</string>
                <key>offset</key>
                <string>{6,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,45},{58,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death007.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{62,58}}</string>
                <key>offset</key>
                <string>{6,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,43},{62,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death008.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,710},{58,56}}</string>
                <key>offset</key>
                <string>{6,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,45},{58,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death009.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,830},{58,52}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,50},{58,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death010.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,574},{64,46}}</string>
                <key>offset</key>
                <string>{5,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,55},{64,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{70,44}}</string>
                <key>offset</key>
                <string>{5,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,58},{70,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{72,46}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,59},{72,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{72,44}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,61},{72,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{72,44}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,62},{72,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{72,42}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,65},{72,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{72,40}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,67},{72,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{72,38}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,69},{72,38}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death018.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,130},{72,34}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,73},{72,34}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death019.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,500},{72,30}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,77},{72,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death020.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,284},{74,30}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,77},{74,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death021.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,204},{78,30}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,77},{78,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{80,30}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,77},{80,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{80,30}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,77},{80,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{80,30}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,77},{80,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{80,30}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,77},{80,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{80,30}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,77},{80,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{78,30}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,77},{78,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301death028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{78,30}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,77},{78,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301idle001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{40,46}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,56},{40,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301idle002.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,786},{40,44}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,58},{40,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301idle003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,740},{40,44}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,57},{40,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301idle004.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,648},{40,44}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,57},{40,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301idle005.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,558},{40,50}}</string>
                <key>offset</key>
                <string>{3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,51},{40,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301idle006.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,646},{38,50}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,51},{38,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301idle007.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,558},{36,48}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,53},{36,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301idle008.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,884},{36,46}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,55},{36,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301idle009.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,836},{38,46}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,55},{38,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301idle010.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,602},{38,44}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,57},{38,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301idle011.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,556},{38,44}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,58},{38,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301idle012.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,932},{38,44}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,58},{38,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301idle013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{40,46}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,56},{40,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301move001.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,506},{50,46}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,56},{50,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301move002.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,310},{48,40}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,61},{48,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301move003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,656},{44,40}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,61},{44,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301move004.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,694},{44,44}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,57},{44,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301move005.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,260},{40,48}}</string>
                <key>offset</key>
                <string>{4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,53},{40,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301move006.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,508},{36,48}}</string>
                <key>offset</key>
                <string>{4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,53},{36,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301move007.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,508},{32,46}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,56},{32,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301move008.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,610},{34,40}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,62},{34,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301move009.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,978},{38,42}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,60},{38,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301move010.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,790},{40,44}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,57},{40,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301move011.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,360},{44,48}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,53},{44,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301move012.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,840},{48,48}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,53},{48,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301move013.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,506},{50,46}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,56},{50,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301skill001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{40,46}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,56},{40,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301skill002.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,744},{40,44}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,58},{40,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301skill003.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,416},{40,42}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,60},{40,42}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301skill004.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,312},{46,46}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,57},{46,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301skill005.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,410},{48,46}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,58},{48,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301skill006.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,460},{46,46}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,58},{46,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301skill007.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,890},{48,46}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,58},{48,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301skill008.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,62},{58,60}}</string>
                <key>offset</key>
                <string>{14,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,43},{58,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301skill009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{60,62}}</string>
                <key>offset</key>
                <string>{16,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,41},{60,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301skill010.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,646},{56,62}}</string>
                <key>offset</key>
                <string>{14,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,41},{56,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301skill011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,62}}</string>
                <key>offset</key>
                <string>{14,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,41},{60,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301skill012.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,60},{56,62}}</string>
                <key>offset</key>
                <string>{12,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,41},{56,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301skill013.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{56,62}}</string>
                <key>offset</key>
                <string>{12,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,41},{56,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301skill014.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,698},{40,44}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,60},{40,44}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301skill015.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,216},{42,46}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,56},{42,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170301skill016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{40,46}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,56},{40,46}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>170301.png</string>
            <key>size</key>
            <string>{225,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9a5053476a2b2694fc28bd9acdd3761$</string>
            <key>textureFileName</key>
            <string>170301.png</string>
        </dict>
    </dict>
</plist>
