<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>170401_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,52},{50,66}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,40},{50,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170401_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,72}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,34},{50,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170401_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{48,72}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,34},{48,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170401_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{48,74}}</string>
                <key>offset</key>
                <string>{-3,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,32},{48,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170401_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{48,74}}</string>
                <key>offset</key>
                <string>{-3,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,32},{48,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170401_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,52},{50,64}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,42},{50,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170401_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,76},{50,66}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,40},{50,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170401_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{50,68}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,38},{50,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170401_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,52},{50,66}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,40},{50,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170401_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,72}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,34},{50,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170401_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{48,72}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,34},{48,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170401_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{48,74}}</string>
                <key>offset</key>
                <string>{-3,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,32},{48,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170401_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{48,74}}</string>
                <key>offset</key>
                <string>{-3,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,32},{48,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170401_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,52},{50,64}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,42},{50,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170401_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,76},{50,66}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,40},{50,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170401_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{50,68}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,38},{50,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170401_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,52},{50,66}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,40},{50,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170401_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,72}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,34},{50,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170401_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{48,72}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,34},{48,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170401_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{48,74}}</string>
                <key>offset</key>
                <string>{-3,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,32},{48,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170401_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{48,74}}</string>
                <key>offset</key>
                <string>{-3,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,32},{48,74}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170401_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,52},{50,64}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,42},{50,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170401_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,76},{50,66}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,40},{50,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>170401_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{50,68}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,38},{50,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>170401.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:375ff34be841f1a81021e1408f1446f9$</string>
            <key>textureFileName</key>
            <string>170401.png</string>
        </dict>
    </dict>
</plist>
