<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_110301_poison_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,154},{36,24}}</string>
                <key>offset</key>
                <string>{-1,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,234},{36,24}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
            <key>eff_110301_poison_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,154},{84,68}}</string>
                <key>offset</key>
                <string>{-2,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,211},{84,68}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
            <key>eff_110301_poison_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{150,112}}</string>
                <key>offset</key>
                <string>{-1,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,182},{150,112}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
            <key>eff_110301_poison_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{200,230}}</string>
                <key>offset</key>
                <string>{-1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,70},{200,230}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
            <key>eff_110301_poison_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{230,296}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{230,296}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
            <key>eff_110301_poison_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,298}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{238,298}}</string>
                <key>sourceSize</key>
                <string>{260,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_110301_poison.png</string>
            <key>size</key>
            <string>{916,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a04eae2679e4c44967ceb99d3faf58ff:1/1$</string>
            <key>textureFileName</key>
            <string>eff_110301_poison.png</string>
        </dict>
    </dict>
</plist>
