<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_ZhaDan_Hitted_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,478},{1,1}}</string>
                <key>offset</key>
                <string>{-277.5,331.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{556,664}</string>
            </dict>
            <key>effect_ZhaDan_Hitted_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{430,370}}</string>
                <key>offset</key>
                <string>{-27,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,142},{430,370}}</string>
                <key>sourceSize</key>
                <string>{556,664}</string>
            </dict>
            <key>effect_ZhaDan_Hitted_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,488},{472,372}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,141},{472,372}}</string>
                <key>sourceSize</key>
                <string>{556,664}</string>
            </dict>
            <key>effect_ZhaDan_Hitted_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,862},{472,364}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,138},{472,364}}</string>
                <key>sourceSize</key>
                <string>{556,664}</string>
            </dict>
            <key>effect_ZhaDan_Hitted_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,1590},{408,368}}</string>
                <key>offset</key>
                <string>{-40,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,134},{408,368}}</string>
                <key>sourceSize</key>
                <string>{556,664}</string>
            </dict>
            <key>effect_ZhaDan_Hitted_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1590},{408,370}}</string>
                <key>offset</key>
                <string>{-40,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,132},{408,370}}</string>
                <key>sourceSize</key>
                <string>{556,664}</string>
            </dict>
            <key>effect_ZhaDan_Hitted_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1326},{408,372}}</string>
                <key>offset</key>
                <string>{-40,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,130},{408,372}}</string>
                <key>sourceSize</key>
                <string>{556,664}</string>
            </dict>
            <key>effect_ZhaDan_Hitted_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1308},{408,372}}</string>
                <key>offset</key>
                <string>{-40,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,130},{408,372}}</string>
                <key>sourceSize</key>
                <string>{556,664}</string>
            </dict>
            <key>effect_ZhaDan_Hitted_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1700},{300,320}}</string>
                <key>offset</key>
                <string>{14,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,132},{300,320}}</string>
                <key>sourceSize</key>
                <string>{556,664}</string>
            </dict>
            <key>effect_ZhaDan_Hitted_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,894},{412,414}}</string>
                <key>offset</key>
                <string>{-1,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,201},{412,414}}</string>
                <key>sourceSize</key>
                <string>{556,664}</string>
            </dict>
            <key>effect_ZhaDan_Hitted_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{474,480}}</string>
                <key>offset</key>
                <string>{-7,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,168},{474,480}}</string>
                <key>sourceSize</key>
                <string>{556,664}</string>
            </dict>
            <key>effect_ZhaDan_Hitted_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{474,602}}</string>
                <key>offset</key>
                <string>{-7,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,62},{474,602}}</string>
                <key>sourceSize</key>
                <string>{556,664}</string>
            </dict>
            <key>effect_ZhaDan_Hitted_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,2},{474,484}}</string>
                <key>offset</key>
                <string>{-7,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,20},{474,484}}</string>
                <key>sourceSize</key>
                <string>{556,664}</string>
            </dict>
            <key>effect_ZhaDan_Hitted_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{474,504}}</string>
                <key>offset</key>
                <string>{-7,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{474,504}}</string>
                <key>sourceSize</key>
                <string>{556,664}</string>
            </dict>
            <key>effect_ZhaDan_Hitted_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,478},{474,414}}</string>
                <key>offset</key>
                <string>{-7,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,91},{474,414}}</string>
                <key>sourceSize</key>
                <string>{556,664}</string>
            </dict>
            <key>effect_ZhaDan_Hitted_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1682},{418,346}}</string>
                <key>offset</key>
                <string>{-33,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,159},{418,346}}</string>
                <key>sourceSize</key>
                <string>{556,664}</string>
            </dict>
            <key>effect_ZhaDan_Hitted_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1228},{426,360}}</string>
                <key>offset</key>
                <string>{-29,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,148},{426,360}}</string>
                <key>sourceSize</key>
                <string>{556,664}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_ZhaDan_Hitted.png</string>
            <key>size</key>
            <string>{1588,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4359746cfd7ac043cb9ffb0e884d4b1a:525eb1fb9dfb1e9ac86830a9656ab72e:4f134f53e52f409507bf7480209b56cc$</string>
            <key>textureFileName</key>
            <string>effect_ZhaDan_Hitted.png</string>
        </dict>
    </dict>
</plist>
