<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_windy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1548},{103,77}}</string>
                <key>offset</key>
                <string>{-448,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,49},{103,77}}</string>
                <key>sourceSize</key>
                <string>{1235,379}</string>
            </dict>
            <key>eff_windy_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1629},{591,315}}</string>
                <key>offset</key>
                <string>{-9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,13},{591,315}}</string>
                <key>sourceSize</key>
                <string>{1235,379}</string>
            </dict>
            <key>eff_windy_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{725,311}}</string>
                <key>offset</key>
                <string>{73,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,32},{725,311}}</string>
                <key>sourceSize</key>
                <string>{1235,379}</string>
            </dict>
            <key>eff_windy_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{897,283}}</string>
                <key>offset</key>
                <string>{169,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,73},{897,283}}</string>
                <key>sourceSize</key>
                <string>{1235,379}</string>
            </dict>
            <key>eff_windy_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{845,201}}</string>
                <key>offset</key>
                <string>{186,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,138},{845,201}}</string>
                <key>sourceSize</key>
                <string>{1235,379}</string>
            </dict>
            <key>eff_windy_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{695,229}}</string>
                <key>offset</key>
                <string>{199,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,150},{695,229}}</string>
                <key>sourceSize</key>
                <string>{1235,379}</string>
            </dict>
            <key>eff_windy_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,983},{563,165}}</string>
                <key>offset</key>
                <string>{222,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{558,193},{563,165}}</string>
                <key>sourceSize</key>
                <string>{1235,379}</string>
            </dict>
            <key>eff_windy_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,490},{491,167}}</string>
                <key>offset</key>
                <string>{281,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{653,191},{491,167}}</string>
                <key>sourceSize</key>
                <string>{1235,379}</string>
            </dict>
            <key>eff_windy_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1548},{421,135}}</string>
                <key>offset</key>
                <string>{357,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{764,183},{421,135}}</string>
                <key>sourceSize</key>
                <string>{1235,379}</string>
            </dict>
            <key>eff_windy_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,287},{1,1}}</string>
                <key>offset</key>
                <string>{-617,189}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1235,379}</string>
            </dict>
            <key>eff_windy_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,287},{1,1}}</string>
                <key>offset</key>
                <string>{-617,189}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1235,379}</string>
            </dict>
            <key>eff_windy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,1841},{205,95}}</string>
                <key>offset</key>
                <string>{-418,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,48},{205,95}}</string>
                <key>sourceSize</key>
                <string>{1235,379}</string>
            </dict>
            <key>eff_windy_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1488},{335,139}}</string>
                <key>offset</key>
                <string>{-364,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,44},{335,139}}</string>
                <key>sourceSize</key>
                <string>{1235,379}</string>
            </dict>
            <key>eff_windy_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1488},{527,215}}</string>
                <key>offset</key>
                <string>{-347,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{527,215}}</string>
                <key>sourceSize</key>
                <string>{1235,379}</string>
            </dict>
            <key>eff_windy_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,1198},{641,217}}</string>
                <key>offset</key>
                <string>{-282,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{641,217}}</string>
                <key>sourceSize</key>
                <string>{1235,379}</string>
            </dict>
            <key>eff_windy_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,803},{699,235}}</string>
                <key>offset</key>
                <string>{-266,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{699,235}}</string>
                <key>sourceSize</key>
                <string>{1235,379}</string>
            </dict>
            <key>eff_windy_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1271},{657,215}}</string>
                <key>offset</key>
                <string>{-233,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,42},{657,215}}</string>
                <key>sourceSize</key>
                <string>{1235,379}</string>
            </dict>
            <key>eff_windy_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,515},{681,271}}</string>
                <key>offset</key>
                <string>{-185,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,38},{681,271}}</string>
                <key>sourceSize</key>
                <string>{1235,379}</string>
            </dict>
            <key>eff_windy_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{511,269}}</string>
                <key>offset</key>
                <string>{-70,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{292,28},{511,269}}</string>
                <key>sourceSize</key>
                <string>{1235,379}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_windy.png</string>
            <key>size</key>
            <string>{1173,2017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1035d9c5af052fa4babb8c97c7766ae8:1/1$</string>
            <key>textureFileName</key>
            <string>eff_windy.png</string>
        </dict>
    </dict>
</plist>
