<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_sunny_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,382},{476,354}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{476,354}}</string>
                <key>sourceSize</key>
                <string>{500,430}</string>
            </dict>
            <key>eff_sunny_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{480,378}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{480,378}}</string>
                <key>sourceSize</key>
                <string>{500,430}</string>
            </dict>
            <key>eff_sunny_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{480,378}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{480,378}}</string>
                <key>sourceSize</key>
                <string>{500,430}</string>
            </dict>
            <key>eff_sunny_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,382}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{480,382}}</string>
                <key>sourceSize</key>
                <string>{500,430}</string>
            </dict>
            <key>eff_sunny_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{480,378}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{480,378}}</string>
                <key>sourceSize</key>
                <string>{500,430}</string>
            </dict>
            <key>eff_sunny_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{480,376}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{480,376}}</string>
                <key>sourceSize</key>
                <string>{500,430}</string>
            </dict>
            <key>eff_sunny_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1524},{480,362}}</string>
                <key>offset</key>
                <string>{-1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{480,362}}</string>
                <key>sourceSize</key>
                <string>{500,430}</string>
            </dict>
            <key>eff_sunny_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1136},{478,366}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{478,366}}</string>
                <key>sourceSize</key>
                <string>{500,430}</string>
            </dict>
            <key>eff_sunny_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1512},{478,370}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{478,370}}</string>
                <key>sourceSize</key>
                <string>{500,430}</string>
            </dict>
            <key>eff_sunny_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,738},{474,370}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{474,370}}</string>
                <key>sourceSize</key>
                <string>{500,430}</string>
            </dict>
            <key>eff_sunny_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1504},{466,372}}</string>
                <key>offset</key>
                <string>{-6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{466,372}}</string>
                <key>sourceSize</key>
                <string>{500,430}</string>
            </dict>
            <key>eff_sunny_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1136},{478,374}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{478,374}}</string>
                <key>sourceSize</key>
                <string>{500,430}</string>
            </dict>
            <key>eff_sunny_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,382},{480,376}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{480,376}}</string>
                <key>sourceSize</key>
                <string>{500,430}</string>
            </dict>
            <key>eff_sunny_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{476,378}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{476,378}}</string>
                <key>sourceSize</key>
                <string>{500,430}</string>
            </dict>
            <key>eff_sunny_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,760},{480,374}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{480,374}}</string>
                <key>sourceSize</key>
                <string>{500,430}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_sunny.png</string>
            <key>size</key>
            <string>{1444,1888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16a79dca19c21dd9306bf6c0797ac71a:1/1$</string>
            <key>textureFileName</key>
            <string>eff_sunny.png</string>
        </dict>
    </dict>
</plist>
